@{
    ViewBag.Title = "HermanoRMProjects";
    Layout = "~/Views/Shared/_LayoutHermano.cshtml";
}
<style>
    .if-zoom .image_frame .image_wrapper .image_links {
        display: unset;
    }

    .hc-projects img.scale-with-grid, #Content img {
        height: 251px;
    }

    .image_frame .image_wrapper .image_links, .portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc {
        background: rgba(28, 130, 86, 0.80);
    }

        .image_frame .image_wrapper .image_links a:hover {
            background: #ffffff;
            color: rgba(28, 130, 86, 0.80) !important;
        }

    h5 {
        color: #056b39 !important;
    }
</style>
<div id="Content">
    <div class="section full-width center dark flv_sections_53" style="background-image: url(../../assets/HarmanoRepair/images/hr-project-header.jpg);background-size: cover;background-repeat: no-repeat;" data-stellar-background-ratio="0.5">
        <div class="section_wrapper clearfix">
            <div class="items_group clearfix"></div>
            <h2 class="mobView">
                Our Projects
            </h2>
        </div>
    </div>
    <div class="section mcb-section" style="padding-top:80px; padding-bottom:40px; background-color:#ededed">
        <div class="section_wrapper clearfix">
            <!-- One full width row-->
            <div id="Filters" class="column one isotope-filters">
                <ul class="filters_buttons">
                    <li class="label">
                        Filter by
                    </li>
                    <li class="categories">
                        <a class="open" href="#"><i class="icon-docs"></i>Categories<i class="icon-down-dir"></i></a>
                    </li>
                    <li class="reset">
                        <a class="close" data-rel="*" href="#"><i class="icon-cancel"></i> Show all</a>
                    </li>
                </ul>
                <div class="filters_wrapper">
                    <ul class="categories">
                        <li>
                            <a data-rel=".category-home" href="#">Repair</a>
                        </li>
                        <li>
                            <a data-rel=".category-appartment" href="#">Plumbing</a>
                        </li>
                        <li>
                            <a data-rel=".category-shop" href="#">Maintainence</a>
                        </li>
                        <li>
                            <a data-rel=".category-photography" href="#">Others</a>
                        </li>
                        @*<li>
                        <a data-rel=".category-print" href="#">Category 5</a>
                    </li>
                    <li>
                        <a data-rel=".category-webdesign" href="#">Category 6</a>
                    </li>*@
                        <li class="close">
                            <a href="#"><i class="icon-cancel"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column one column_portfolio hc-projects">
                <div class="portfolio_wrapper isotope_wrapper">
                    <ul class="portfolio_group lm_wrapper isotope grid">
                        <!-- Portfolio item -->
                        <li class="portfolio-item isotope-item category-home category-appartment  ">
                            <div class="portfolio-item-fw-bg">
                                <div class="portfolio-item-fw-wrapper">

                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                            <a href="~/assets/ImagesPlaneraInterior/adhari-p2.jpg" class="zoom" rel="prettyphoto">
                                                <div class="mask"></div><img width="650" height="650px" src="~/assets/HarmanoRepair/images/hermano-gallery/01.jpg" class="scale-with-grid wp-post-image" />
                                            </a>
                                            <div class="image_links">
                                                <a href="~/assets/HarmanoRepair/images/hermano-gallery/01.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="title_wrapper">
                                            <h5 class="entry-title"><a href="">#1</a></h5>
                                        </div>
                                        <div class="desc-wrapper"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Portfolio item -->
                        <li class="portfolio-item isotope-item category-shop category-photography ">
                            <div class="portfolio-item-fw-bg">
                                <div class="portfolio-item-fw-wrapper">
                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                            <a href="">
                                                <div class="mask"></div><img width="640" height="500" src="~/assets/HarmanoRepair/images/hermano-gallery/02.jpg" class="scale-with-grid wp-post-image" />
                                            </a>
                                            <div class="image_links ">
                                                <a href="~/assets/HarmanoRepair/images/hermano-gallery/02.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="title_wrapper">
                                            <h5 class="entry-title"><a href="">#2</a></h5>

                                        </div>
                                        <div class="details-wrapper">

                                        </div>
                                        <div class="desc-wrapper"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Portfolio item -->
                        <li class="portfolio-item isotope-item category-home category-appartment">
                            <div class="portfolio-item-fw-bg">
                                <div class="portfolio-item-fw-wrapper">
                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                            <a href="">
                                                <div class="mask"></div><img width="640" height="500" src="~/assets/HarmanoRepair/images/hermano-gallery/03.jpg" class="scale-with-grid wp-post-image" />
                                            </a>
                                            <div class="image_links  ">
                                                <a href="~/assets/HarmanoRepair/images/hermano-gallery/03.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="" class="link"><i class="icon-link"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="title_wrapper">
                                            <h5 class="entry-title"><a href="">#3</a></h5>
                                        </div>
                                        <div class="details-wrapper">
                                        </div>
                                        <div class="desc-wrapper"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Portfolio item -->
                        <li class="portfolio-item isotope-item category-home category-photography category-appartment">
                            <div class="portfolio-item-fw-bg">
                                <div class="portfolio-item-fw-wrapper">
                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                            <a href="">
                                                <div class="mask"></div><img width="640" height="500" src="~/assets/HarmanoRepair/images/hermano-gallery/04.jpg" class="scale-with-grid wp-post-image" />
                                            </a>
                                            <div class="image_links ">
                                                <a href="~/assets/HarmanoRepair/images/hermano-gallery/04.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="" class="link"><i class="icon-link"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="title_wrapper">
                                            <h5 class="entry-title"><a href="">#4</a></h5>
                                        </div>
                                        <div class="details-wrapper">
                                        </div>
                                        <div class="desc-wrapper"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Portfolio item -->
                        <li class="portfolio-item isotope-item category-home category-photography category-appartment">
                            <div class="portfolio-item-fw-bg">
                                <div class="portfolio-item-fw-wrapper">
                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                            <a href="">
                                                <div class="mask"></div><img width="640" height="500" src="~/assets/HarmanoRepair/images/hermano-gallery/05.jpg" class="scale-with-grid wp-post-image" />
                                            </a>
                                            <div class="image_links  ">
                                                <a href="~/assets/HarmanoRepair/images/hermano-gallery/05.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="title_wrapper">
                                            <h5 class="entry-title"><a href="">#5</a></h5>
                                        </div>
                                        <div class="details-wrapper">
                                        </div>
                                        <div class="desc-wrapper"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Portfolio item -->
                        <li class="portfolio-item isotope-item category-appartment category-home">
                            <div class="portfolio-item-fw-bg">
                                <div class="portfolio-item-fw-wrapper">
                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                            <a href="">
                                                <div class="mask"></div><img width="640" height="500" src="~/assets/HarmanoRepair/images/hermano-gallery/06.jpg" class="scale-with-grid wp-post-image" />
                                            </a>
                                            <div class="image_links ">
                                                <a href="~/assets/HarmanoRepair/images/hermano-gallery/06.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="" class="link"><i class="icon-link"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="title_wrapper">
                                            <h5 class="entry-title"><a href="">#6</a></h5>
                                        </div>
                                        <div class="details-wrapper">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Portfolio item -->
                        <li class="portfolio-item isotope-item category-home category-appartment category-photography">
                            <div class="portfolio-item-fw-bg">
                                <div class="portfolio-item-fw-wrapper">
                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                            <a href="">
                                                <div class="mask"></div><img width="640" height="500" src="~/assets/HarmanoRepair/images/hermano-gallery/07.jpg" class="scale-with-grid wp-post-image" />
                                            </a>
                                            <div class="image_links  ">
                                                <a href="~/assets/HarmanoRepair/images/hermano-gallery/07.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="title_wrapper">
                                            <h5 class="entry-title"><a href="">#7</a></h5>
                                       </div>
                                        <div class="details-wrapper">
                                        </div>
                                        <div class="desc-wrapper"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Portfolio item -->
                        <li class="portfolio-item isotope-item category-home">
                            <div class="portfolio-item-fw-bg">
                                <div class="portfolio-item-fw-wrapper">
                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                            <a href="">
                                                <div class="mask"></div><img width="640" height="500" src="~/assets/HarmanoRepair/images/hermano-gallery/08.jpg" class="scale-with-grid wp-post-image" />
                                            </a>
                                            <div class="image_links  ">
                                                <a href="~/assets/HarmanoRepair/images/hermano-gallery/08.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="title_wrapper">
                                            <h5 class="entry-title"><a href="">#8</a></h5>
                                            <div class="button-love">
                                                <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"></a>
                                            </div>
                                        </div>
                                        <div class="details-wrapper">

                                        </div>
                                        <div class="desc-wrapper"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio-item isotope-item category-home">
                            <div class="portfolio-item-fw-bg">
                                <div class="portfolio-item-fw-wrapper">
                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                            <a href="">
                                                <div class="mask"></div><img width="640" height="500" src="~/assets/HarmanoRepair/images/hermano-gallery/09.jpg" class="scale-with-grid wp-post-image" />
                                            </a>
                                            <div class="image_links  ">
                                                <a href="~/assets/HarmanoRepair/images/hermano-gallery/09.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="title_wrapper">
                                            <h5 class="entry-title"><a href="">#9</a></h5>
                                            <div class="button-love">
                                                <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"></a>
                                            </div>
                                        </div>
                                        <div class="details-wrapper">
                                        </div>
                                        <div class="desc-wrapper"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio-item isotope-item category-home">
                            <div class="portfolio-item-fw-bg">
                                <div class="portfolio-item-fw-wrapper">
                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                            <a href="">
                                                <div class="mask"></div><img width="640" height="500" src="~/assets/HarmanoRepair/images/hermano-gallery/10.jpg" class="scale-with-grid wp-post-image" />
                                            </a>
                                            <div class="image_links  ">
                                                <a href="~/assets/HarmanoRepair/images/hermano-gallery/10.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="title_wrapper">
                                            <h5 class="entry-title"><a href="">#10</a></h5>
                                            <div class="button-love">
                                                <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"></a>
                                            </div>
                                        </div>
                                        <div class="details-wrapper">
                                        </div>
                                        <div class="desc-wrapper"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio-item isotope-item category-home">
                            <div class="portfolio-item-fw-bg">
                                <div class="portfolio-item-fw-wrapper">
                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                            <a href="">
                                                <div class="mask"></div><img width="640" height="500" src="~/assets/HarmanoRepair/images/hermano-gallery/11.jpg" class="scale-with-grid wp-post-image" />
                                            </a>
                                            <div class="image_links  ">
                                                <a href="~/assets/HarmanoRepair/images/hermano-gallery/11.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="title_wrapper">
                                            <h5 class="entry-title"><a href="">#11</a></h5>
                                            <div class="button-love">
                                                <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"></a>
                                            </div>
                                        </div>
                                        <div class="details-wrapper">

                                        </div>
                                        <div class="desc-wrapper"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- One full width row-->
                </div>
            </div>
        </div>
    </div>
</div>