
@{
    ViewBag.Title = "HermanoAbout";
    Layout = "~/Views/Shared/_LayoutHermano.cshtml";
}
<div id="Content">
    <div class="section full-width center dark flv_sections_53" style="background-image: url(../../assets/HarmanoRepair/images/about-header.jpg);background-size: cover;background-repeat: no-repeat;" data-stellar-background-ratio="0.5">
        <div class="section_wrapper clearfix">
            <div class="items_group clearfix"></div>
            <h1 class="mobView">
                About Us
            </h1>
        </div>
    </div>
    <div class="section" style="padding-top:70px;padding-bottom:70px">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-center mobile_align_center">
                        <h2>
                           Who We Are   
                        </h2>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-12" style="padding:0px 2%">
                    <div class="column_attr clearfix text-center">
                        <p>
                            We are providing the most extensive range of services from home maintenance to personal assistance.
                            We make sure that your safety is never compromised.
                        </p>
                        <p>
                            This is why we hire all the staff under the roof of
                            Hermano repair and maintainence company.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section mcb-section  bg-cover" style="padding: 50px; background-color: #e5ebe1">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-6  " style="padding: 90px 8%; background-image: url('../../assets/HarmanoRepair/images/why choose.png'); background-repeat: no-repeat; background-position: right bottom; color: white;">
                    <h3 style="color:white;">
                        WHY
                        <br />
                        CHOOSE
                        <br />
                        HERMANO
                    </h3>
                    <p>
                        We are providing the most extensive range of services from home maintenance to personal assistance.
                        We make sure that your safety is never compromised. This is why we hire all the staff under the roof of
                        Hermano repair and maintainence company.

                    </p>
                    <hr class="no_line" style="margin:0 auto 20px">
                    <a class="button button_size_2" href="/hermano/repair-maintenance/services" style="background-color:#ffd800;"><span class="" style="color:black;">Book Now</span></a>
                </div>
                <div class="col-md-6  "> <img src="~/assets/HarmanoRepair/images/hrm-about-s2-img1.png" alt="reno4-home-team" title="" /> </div>
            </div>
        </div>
    </div>
    <div class="section" style="padding-top: 70px; padding-bottom: 50px; background-image: url(../../assets/HarmanoRepair/images/bg-hrm-s4.png); background-repeat: no-repeat; background-position: right bottom; ">
        <div class="container">
           
            <div class="row">
                <div class="col-md-4" style="padding:0px 2%">
                    <div class="row sectionani align-items-center">
                        <div class="col-md-10 offset-1 text-center">
                            <img src="~/assets/HarmanoRepair/images/hrm-icon1.png" alt="reno4-home-icon3" title="" />
                            <hr class="no_line" style="margin:0 auto 20px">
                        </div>
                        <div class="col-12">
                            <div class="column_attr clearfix text-center">
                                <h4 style="color: #057437;">Professional Maintainence</h4>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="padding:0px 2%">
                    <div class="row sectionani align-items-center">
                        <div class="col-md-10 offset-1 text-center">
                            <img src="~/assets/HarmanoRepair/images/hrm-icon2.png" alt="reno4-home-icon3" title=" />
                            <hr class="no_line" style="margin:0 auto 20px">
                        </div>
                        <div class="col-12">
                            <div class="column_attr clearfix text-center">
                                <h4 style="color: #057437;">24/7 Services</h4>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="padding:0px 2%">
                    <div class="row sectionani align-items-center">
                        <div class="col-md-10 offset-1 text-center">
                            <img src="~/assets/HarmanoRepair/images/hrm-icon3.png" alt="reno4-home-icon3" title=""  />
                            <hr class="no_line" style="margin:0 auto 20px">
                        </div>
                        <div class="col-12">
                            <div class="column_attr clearfix text-center">
                                <h4 style="color: #057437;">Affordable Price</h4>

                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
    <div class="section mcb-section" style="padding-top:20px; padding-bottom:0px;">
        <div class="section mcb-section">
            <div class="wrap   clearfix">
                <div class="mcb-wrap-inner">
                    <div>
                       
                        <div class="wrapper">
                            <div class="sliding-background"></div>
                        </div>
                        <style>
                            .wrapper {
                                overflow: hidden;
                            }
                            .sliding-background {
                                background: url(../../assets/HarmanoRepair/images/Hermano-Team-Slider-Rev-1.jpg) repeat-x;
                                height: 535px;
                                width: 5076px;
                                animation: slide 30s linear infinite;
                            }

                            @@keyframes slide {
                                0% {
                                    transform: translate3d(0, 0, 0);
                                }

                                100% {
                                    transform: translate3d(-1692px, 0, 0);
                                }
                            }
                        </style>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="section mcb-section" style="padding-top:0px; padding-bottom:40px;">
        <div class="section mcb-section">
            <div class="bg-newsletter py-5">
                <div class="container">
                    <div class="row justify-content-center ">
                        <h4 class="text-newsletter text-center text-black">Subscribe Our <span><br />Newsletter</span></h4>
                        <div class="col-lg-6" style="padding-top:5px;">

                            <div class="input-group mb-3">
                                <input type="email" class="form-control" placeholder="Enter your email" style="background-color:white;border-top-left-radius: 10px;border-bottom-left-radius: 10px;border:none;height:50px;">
                                <div class="input-group-append">
                                    <button type="submit" style="background-color: #275935; margin: 0;color:white; border-top-right-radius: 10px; border-bottom-right-radius: 10px;">Submit</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //animation section
    function reveal() {
        var reveals = document.querySelectorAll(".reveal");

        for (var i = 0; i < reveals.length; i++) {
            var windowHeight = window.innerHeight;
            var elementTop = reveals[i].getBoundingClientRect().top;
            var elementVisible = 150;

            if (elementTop < windowHeight - elementVisible) {
                reveals[i].classList.add("active");
            } else {
                reveals[i].classList.remove("active");
            }
        }
    }

    window.addEventListener("scroll", reveal);
</script>

