
@{
    ViewBag.Title = "HermanoHome";
    Layout = "~/Views/Shared/_LayoutHermano.cshtml";
}

<div class="mfn-main-slider mfn-rev-slider">

    <p class="rs-p-wp-fix"></p>
    <rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery" style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
        <rs-module id="rev_slider_1_1" data-version="6.3.6">
            <rs-slides>
                <rs-slide data-key="rs-1" data-title="Slide" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
                    <img src="~/assets/ImagesHermano/reno4-slider-bg.png" class="rev-slidebg">
                    <rs-layer id="slider-1-slide-1-layer-0" data-type="text" data-color="#10293d" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:80px,80px,1px,1px;y:m;yo:-146px,-146px,-190px,-190px;" data-text="w:normal;s:70,70,84,84;l:80,80,77,77;fw:700;" data-frame_0="x:0,0,0px,0px;y:0,0,0px,0px;" data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;" data-frame_999="o:0;st:w;" style="z-index:9;font-family:Comfortaa;">
                        Repair &
                        <br> Maintenance
                    </rs-layer>
                    @*<a id="slider-1-slide-1-layer-1" class="rs-layer" href="#" target="_self" rel="nofollow" data-type="text" data-color="rgba(16, 41, 61, 0.79)" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:259px,259px,-70px,-70px;y:m,m,b,b;yo:245px,245px,50px,50px;" data-text="w:normal;s:17,17,16,16;l:50,50,48,48;a:center;" data-dim="w:50px,50px,48px,48px;" data-border="bor:25px,25px,25px,25px;" data-frame_0="x:0,0,0px,0px;y:0,0,0px,0px;" data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;" data-frame_999="o:0;st:w;" style="z-index:14;background-color:#f2f2f2;font-family:Open Sans;cursor:pointer;"><i class="icon-facebook"></i> </a>*@

                    <a id="slider-1-slide-1-layer-2" class="rs-layer rev-btn" href="/hermano/repair-maintenance/about" target="_self" rel="nofollow" data-type="button" data-color="#10293d" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:78px,78px,0,78px;yo:539px,539px,309px,309px;" data-text="w:normal;s:16,16,18,18;l:40,40,52,52;fw:700;" data-dim="minh:0px,0px,none,0px;" data-padding="t:4;r:40,40,52,52;b:4;l:40,40,52,52;" data-frame_0="x:0,0,0px,0px;y:0,0,0px,0px;" data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;" data-frame_999="o:0;st:w;" data-frame_hover="c:#fff;bgc:#237231;bor:0px,0px,0px,0px;bri:120%;" style="z-index:15;background-color:#ffd800;font-family:Open Sans;;color:#237231">Learn more</a>

                    @*<rs-layer id="slider-1-slide-1-layer-3" data-type="shape" data-rsp_ch="on" data-xy="xo:80px,80px,67px,67px;yo:640px,640px,470px,470px;" data-text="w:normal;s:20,20,12,12;l:0,0,15,15;" data-dim="w:400px,400px,250px,250px;h:2px,2px,1px,1px;" data-vbility="t,t,f,f" data-frame_999="o:0;st:w;" style="z-index:16;background-color:#dadada;"></rs-layer>*@

                    <rs-layer id="slider-1-slide-1-layer-5" data-type="text" data-color="#10293d" data-rsp_ch="on" data-xy="xo:80px,80px,58px,58px;y:m;yo:-2px,-2px,-26px,-26px;" data-text="w:normal;s:16,16,9,9;l:26,26,15,15;" data-dim="w:478px,478px,299px,299px;" data-vbility="t,t,f,f" data-frame_999="o:0;st:w;" style="z-index:10;font-family:Open Sans;">
                        Hermano repair and maintainence company provides services to the clients to maintain their Facility
                        and requires the expertise and support of Facility Management Professionals`.
                      
                    </rs-layer>

                    <rs-layer id="slider-1-slide-1-layer-7" data-type="text" data-color="rgba(16, 41, 61, 0.79)" data-rsp_ch="on" data-xy="xo:80px,80px,60px,60px;y:m;yo:245px,245px,45px,45px;" data-text="w:normal;s:15,15,13,13;l:23,23,18,18;" data-dim="w:300px,150px,132px,132px;" data-vbility="t,t,f,f" data-frame_0="x:0,0,0px,0px;y:0,0,0px,0px;" data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;" data-frame_999="o:0;st:w;" style="z-index:11;font-family:Open Sans;">
                    </rs-layer>

                    @*<a id="slider-1-slide-1-layer-8" class="rs-layer" href="#" target="_self" rel="nofollow" data-type="text" data-color="rgba(16, 41, 61, 0.79)" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:379px,379px,71px,71px;y:m,m,b,b;yo:245px,245px,50px,50px;" data-text="w:normal;s:17,17,16,16;l:50;a:center;" data-dim="w:50px;" data-border="bor:25px,25px,25px,25px;" data-frame_0="x:0,0,0px,0px;y:0,0,0px,0px;" data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;" data-frame_999="o:0;st:w;" style="z-index:13;background-color:#f2f2f2;font-family:Open Sans;cursor:pointer;"><i class="icon-pinterest"></i> </a>*@

                    @*<a id="slider-1-slide-1-layer-9" class="rs-layer" href="https://www.instagram.com/hermano.landscaping/" target="_blank" rel="nofollow" data-type="text" data-color="rgba(16, 41, 61, 0.79)" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:319px,319px,0,319px;y:m,m,b,b;yo:245px,245px,50px,50px;" data-text="w:normal;s:17,17,16,16;l:50,50,49,49;a:center;" data-dim="w:50px,50px,49px,49px;" data-border="bor:25px,25px,25px,25px;" data-frame_0="x:0,0,0px,0px;y:0,0,0px,0px;" data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;" data-frame_999="o:0;st:w;" style="z-index:12;background-color:#f2f2f2;font-family:Open Sans;cursor:pointer;"><i class="icon-instagram"></i> </a>*@

                    <rs-layer id="slider-1-slide-1-layer-10" data-type="shape" data-rsp_ch="on" data-xy="xo:50px,50px,0,50px;yo:224px,224px,0,224px;" data-text="w:normal;s:20,20,12,12;l:0,0,15,15;" data-dim="w:300px,300px,100%,100%;h:180px,180px,100%,100%;" data-vbility="f,f,t,t" data-frame_999="o:0;st:w;" style="z-index:8;background-color:rgba(255,255,255,0.25);"></rs-layer>

                </rs-slide>
            </rs-slides>
        </rs-module>
    </rs-module-wrap>
    @*END REVOLUTION SLIDER*@
</div>

<div id="Content">
    <div class="section mcb-section  bg-cover" style="padding-bottom:50px;background-image:url(../assets/reno4-home-homes-bg.png);background-repeat:no-repeat;background-position:center top">
        <div class="container">
            <div class="row ">
                <div class="col-md-6 sectionani reveal fade-left "> <img src="~/assets/ImagesHermano/reno4-home-team.png" alt="reno4-home-team" title="" /> </div>
                <div class="col-md-6 reveal fade-right " style="padding: 90px 8%; background-image: url(../../assets/ImagesHermano/reno4-home-homes-bg.png); background-repeat: no-repeat; background-position: right bottom; color: white;">
                    <h3 style="color:white;">Our Services</h3>
                    <p>
                        We are providing the most extensive range of services from home maintenance to personal assistance.
                        We make sure that your safety is never compromised. This is why we hire all the staff under the roof of
                        Hermano repair and maintainence company.

                    </p>
                    <hr class="no_line" style="margin:0 auto 20px">
                    <a class="button button_size_2" href="/hermano/repair-maintenance/about" style="background-color:#ffd800;"><span class="" style="color:black;">Learn more</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="section" style="padding-top:70px;padding-bottom:50px">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-center mobile_align_center">
                        <h2>
                            Our experts are on hand
                        </h2>
                    </div>
                </div>
                <div class="col-12">
                    <hr class="no_line" style="margin:0 auto 50px">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" style="padding:0px 2%">
                    <div class="row sectionani align-items-center">
                        <div class="col-md-10 offset-1">
                            <img src="~/assets/ImagesHermano/Repair house hold appliances.png" alt="reno4-home-icon3" title="" width="780" height="780" />
                            <hr class="no_line" style="margin:0 auto 20px">
                        </div>
                        <div class="col-12">
                            <div class="column_attr clearfix text-center">
                                <h4>Repair House Hold and Appliances</h4>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="padding:0px 2%">
                    <div class="row sectionani align-items-center">
                        <div class="col-md-10 offset-1">
                            <img src="~/assets/ImagesHermano/electrical work.png" alt="reno4-home-icon3" title="" width="780" height="780" />
                            <hr class="no_line" style="margin:0 auto 20px">
                        </div>
                        <div class="col-12">
                            <div class="column_attr clearfix text-center">
                                <h4>Electricity</h4>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="padding:0px 2%">
                    <div class="row sectionani align-items-center">
                        <div class="col-md-10 offset-1">
                            <img src="~/assets/ImagesHermano/Plumbing Work.png" alt="reno4-home-icon3" title="" width="780" height="780" />
                            <hr class="no_line" style="margin:0 auto 20px">
                        </div>
                        <div class="col-12">
                            <div class="column_attr clearfix text-center">
                                <h4>Plumbing</h4>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="padding:0px 2%">
                    <div class="row sectionani align-items-center">
                        <div class="col-md-10 offset-1">
                            <img src="~/assets/ImagesHermano/Air Conditioner Maintenance Work.png" alt="reno4-home-icon1" title="" width="780" height="780" />
                            <hr class="no_line" style="margin:0 auto 20px">
                        </div>
                        <div class="col-12">
                            <div class="column_attr clearfix text-center">
                                <h4>Air Conditioner Maintenance</h4>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="row">
                    <div class="col-md-3" style="padding:0px 2%">
                        <div class="row sectionani reveal fade-left">
                            <div class="col-md-8">
                                <img src="~/assets/ImagesHermano/garden equipment.png" alt="reno4-home-icon1" title="" width="780" height="780" />
                                <hr class="no_line" style="margin:0 auto 20px">
                            </div>
                            <div class="col-12">
                                <div class="column_attr clearfix mobile_align_center">
                                    <h3>Garden Equipment</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding:0px 2%">
                        <div class="row sectionani reveal fade-bottom">
                            <div class="col-md-8">
                                <img src="~/assets/ImagesHermano/landscape design.png" alt="reno4-home-icon2" title="" width="780" height="780" />
                                <hr class="no_line" style="margin:0 auto 20px">
                            </div>
                            <div class="col-12">
                                <div class="column_attr clearfix mobile_align_center">
                                    <h3>Landscape Design</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding:0px 2%">
                        <div class="row sectionani reveal fade-right">
                            <div class="col-md-8">
                                <img src="~/assets/ImagesHermano/Plumbing Work.png" alt="reno4-home-icon3" title="" width="780" height="780" />
                                <hr class="no_line" style="margin:0 auto 20px">
                            </div>
                            <div class="col-12">
                                <div class="column_attr clearfix mobile_align_center">
                                    <h3>Plumbing Work</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding:0px 2%">
                        <div class="row sectionani reveal fade-right">
                            <div class="col-md-8">
                                <img src="~/assets/ImagesHermano/Repair house hold appliances.png" alt="reno4-home-icon3" title="" width="780" height="780" />
                                <hr class="no_line" style="margin:0 auto 20px">
                            </div>
                            <div class="col-12">
                                <div class="column_attr clearfix mobile_align_center">
                                    <h3>Repair House Hold Appliances</h3>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>*@
        </div>
    </div>
    <div class="section hiw" style="padding-top: 70px; padding-bottom: 70px; background-image: url(../../assets/ImagesHermano/bg-hiw.png); background-repeat: no-repeat; background-position: right center;background-size:cover">
        <div class="container">
            <div class="row">
                <div class="col-12 ">
                    <div class="text-center mobile_align_center text-light">
                        <h5>HOW IT WORKS</h5>
                        <h2>
                            Book Service In Few Steps
                        </h2>
                    </div>
                </div>
                <div class="col-12">
                    <hr class="no_line" style="margin:0 auto 50px">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center" style="padding:0px 2%">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="~/assets/ImagesHermano/hiw-img1.png" title="" />
                            <hr class="no_line" style="margin:0 auto 20px">
                        </div>
                        <div class="col-12 text-center">
                            <div class="column_attr clearfix mobile_align_center">
                                <h4>Select the service</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center" style="padding:0px 2%">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="~/assets/ImagesHermano/hiw-img2.png" title="" />
                            <hr class="no_line" style="margin:0 auto 20px">
                        </div>
                        <div class="col-12 text-center">
                            <div class="column_attr clearfix mobile_align_center">
                                <h4>Choose the slot</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center" style="padding:0px 2%">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="~/assets/ImagesHermano/hiw-img3.png" title="" />
                            <hr class="no_line" style="margin:0 auto 20px">
                        </div>
                        <div class="col-12 text-center">
                            <div class="column_attr clearfix mobile_align_center">
                                <h4>Make payment and relax</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <hr class="no_line" style="margin:0 auto 50px">
                </div>

                <div class="col-2 offset-5 ">
                    <div class="text-center mobile_align_center" style="padding:6px 0%;">
                        <a class="button button_full_width button_size_2" href="/hermano/repair-maintenance/services" style="background-color:#FFD800!important;color:#10293D;width:100%">Our offer</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section mcb-section full-width" style="padding-top:55px;padding-bottom:70px;background-image:url(../assets/reno4-home-graybg.png);background-position:center top">
        <div class="row">
            <div class="col-12">
                <div class="column_attr clearfix align_center" style="padding:20px 0 30px 0;">
                    <h2>Take a look at our renovation</h2>
                </div>
            </div>
            <div class="col-12">
                <div class="content_slider center">
                    <ul class="content_slider_ul">
                        <li class="content_slider_li_1">
                            <a href="~/assets/ImagesHermano/reno4-home-slide2.jpg" rel="prettyphoto"><img width="1024" height="700" src="~/assets/ImagesHermano/reno4-home-slide2.jpg" class="wp-post-image" alt="" loading="lazy" /></a>
                        </li>
                        <li class="content_slider_li_2">
                            <a href="~/assets/ImagesHermano/reno4-home-slide3.jpg" rel="prettyphoto"><img width="1024" height="700" src="~/assets/ImagesHermano/reno4-home-slide3.jpg" class="wp-post-image" alt="" loading="lazy" /></a>
                        </li>
                        <li class="content_slider_li_3">
                            <a href="~/assets/ImagesHermano/reno4-home-slide1.jpg" rel="prettyphoto"><img width="1024" height="700" src="~/assets/ImagesHermano/reno4-home-slide1.jpg" class="wp-post-image" alt="" loading="lazy" /></a>
                        </li>
                    </ul>
                    <div class="slider_pager slider_pagination"></div>
                </div>
            </div>
            @*<div class="col-12">
                    <hr class="no_line" style="margin: 0 auto 40px auto" />
                </div>*@
            @*<div class="col-12">
                    <div class="button_align align_center"> <a class="button button_size_2" href="content/renovate4/realizations.html"><span class="button_label">See our work</span></a> </div>
                </div>
                <div class="col-12">
                    <div class="column_attr clearfix align_center" style="padding:20px 0 0;">
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            <br> dolore eu fugiat nulla pariatur excepteur sint.
                        </p>
                    </div>
                </div>*@
        </div>
    </div>
    <div class="section mcb-section no-margin-h equal-height-wrap" style="padding-top:75px;background-image:url(../assets/ImagesHermano/bg-wm-hr.png);background-repeat:no-repeat;background-position:right center;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 sectionani reveal fade-left"> <img src="~/assets/ImagesHermano/reno4-reno-guys.png" alt="reno4-reno-guys" title="" width="724" height="776" /> </div>
                <div class="col-md-6   reveal fade-right" style="padding:30px;padding-top:120px;">
                    <div class="row">
                        <div class="col-12">
                            <div class="column_attr clearfix mobile_align_center">
                                <h2>
                                    Call us 
                                </h2>
                            </div>
                        </div>
                        <div class="col-12">
                            <hr class="no_line" style="margin:0 auto 20px">
                        </div>

                        <div class="col-md-2">
                            <div class="column_attr clearfix align_center mobile_align_center">
                                @*<h2><i class="icon-phone" style="color:#626262"></i></h2>*@
                                <img src="~/assets/ImagesHermano/group-6.png" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="column_attr clearfix mobile_align_center" style="padding: 18PX 0;">
                                <h4 style="margin: 0;"><a href="tel:+97337755020">+973 37755020</a> </h4>
                            </div>
                        </div>


                    </div>
                    <div class="row">

                        <div class="col-12">
                            <hr class="no_line" style="margin:0 auto 20px">
                        </div>

                        <div class="col-md-2">
                            <div class="column_attr clearfix align_center mobile_align_center">
                                @*<h2><i class="icon-phone" style="color:#626262"></i></h2>*@
                                <img src="~/assets/ImagesHermano/group-7.png" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="column_attr clearfix mobile_align_center" style="padding: 18PX 0;">
                                <h4 style="margin: 0;">hermano@planerabh.com</h4>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-newsletter py-5">
        <div class="container">
            <div class="row justify-content-center ">
                <h4 class="text-newsletter text-center text-black">Subscribe Our <span><br />Newsletter</span></h4>
                <div class="col-lg-6" style="padding-top:5px;">

                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Enter your email" style="background-color:white;border-top-left-radius: 10px;border-bottom-left-radius: 10px;border:none;height:50px;">
                        <div class="input-group-append">
                            <button type="submit" style="margin:0;background-color:#275935;color:white;border-top-right-radius: 10px;border-bottom-right-radius: 10px;">Submit</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

