<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Hermano | Contracting</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="~/assets/HarmanoRepair/imagesContracting/favicon.ico">

    <!-- FONTS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Yantramanav:100,300,400,400italic,500,700,700italic'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Serif:100,300,400,400italic,500,700,700italic'>

    <!-- CSS -->
    <link rel='stylesheet' href='~/assets/css/global.css'>
    <link rel='stylesheet' href='~/assets/csshermanocontracting/structure.css'>
    <link rel='stylesheet' href='~/assets/csshermanocontracting/garden3.css'>
    <link rel='stylesheet' href='~/assets/csshermanocontracting/custom.css'>

    <!-- Revolution Slider -->
    <link rel="stylesheet" href="~/assets/rs-plugin/css/settings.css">

    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/navigation.css">

  
</head>

<body class="style-simple button-default layout-full-width if-border-hide no-content-padding header-transparent minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-left menu-highlight menuo-right menuo-no-borders mobile-tb-center mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-sticky">
    <div id="Wrapper">
        <div id="Header_wrapper" class="bg-parallax" data-enllax-ratio="0.3">
            <header id="Header">
                <div id="Top_bar">
                    <div class="container">
                        <div class="column one">
                            <div class="top_bar_left clearfix">
                                <div class="logo">
                                    <a id="logo" href="/hermano/contractor" title="logo" data-height="60" data-padding="30">
                                        <img class="logo-main scale-with-grid" src="../../assets/HarmanoRepair/imagesContracting/retina-garden3.png" data-retina="../../assets/HarmanoRepair/imagesContracting/retina-garden3.png" data-height="50">
                                        <img class="logo-sticky scale-with-grid" src="../../assets/HarmanoRepair/imagesContracting/garden3.png" data-retina="../../assets/HarmanoRepair/imagesContracting/retina-garden3.png" data-height="50">
                                        <img class="logo-mobile scale-with-grid" src="../../assets/HarmanoRepair/imagesContracting/garden3.png" data-retina="../../assets/HarmanoRepair/imagesContracting/retina-garden3.png" data-height="50">
                                        <img class="logo-mobile-sticky scale-with-grid" src="../../assets/HarmanoRepair/imagesContracting/garden3.png" data-retina="../../assets/HarmanoRepair/imagesContracting/retina-garden3.png" data-height="50">
                                    </a>
                                </div>
                                <div class="menu_wrapper">
                                    <nav id="menu">
                                        <ul id="menu-main-menu" class="menu menu-main">
                                            <li class="current-menu-item">
                                                <a href="/hermano/contractor"><span>Home</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span>About</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span>Services</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span>Projects</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span>Contact</span></a>
                                            </li>

                                        </ul>
                                    </nav>
                                    <a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="example">
                    <article class="content">
                        <div id="rev_slider_68_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="web-product-dark-hero64" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                            <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
                            <div id="rev_slider_68_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
                                <ul>
                                    <!-- SLIDE -->
                                    <li data-index="rs-235" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="1500" data-rotate="0" data-saveperformance="off" data-title="Intro" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="~/assets/plugins/rs-plugin/assets/images/webproduct_darkbg1.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg">
                                        <!-- LAYERS -->
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption tp-resizeme rs-parallaxlevel-1" id="slide-235-layer-1" data-x="['right','right','center','center']" data-hoffset="['-254','-453','70','60']" data-y="['middle','middle','middle','bottom']" data-voffset="['50','50','211','25']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:right;s:1500;e:Power3.easeOut;" data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" data-start="2500" data-responsive_offset="on" style="z-index: 5;">
                                            <img src="~/assets/plugins/rs-plugin/assets/images/hermanovan.png" width="1000" height="450" data-ww="['1000px','1000px','500px','350px']" data-hh="['450px','450px','300px','210px']">
                                        </div>

                                        <!-- LAYER NR. 2 -->
                                        @*<div class="tp-caption tp-resizeme rs-parallaxlevel-1" id="slide-235-layer-2" data-x="['left','left','center','center']" data-hoffset="['828','865','70','60']" data-y="['top','top','top','bottom']" data-voffset="['217','216','580','63']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;" data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="3350" data-responsive_offset="on" style="z-index: 6;">
                                            <img src="~/assets/plugins/rs-plugin/assets/images/hermanovan.JPG" width="653" height="408" data-ww="['653px','653px','330px','230px']" data-hh="['408px','408px','206px','144px']">
                                        </div>*@

                                        <!-- LAYER NR. 3 -->
                                        @*<div class="tp-caption tp-resizeme rs-parallaxlevel-2" id="slide-235-layer-3" data-x="['left','left','center','center']" data-hoffset="['593','633','-110','-60']" data-y="['top','top','top','bottom']" data-voffset="['203','203','590','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:right;s:1500;e:Power3.easeOut;" data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" data-start="2750" data-responsive_offset="on" style="z-index: 7;">
                                            <img src="~/assets/plugins/rs-plugin/assets/images/ipad_dark.png" width="430" height="540" data-ww="['430px','430px','200px','170px']" data-hh="['540px','540px','251px','213px']">
                                        </div>*@

                                        <!-- LAYER NR. 4 -->
                                        @*<div class="tp-caption tp-resizeme rs-parallaxlevel-2" id="slide-235-layer-4" data-x="['left','left','left','center']" data-hoffset="['663','703','212','-60']" data-y="['top','top','top','bottom']" data-voffset="['291','291','632','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;" data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="3700" data-responsive_offset="on" style="z-index: 8;">
                                            <img src="~/assets/plugins/rs-plugin/assets/images/man.png" width="290" height="480" data-ww="['290px','290px','135px','115px']" data-hh="['480px','480px','174px','148px']">
                                        </div>*@

                                        <!-- LAYER NR. 5 -->
                                        <div class="tp-caption tp-resizeme rs-parallaxlevel-3" id="slide-235-layer-5" data-x="['left','left','left','left']" data-hoffset="['530','553','127','58']" data-y="['top','top','top','top']" data-voffset="['297','297','622','529']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:right;s:1500;e:Power3.easeOut;" data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" data-start="3000" data-responsive_offset="on" style="z-index: 9;">
                                            <img src="~/assets/plugins/rs-plugin/assets/images/man.png" width="260" height="450" data-ww="['260px','260px','130px','100px']" data-hh="['450px','450px','225px','173px']">
                                        </div>

                                        <!-- LAYER NR. 6 -->
                                        @*<div class="tp-caption tp-resizeme rs-parallaxlevel-3" id="slide-235-layer-6" data-x="['left','left','left','left']" data-hoffset="['575','598','150','75']" data-y="['top','top','top','top']" data-voffset="['380','379','663','560']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;" data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="3950" data-responsive_offset="on" style="z-index: 10;">
                                            <img src="~/assets/plugins/rs-plugin/assets/images/man.png" width="170" height="286" data-ww="['170px','170px','85px','66px']" data-hh="['286px','286px','143px','111px']">
                                        </div>*@

                                        <!-- LAYER NR. 7 -->
                                        <div  class="tp-caption WebProduct-Title-Light tp-resizeme rs-parallaxlevel-0" id="slide-235-layer-7" data-x="['left','left','left','left']" data-hoffset="['30','30','200','80']" data-y="['middle','middle','top','top']" data-voffset="['-110','-110','137','130']" data-fontsize="['55','55','40','40']" data-lineheight="['90','90','75','70']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 11; white-space: nowrap;" >
                                            <h2 style="color:white">
                                                Hermano Contracting and
                                                <br> Landscaping Company
                                            </h2>
                                        </div>

                                        <!-- LAYER NR. 8 -->
                                        <div class="tp-caption WebProduct-SubTitle-Light tp-resizeme rs-parallaxlevel-0" id="slide-235-layer-10" data-x="['left','left','left','left']" data-hoffset="['30','30','200','80']" data-y="['middle','middle','top','top']" data-voffset="['14','44','294','277']" data-fontsize="['15','15','15','13']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" data-start="1250" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 12; white-space: nowrap;letter-spacing:2px;font-weight:500;">
                                            Our portfolio includes some of the most prominent clients.
                                            <br> You can be a part now!
                                        </div>

                                        <!-- LAYER NR. 9 -->
                                        <div class="tp-caption WebProduct-Content-Light tp-resizeme rs-parallaxlevel-0" id="slide-235-layer-9" data-x="['left','left','left','left']" data-hoffset="['30','30','200','80']" data-y="['middle','middle','top','top']" data-voffset="['99','127','345','316']" data-fontsize="['16','16','16','14']" data-lineheight="['24','24','24','22']" data-width="['448','356','334','277']" data-height="['none','none','76','68']" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 13; min-width: 448px; max-width: 448px; white-space: normal;">
                                            Our portfolio includes some of the most prominent clients.
                                            <br> You can be a part now!
                                        </div>

                                        <!-- LAYER NR. 10 -->
                                        <div class="tp-caption WebProduct-Button rev-btn rs-parallaxlevel-0" id="slide-235-layer-8" data-x="['left','left','left','left']" data-hoffset="['30','30','200','80']" data-y="['middle','middle','top','top']" data-voffset="['238','238','456','420']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;" data-style_hover="c:rgba(51, 51, 51, 1.00);bg:rgba(255, 255, 255, 1.00);" data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" data-start="1750" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"scrollbelow","offset":"px"}]' data-responsive_offset="on" data-responsive="off" style="z-index: 14; white-space: nowrap;letter-spacing:1px;">
                                            GET STARTED TODAY
                                        </div>
                                    </li>
                                </ul>
                                <div class="tp-static-layers">
                                </div>
                                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                            </div>
                        </div>
                        <!-- END REVOLUTION SLIDER -->

                    </article>
                </section>
                @*<div class="mfn-main-slider" id="mfn-rev-slider">
                        <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px">
                            <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7.2">
                                <ul>
                                    <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide"
                                        data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                        <img src="~/assets/HarmanoRepair/imagesContracting/home_garden3_slider_bg.jpg" title="home_garden3_slider_bg" width="1920" height="790" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                                        <div class="tp-caption tp-resizeme" id="slide-1-layer-1" data-x="150" data-y="359" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                             data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 65px; line-height: 65px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:PT Serif">
                                            We draw inspiration
                                            <br> from nature...
                                        </div>
                                        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-1-layer-2" data-x="40" data-y="395" data-width="['75']" data-height="['6']" data-type="shape" data-responsive_offset="on" data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                             data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;background-color:rgb(110,198,86)"></div>
                                        <div class="tp-caption tp-resizeme" id="slide-1-layer-3" data-x="150" data-y="531" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                             data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 15px; line-height: 22px; font-weight: 500; color: #6ec656; letter-spacing: 4px;font-family:Yantramanav">
                                            ARRANGEMENT AND CARE OF GARDENS
                                        </div>
                                        <div class="tp-caption tp-resizeme" id="slide-1-layer-4" data-x="150" data-y="600" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-actions='[{"event":"click","action":"scrollbelow","offset":"-60px","delay":"","speed":"300","ease":"Power2.easeInOut"}]'
                                             data-responsive_offset="on" data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                             data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8;cursor:pointer">
                                            <img src="~/assets/HarmanoRepair/imagesContracting/home_garden3_slider_pic1.png" data-ww="12px" data-hh="20px" width="12" height="20">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>*@
            </header>
        </div>
        @RenderBody();
        <footer id="Footer" class="clearfix">
            <div class="widgets_wrapper" style="padding:70px 0">
                <div class="container">
                    <div class="column one-fourth">
                        <aside class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">

                                <img src="~/assets/HarmanoRepair/imagesContracting/vector-smart-object.png" />
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fourth">
                        <aside class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <ul>
                                    <li style="margin-bottom:10px">
                                        <span style="color:#6ec656;margin-right:10px">→</span><a href="#">Etiam dapibus</a>
                                    </li>
                                    <li style="margin-bottom:10px">
                                        <span style="color:#6ec656;margin-right:10px">→</span><a href="#">Nunc sit</a>
                                    </li>
                                    <li style="margin-bottom:10px">
                                        <span style="color:#6ec656;margin-right:10px">→</span><a href="#">Etiam tempor</a>
                                    </li>
                                    <li style="margin-bottom:10px">
                                        <span style="color:#6ec656;margin-right:10px">→</span><a href="#">Lorem ipsum</a>
                                    </li>
                                    <li style="margin-bottom:10px">
                                        <span style="color:#6ec656;margin-right:10px">→</span><a href="#">Praesent pretium</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fourth">
                        <aside class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <ul>
                                    <li style="margin-bottom:10px">
                                        <span style="color:#6ec656;margin-right:10px">→</span><a href="#">INSTAGRAM</a>
                                    </li>
                                    <li style="margin-bottom:10px">
                                        <span style="color:#6ec656;margin-right:10px">→</span><a href="#">hermano.landscaping</a>
                                    </li>
                                    <li style="margin-bottom:10px">
                                        <span style="color:#6ec656;margin-right:10px">→</span><a href="#">Contact us</a>
                                    </li>
                                    <li style="margin-bottom:10px">
                                        <span style="color:#6ec656;margin-right:10px">→</span><a href="#">12345678910</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fourth">
                        <aside class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <p>
                                    Location
                                    <br> Manama- Seef area Mandarin Business Center
                                    <br> Bahrain
                                </p>
                                <p class="big">
                                    <a href="#"><span>hermano@planerabh.com</span></a>
                                </p>
                                <h3 class="themecolor">12345678910</h3>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <div class="footer_copy">
                <div class="container">
                    <div class="column one">
                        <a id="back_to_top" class="button button_js" href="#"><i class="icon-up-open-big"></i></a>
                        <div class="copyright">
                            &copy; Powered by Airtech Solutions <a target="_blank" rel="nofollow" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- side menu -->
    <div id="Side_slide" class="right dark" data-width="250">
        <div class="close-wrapper">
            <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
        </div>
        <div class="menu_wrapper"></div>
    </div>
    <div id="body_overlay"></div>


    <!-- JS -->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/jquery-migrate-3.3.2.js"></script>

    <script src="~/assets/js/mfn.menu.js"></script>
    <script src="~/assets/js/jquery.plugins.js"></script>
    <script src="~/assets/js/jquery.jplayer.min.js"></script>
    <script src="~/assets/js/animations/animations.js"></script>
    <script src="~/assets/js/translate3d.js"></script>
    <script src="~/assets/js/scripts.js"></script>

    <script src="~/assets/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>

  
    <script src="~/assets/js/email.js"></script>
   

   
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>

    <script>
        var revapi1, tpj;
        (function () {
            if (!/loaded|interactive|complete/.test(document.readyState))
                document.addEventListener("DOMContentLoaded", onLoad);
            else
                onLoad();
            function onLoad() {
                if (tpj === undefined) {
                    tpj = jQuery;
                    if ("off" == "on")
                        tpj.noConflict();
                }
                if (tpj("#rev_slider_1_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_1_1");
                } else {
                    revapi1 = tpj("#rev_slider_1_1").show().revolution({
                        sliderType: "hero",
                        sliderLayout: "auto",
                        dottedOverlay: "none",
                        delay: 9000,
                        visibilityLevels: [1240, 1024, 778, 480],
                        gridwidth: 1240,
                        gridheight: 790,
                        lazyType: "none",
                        shadow: 0,
                        spinner: "spinner3",
                        autoHeight: "off",
                        disableProgressBar: "on",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            disableFocusListener: false,
                        }
                    });
                };
            };
        }());




        var tpj = jQuery;
        var revapi68;
        tpj(document).ready(function () {
            if (tpj("#rev_slider_68_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_68_1");
            } else {
                revapi68 = tpj("#rev_slider_68_1").show().revolution({
                    sliderType: "hero",

                    sliderLayout: "fullwidth",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {},
                    responsiveLevels: [1240, 1024, 778, 480],
                    gridwidth: [1400, 1240, 778, 480],
                    gridheight: [768, 768, 960, 720],
                    lazyType: "none",
                    parallax: {
                        type: "mouse+scroll",
                        origo: "slidercenter",
                        speed: 2000,
                        levels: [1, 2, 3, 20, 25, 30, 35, 40, 45, 50],
                        disable_onmobile: "on"
                    },
                    shadow: 0,
                    spinner: "off",
                    autoHeight: "off",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        disableFocusListener: false,
                    }
                });
            }
        }); /*ready*/




        jQuery(window).on('load', function () {
            var retina = window.devicePixelRatio > 1 ? true : false;
            if (retina) {
                var retinaEl = jQuery("#logo img");
                var retinaLogoW = retinaEl.width();
                var retinaLogoH = retinaEl.height();
                retinaEl.attr("src", "../../assets/HarmanoRepair/imagesContracting/garden3.png").width(retinaLogoW).height(retinaLogoH)
            }
        });
    </script>

</body>

</html>