
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Planera Interior</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="~/assets/content/interiorv2/images/favicon.ico">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900'>
    <link href="~/assets/cssplanerainterior/fonts.css" rel="stylesheet" />
    @*<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Poppins:100,300,400,400italic,500,600,700,700italic'>*@

    <!-- CSS -->
    <link href="~/assets/css/be_style.css" rel="stylesheet" />
    <link rel='stylesheet' href='~/assets/css/global.css'>
    <link rel='stylesheet' href='~/assets/content/interiorv2/css/structure.css'>
    <link rel='stylesheet' href='~/assets/content/interiorv2/css/architect3.css'>
    <link rel='stylesheet' href='~/assets/content/interiorv2/css/custom.css'>

    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/settings.css">

    <!-- Revolution Slider -->
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/navigation.css">

    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/jquery-migrate-3.3.2.js"></script>


    <style>
       /* .interiorservice .scale-with-grid{
            width:80px !important;
        }*/
        @@media only screen and (max-width: 479px) {
            .flv_sections_53 {
                padding-top: 30% !important;
                padding-bottom: 30% !important;
            }
            .mobView{
                font-size:50px !important;
            }
        }
        .flv_sections_53 {
           
            padding-top: 271px ;
            padding-bottom: 259px;
            background-color: #cfd5d1;
            background-image: url(../images/home-parallax-header.jpg);
            background-repeat: no-repeat;
            background-position: center bottom;             
            background-size: cover;
            -webkit-background-size: cover;
        }
        .interiorsteps .column_attr{
            color:#888;
            font-size:16px;
        }
        .hover_color, .align_left:hover {
            background: white !important;
        }

        .highlight-left:after, .highlight-right:after {
            border-right: 24px solid white;
            border-top: 24px solid white;
            border-bottom: 24px solid white;
            height: 300px;
            margin-top: 66px;
        }

        #Top_bar .menu > li > a, #Top_bar #menu ul li.submenu .menu-toggle {
            color: white !important;
        }

        #Top_bar .menu > li > a {
            padding: 20px;
            color: white !important;
            font-size: 18px;
        }

        #logo {
            height: auto !important;
            line-height: 0 !important;
            padding: 20px !important;
        }

        #Top_bar {
            border-bottom: 1px solid white;
            background: rgb(0 0 0 / 8%);
        }

        .list_check ol {
            color: #fff;
        }

        .image_frame .image_wrapper, .wp-caption img, .icon_box .icon_wrapper:before {
            color: #fff !important;
        }

        a {
            color: #d5d5d5;
        }

            a:hover {
                color: #d5d5d5;
            }

        .ourproject ul {
            color: #cccccc;
        }

        .topleft {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 18px;
        }

        img {
            width: 100%;
            height: auto;
        }

        .container-fluid {
            position: relative;
        }

        .text-block {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .text-blockBottom {
            position: absolute;
            top: 95%;
            left: 8%;
            transform: translate(-50%, -50%);
        }

        .text-blockBottomRight {
            position: absolute;
            top: 95%;
            right: 3%;
            transform: translate(-50%, -50%);
        }

        .highlight-left:after, .highlight-right:after {
            background: black !important;
        }

        a:hover {
            background: #626262;
        }
        h4 {
            font-size: 22px;
            line-height: 32px;
            font-weight: 500;
            letter-spacing: 0px;
        }
        .radius {
            border-radius: 30px;
        } 
    </style>
</head>

<body class="home page template-slider style-simple button-round layout-full-width if-zoom no-content-padding hide-love no-shadows header-overlay header-transparent header-fw minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color logo-valign-top mobile-tb-center mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky">
    <div id="Wrapper">
        <div id="Header_wrapper">
            <header id="Header">
                <div id="Top_bar">
                    <div class="row">
                        <div class="column one">
                            <div class=" clearfix">
                                <div class="logo">
                                    <a id="logo" href="/planera/interior" title="logo" data-height="60" style="height:60px !important;" data-padding="15">
                                        <img class="logo-main scale-with-grid" src="../../assets/content/interiorv2/images/pi-logo.png" data-retina="../../assets/content/interiorv2/images/pi-logo.png" data-height="58" alt="renovate4_logo2" data-no-retina />
                                        <img class="logo-sticky scale-with-grid" src="../../assets/content/interiorv2/images/pi-logo.png" data-retina="../../assets/content/interiorv2/images/pi-logo.png" data-height="58" alt="renovate4_logo1" data-no-retina />
                                        <img class="logo-mobile scale-with-grid" src="../../assets/content/interiorv2/images/pi-logo.png" data-retina="../../assets/content/interiorv2/images/pi-logo.png" data-height="58" alt="renovate4_logo3" data-no-retina />
                                        <img class="logo-mobile-sticky scale-with-grid" src="../../assets/content/interiorv2/images/pi-logo.png" data-retina="../../assets/content/interiorv2/images/pi-logo.png" data-height="58" alt="renovate4_logo4" data-no-retina />
                                    </a>
                                </div>
                                <div class="menu_wrapper" style="float:right">
                                    <nav id="menu">
                                        <ul id="menu-main-menu" class="menu menu-main">
                                            <li class="">
                                                <a href="/planera/interior" aria-current="page">Home</a>
                                            </li>

                                            <li>
                                                <a href="/interior/about">About us</a>
                                            </li>
                                            <li>
                                                <a href="/interior/services">Services</a>
                                            </li>
                                            <li>
                                                <a href="/interior/project">Projects</a>
                                            </li>
                                            <li>
                                                <a href="/interior/comingsoon">Art</a>
                                            </li>

                                            <li>
                                                <a href="/interior/Contact">Contact us</a>

                                            </li>
                                        </ul>
                                    </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
                                </div>
                            </div>
                            <div class="top_bar_right">
                                @*<div class="top_bar_right_wrapper"> <a href="#" class="action_button" target="_blank" style="background-color:#275935;">Contact us</a> </div>*@
                            </div>
                        </div>
                    </div>
                </div>

            </header>
        </div>
        @RenderBody()
    </div>
    <footer id="Footer" class="clearfix" style="background:black">
        <div class="widgets_wrapper" style="padding:70px 0">
            <div class="container">
                <div class="column one-fourth">
                    <aside class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                            <h4 style="color:white"></h4>
                            <img src="~/assets/content/interiorv2/images/PlaneraLogo.png" style="width:139px;height:99px;padding-bottom:10px;" />
                            <br />
                            <p style="margin-right: 10%">
                                We shape your values through Innovative Architecture & Design Perspectives.
                            </p>
                        </div>
                    </aside>
                </div>
                <div class="column one-fourth">
                    <aside class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                            <h4 style="color:white;">Quick Links</h4>
                            <br />
                            <ul>
                                <li style="margin-bottom: 10px">
                                    <span style="color:white;margin-right:10px">→</span><a href="/interior/about" style="color:white;">About us</a>
                                </li>
                                <li style="margin-bottom: 10px">
                                    <span style="color:#d5d5d5;margin-right:10px">→</span><a href="/interior/services" style="color:white;">Services</a>
                                </li>
                                <li style="margin-bottom: 10px">
                                    <span style="color:#d5d5d5;margin-right:10px">→</span><a href="/interior/project" style="color:white;">Projects</a>
                                </li>

                                <li style="margin-bottom: 10px">
                                    <span style="color:#d5d5d5;margin-right:10px">→</span><a href="/interior/contact" style="color:white;">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="column one-fourth">
                    <aside class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                            <hr class="no_line" style="margin:0 auto 5px">
                            <h4 style="color:white;">Contact us</h4>
                            <br />
                            <ul>
                                <li class="phone phone-1" style="margin-bottom: 10px">
                                    <i class="icon-phone">+973 17004006</i>
                                    <br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+973  37755011
                                    <br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+973  37750033
                                    <br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+973  37750044
                                </li>
                                <li style="margin-bottom: 10px">
                                    <i class="icon-mail">Interior@planerabh.com</i>
                                </li>
                                <li style="margin-bottom: 10px">
                                    <i class="icon-instagram">/planera.interior</i>
                                </li>

                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="column one-fourth">
                    <aside class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                            <h4 style="color:white"></h4>
                            <img src="~/assets/content/interiorv2/images/pi-logo-white.png" style="width:139px;height:99px;padding-bottom:10px;" />

                            <p style="margin-right: 10%">
                                Planera Interior Design Company was established with design
                                and execution services for residential and commercial projects.
                            </p>
                        </div>
                    </aside>
                </div>

            </div>
        </div>
        <div class="footer_copy">
            <div class="container">
                <div class="column one">
                    <a id="back_to_top" class="button button_js" href="#"><i class="icon-up-open-big"></i></a>
                    <div class="copyright">
                        &copy; All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- side menu -->
    <div id="Side_slide" class="right dark" data-width="250">
        <div class="close-wrapper">
            <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
        </div>
        <div class="menu_wrapper"></div>
    </div>
    <div id="body_overlay"></div>

    <!-- JS -->


    <script src="~/assets/js/mfn.menu.js"></script>
    <script src="~/assets/js/jquery.plugins.js"></script>
    <script src="~/assets/js/jquery.jplayer.min.js"></script>
    <script src="~/assets/js/animations/animations.js"></script>
    <script src="~/assets/js/translate3d.js"></script>
    <script src="~/assets/js/scripts.js"></script>

    <script src="~/assets/js/email.js"></script>

    <script src="~/assets/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
    <style>
        .dmopMx {
            display: none
        }
    </style>
    <script>
        (function () {
            var options = {

                whatsapp: "+97337750033", // WhatsApp number
                call_to_action: "Message us", // Call to action
                button_color: "#E74339", // Color of button
                position: "right", // Position may be 'right' or 'left'
                order: "facebook,whatsapp", // Order of buttons
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
        var revapi1, tpj;
        (function () {
            if (!/loaded|interactive|complete/.test(document.readyState))
                document.addEventListener("DOMContentLoaded", onLoad);
            else
                onLoad();
            function onLoad() {
                if (tpj === undefined) {
                    tpj = jQuery;
                    if ("off" == "on")
                        tpj.noConflict();
                }
                if (tpj("#rev_slider_1_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_1_1");
                } else {
                    revapi1 = tpj("#rev_slider_1_1").show().revolution({
                        sliderType: "standard",
                        sliderLayout: "",
                        dottedOverlay: "none",
                        delay: 9000,
                        navigation: {
                            onHoverStop: "off",
                        },
                        visibilityLevels: [1240, 1024, 778, 480],
                        gridwidth: 1440,
                        gridheight: 750,
                        lazyType: "none",
                        parallax: {
                            type: "scroll",
                            origo: "enterpoint",
                            speed: 1500,
                            speedbg: 0,
                            speedls: 0,
                            levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55, 60, 62, 65, 69],
                        },
                        shadow: 0,
                        spinner: "spinner2",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "on",
                        fullScreenAutoWidth: "on",
                        fullScreenAlignForce: "off",
                        fullScreenOffsetContainer: "#Top_bar",
                        fullScreenOffset: "60px",
                        disableProgressBar: "on",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                };
            };
        }());
    </script>
    <script>
        var tpj = jQuery;

        var revapi30;
        tpj(document).ready(function() {
            if (tpj("#rev_slider_30_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_30_1");
            } else {
                revapi30 = tpj("#rev_slider_30_1").show().revolution({
                    sliderType:"carousel",

                    sliderLayout:"fullwidth",
                    dottedOverlay:"none",
                    delay: 1500,
                    navigation: {
                        keyboardNavigation:"off",
                        keyboard_direction:"horizontal",
                        mouseScrollNavigation:"off",
                        onHoverStop:"off",
                        touch: {
                            touchenabled:"on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction:"horizontal",
                            drag_block_vertical: false
                        },
                        arrows: {
                            style:"gyges",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: false,
                            tmp: '',
                            left: {
                                h_align:"left",
                                v_align:"center",
                                h_offset: 20,
                                v_offset: 0
                            },
                            right: {
                                h_align:"right",
                                v_align:"center",
                                h_offset: 20,
                                v_offset: 0
                            }
                        },
                        tabs: {
                            style:"gyges",
                            enable: true,
                            width: 250,
                            height: 80,
                            min_width: 250,
                            wrapper_padding: 30,
                            wrapper_color:"#26292b",
                            wrapper_opacity:"1",
                            tmp: '<div class="tp-tab-content"> <span class="tp-tab-date">{{param1}}</span> <span class="tp-tab-title">{{title}}</span></div><div class="tp-tab-image"></div>',
                            visibleAmount: 5,
                            hide_onmobile: false,
                            hide_onleave: false,
                            hide_delay: 200,
                            direction:"horizontal",
                            span: true,
                            position:"outer-bottom",
                            space: 0,
                            h_align:"center",
                            v_align:"bottom",
                            h_offset: 0,
                            v_offset: 0
                        }
                    },
                    carousel: {
                        horizontal_align:"center",
                        vertical_align:"center",
                        fadeout:"on",
                        vary_fade:"on",
                        maxVisibleItems: 3,
                        infinity:"on",
                        space: 0,
                        stretch:"off"
                    },
                    gridwidth: 720,
                    gridheight: 405,
                    lazyType:"none",
                    shadow: 0,
                    spinner:"off",
                    stopLoop:"off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle:"off",
                    autoHeight:"off",
                    disableProgressBar:"on",
                    hideThumbsOnMobile:"off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll:"off",
                        nextSlideOnWindowFocus:"off",
                        disableFocusListener: false,
                    }
                });
            }
        }); /*ready*/
    </script>
    @*<script>
            var tpj = jQuery;
            tpj.noConflict();
            var revapi1;
            tpj(document).ready(function () {
                if (tpj("#rev_slider_1_2").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_1_2");
                } else {
                    revapi1 = tpj("#rev_slider_1_2").show().revolution({
                        sliderType: "standard",
                        sliderLayout: "fullwidth",
                        dottedOverlay: "none",
                        delay: 9000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            onHoverStop: "off",
                            touch: {
                                touchenabled: "on",
                                swipe_threshold: 0.7,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            }
                        },
                        gridwidth: 1180,
                        gridheight: 930,
                        lazyType: "none",
                        shadow: 0,
                        spinner: "spinner3",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        disableProgressBar: "on",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        startWithSlide: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: "off",
                        }
                    });
                }
            });
        </script>*@
</body>
</html>