
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Planera Interior</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="~/planera.ico">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900'>
    @*<link href="~/assets/cssplanerainterior/fonts.css" rel="stylesheet" />*@
    @*<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Poppins:100,300,400,400italic,500,600,700,700italic'>*@

    <!-- CSS -->
    <link href="~/assets/css/be_style.css" rel="stylesheet" />
    <link rel='stylesheet' href='~/assets/css/global.css'>
    <link rel='stylesheet' href='~/assets/PlaneraInterior/css/structure.css'>
    <link rel='stylesheet' href='~/assets/PlaneraInterior/css/architect3.css'>
    <link rel='stylesheet' href='~/assets/PlaneraInterior/css/custom.css'>

    <!-- Revolution Slider -->
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/navigation.css">

    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/jquery-migrate-3.3.2.js"></script>
    <style>
        @@font-face {
            font-family: 'cairo-bold !important';
            src: url('../../assets/aracbicfont/cairo-bold.ttf') format('truetype');
        }

        @@font-face {
            font-family: 'cairo-regular !important';
            src: url('../../assets/aracbicfont/cairo-regular.ttf') format('truetype');
        }
    </style>

    <script>
        jQuery(document).ready(function () {

            var currLang = Cookies.get('lang');
            if (currLang == null || currLang == "" || currLang == undefined) {

                Cookies.set('lang', 'en', { expires: 365 });
                jQuery('#_lang').html('عربى');
            }
            if (currLang == "en") {
                jQuery('#_lang').html("عربى");
                jQuery("._arabic").css("direction", "ltr")
                jQuery("._arabic-text").css("text-align", "left")
                jQuery(".icon-media").css("left", "0")
                jQuery(".icon-title").css("padding-left", "43px")
            }
            else {
                jQuery('#_lang').html("English");
                jQuery('._ltrarabic').css("direction", "ltr")
                jQuery('._hide').css("display", "none")
                jQuery("._arabic").css("direction", "rtl")
                //jQuery("p, h1, h2, h3, h4, h5, h6, a,div").css("font-family", "AvenirRegular")
                jQuery("._arabic-text").css("text-align", "right")
                jQuery("._arabic-text-center").css("text-align", "center")
                jQuery(".icon-media").css("right", "0")
                jQuery(".icon-title").css("padding-right", "43px")
                jQuery(".pright").css("padding-right", "70px")
                jQuery("._fright").css("float", "right")
                jQuery(".padding-left").css("padding-left", "25px")
                jQuery(".padding-right").css("padding-right", "0px")
                jQuery("._arwidth").css("width", "100%")
                jQuery("._mrright").css("margin-right", "0px")
                jQuery(".armgn-top").css("margin-top", "50px")
                jQuery("body ,p, div, span, label, #menu>ul>li>a").css("font-family", "Cairo-Regular")
                jQuery("h1,h2,h3,h4,h5,h6").css("font-family", "Cairo-Bold")
            }
        });

        function _lang() {
            var currLang = Cookies.get('lang');
            //var currLang = localStorage.getItem("_lang");
            if (currLang == null || currLang == "") {
                Cookies.set('lang', 'en', { expires: 365 });
                jQuery('#_lang').html('عربى');
            }
            if (currLang == "en") {
                Cookies.set('lang', 'ar', { expires: 365 });
                jQuery('#_lang').html('English');
                location.reload();
            }
            if (currLang == "ar") {
                Cookies.set('lang', 'en', { expires: 365 });
                jQuery('#_lang').html('عربى');
                location.reload();
            }
        }
    </script>


    <script type="application/ld+json">
        {
          "@@context": "https://schema.org",
          "@@type": "LocalBusiness",
          "name": "Planera interior",
          "image": "",
          "@@id": "",
          "url": "https://planerabh.com/planera/interior",
          "telephone": "3775 5011",
          "address": {
            "@@type": "PostalAddress",
            "streetAddress": "Office 102 10th Floor Mandarine Business Center",
            "addressLocality": "Alseef District",
            "postalCode": "",
            "addressCountry": "BH"
          },
          "geo": {
            "@@type": "GeoCoordinates",
            "latitude": 26.2387154,
            "longitude": 50.534481
          },
          "openingHoursSpecification": {
            "@@type": "OpeningHoursSpecification",
            "dayOfWeek": [
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Sunday"
            ],
            "opens": "09:00",
            "closes": "17:00"
          },
          "sameAs": "https://www.instagram.com/planera.interior/"
        }
    </script>
</head>

<body class="home page template-slider style-simple button-round layout-full-width if-zoom no-content-padding hide-love no-shadows header-sticky header-transparent header-fw minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color logo-valign-top mobile-tb-center mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky">
    <div id="Wrapper">
        <div id="Header_wrapper">
            <header id="Header">
                <div id="container">
                    <div id="Top_bar">
                        <div class="column one">
                            <div class=" clearfix">
                                <div class="logo">
                                    <a id="logo" href="/planera/interior" title="logo" data-height="60" style="height:60px !important;" data-padding="15">
                                        <img class="logo-main scale-with-grid" src="../../assets/PlaneraInterior/images/pi-logo.png" data-retina="../../assets/PlaneraInterior/images/pi-logo.png" data-height="58" alt="renovate4_logo2" data-no-retina />
                                        <img class="logo-sticky scale-with-grid" src="../../assets/PlaneraInterior/images/pi-logo.png" data-retina="../../assets/PlaneraInterior/images/pi-logo.png" data-height="58" alt="renovate4_logo1" data-no-retina />
                                        <img class="logo-mobile scale-with-grid" src="../../assets/PlaneraInterior/images/pi-logo.png" data-retina="../../assets/PlaneraInterior/images/pi-logo.png" data-height="58" alt="renovate4_logo3" data-no-retina />
                                        <img class="logo-mobile-sticky scale-with-grid" src="../../assets/PlaneraInterior/images/pi-logo.png" data-retina="../../assets/PlaneraInterior/images/pi-logo.png" data-height="58" alt="renovate4_logo4" data-no-retina />
                                    </a>
                                </div>
                                <div class="menu_wrapper" style="float:right">
                                    <nav id="menu">
                                        <ul id="menu-main-menu" class="menu menu-main">
                                            <li id="homepage">
                                                <a href="/planera/interior" aria-current="page" data-translate="a0a0">Home</a>
                                            </li>
                                            <li id="aboutuspage">
                                                <a href="/interior/about" data-translate="aa0">About us</a>
                                            </li>
                                            <li id="servicespage">
                                                <a href="/interior/services" data-translate="0ser01">Services</a>
                                            </li>
                                            <li id="projectpage">
                                                <a href="/interior/project" data-translate="0prj01">Projects</a>
                                            </li>
                                            <li>
                                                <a href="/interior/comingsoon" data-translate="0art01">Art</a>
                                            </li>
                                            <li id="contactpage">
                                                <a href="/interior/Contact" data-translate="00cn0">Contact Us</a>
                                            </li>
                                            @*<li>
                                                <i class="fa fa-icon-globe"></i><a onclick="_lang(); return false;" id="_lang" style="color:white; cursor:pointer;">عربى</a>
                                            </li>*@
                                        </ul>
                                    </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </header>
        </div>
        @RenderBody()
    </div>
    <footer id="Footer" class="clearfix _arabic-text" style="background:black">
        <div class="widgets_wrapper" style="padding:40px 0 20px 0">
            <div class="container">
                <div class="column one-fourth">
                    <aside class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget" style="text-align:center">
                            <img src="~/assets/PlaneraInterior/images/PlaneraLogo.png" style="width:139px;height:99px;padding-bottom:10px;" />

                            @*<p style="margin-right: 10%">
                                    We shape your values through Innovative Architecture & Design Perspectives.
                                </p>*@
                        </div>
                    </aside>
                </div>
                <div class="column one-fourth">
                    <aside class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                            <h4 style="color:white;" data-translate="00s7">Quick Links</h4>
                            <br />
                            <ul>
                                <li style="margin-bottom: 10px">
                                    <span style="color:white;margin-right:10px" class="_hide">→</span><a href="/interior/about" style="color:white;" data-translate="aa0">About us</a>
                                </li>
                                <li style="margin-bottom: 10px">
                                    <span style="color:#d5d5d5;margin-right:10px" class="_hide">→</span><a href="/interior/services" style="color:white;" data-translate="0ser01">Services</a>
                                </li>
                                <li style="margin-bottom: 10px">
                                    <span style="color:#d5d5d5;margin-right:10px" class="_hide">→</span><a href="/interior/project" style="color:white;" data-translate="0prj01">Projects</a>
                                </li>

                                <li style="margin-bottom: 10px">
                                    <span style="color:#d5d5d5;margin-right:10px" class="_hide">→</span><a href="/interior/contact" style="color:white;" data-translate="00cn0">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="column one-fourth">
                    <aside class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                            <hr class="no_line" style="margin:0 auto 5px">
                            <h4 style="color:white;" data-translate="00cn0">Contact Us</h4>
                            <br />
                            <ul>
                                <li class="phone phone-1" style="margin-bottom: 10px">
                                    <a href="tel:97317004006"><i class="icon-phone">+973 17004006</i></a>
                                    <br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="tel:97337755011">+973 37755011</a>
                                    <br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="tel:97337750222">+973 37750222</a>

                                </li>
                                <li style="margin-bottom: 10px">
                                    <a href="mailto:interior@planerabh.com"><i class="icon-mail">Interior@planerabh.com</i></a>
                                </li>
                                <li style="margin-bottom: 10px">
                                    @*<a href="" ><img src="~/assets/PlaneraInterior/images/tik-tok.png" style="width:15px" /></a>*@
                                    <a href="https://instagram.com/planera.interior?igshid=NmNmNjAwNzg=" target="_blank"><i class="icon-instagram"> planera.interior</i></a>
                                </li>

                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="column one-fourth">
                    <aside class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget" style="text-align:center">
                            <img src="~/assets/PlaneraInterior/images/pi-logo-white.png" style="width:139px;height:99px;padding-bottom:10px;" />
                        </div>
                    </aside>
                </div>

            </div>
        </div>
        <div class="footer_copy">
            <div class="container">
                <div class="column one">
                    <a id="back_to_top" class="button button_js" href="#"><i class="icon-up-open-big"></i></a>
                    <div class="copyright" data-translate="0arr01">
                        &copy; All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- side menu -->
    <div id="Side_slide" class="right dark" data-width="250">
        <div class="close-wrapper">
            <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
        </div>
        <div class="menu_wrapper"></div>
    </div>
    <div id="body_overlay"></div>

    <!-- JS -->


    <script src="~/assets/js/mfn.menu.js"></script>
    <script src="~/assets/js/jquery.plugins.js"></script>
    <script src="~/assets/js/jquery.jplayer.min.js"></script>
    <script src="~/assets/js/animations/animations.js"></script>
    <script src="~/assets/js/translate3d.js"></script>
    <script src="~/assets/js/scripts.js"></script>

    <script src="~/assets/js/cookie/js.cookie.js"></script>
    <script src="~/assets/js/cookie/js.cookie.min.js"></script>

    <script src="~/assets/js/email.js"></script>

    <script src="~/assets/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
    <style>
        .dmopMx {
            display: none
        }
    </style>
    <script>
        (function () {
            var options = {

                whatsapp: "+97337755011", // WhatsApp number
                call_to_action: "Message us", // Call to action
                button_color: "#E74339", // Color of button
                position: "right", // Position may be 'right' or 'left'
                order: "facebook,whatsapp", // Order of buttons
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
        var revapi1, tpj;
        (function () {
            if (!/loaded|interactive|complete/.test(document.readyState))
                document.addEventListener("DOMContentLoaded", onLoad);
            else
                onLoad();
            function onLoad() {
                if (tpj === undefined) {
                    tpj = jQuery;
                    if ("off" == "on")
                        tpj.noConflict();
                }
                if (tpj("#rev_slider_1_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_1_1");
                } else {
                    revapi1 = tpj("#rev_slider_1_1").show().revolution({
                        sliderType: "standard",
                        sliderLayout: "",
                        dottedOverlay: "none",
                        delay: 9000,
                        navigation: {
                            onHoverStop: "off",
                        },
                        visibilityLevels: [1240, 1024, 778, 480],
                        gridwidth: 1440,
                        gridheight: 750,
                        lazyType: "none",
                        parallax: {
                            type: "scroll",
                            origo: "enterpoint",
                            speed: 1500,
                            speedbg: 0,
                            speedls: 0,
                            levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55, 60, 62, 65, 69],
                        },
                        shadow: 0,
                        spinner: "spinner2",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "on",
                        fullScreenAutoWidth: "on",
                        fullScreenAlignForce: "off",
                        fullScreenOffsetContainer: "#Top_bar",
                        fullScreenOffset: "60px",
                        disableProgressBar: "on",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                };
            };
        }());
    </script>
    <script>
        var tpj = jQuery;

        var revapi30;
        tpj(document).ready(function() {
            if (tpj("#rev_slider_30_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_30_1");
            } else {
                revapi30 = tpj("#rev_slider_30_1").show().revolution({
                    sliderType:"carousel",

                    sliderLayout:"fullwidth",
                    dottedOverlay:"none",
                    delay: 1500,
                    navigation: {
                        keyboardNavigation:"off",
                        keyboard_direction:"horizontal",
                        mouseScrollNavigation:"off",
                        onHoverStop:"off",
                        touch: {
                            touchenabled:"on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction:"horizontal",
                            drag_block_vertical: false
                        },
                        arrows: {
                            style:"gyges",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: false,
                            tmp: '',
                            left: {
                                h_align:"left",
                                v_align:"center",
                                h_offset: 20,
                                v_offset: 0
                            },
                            right: {
                                h_align:"right",
                                v_align:"center",
                                h_offset: 20,
                                v_offset: 0
                            }
                        },
                        tabs: {
                            style:"gyges",
                            enable: true,
                            width: 250,
                            height: 80,
                            min_width: 250,
                            wrapper_padding: 30,
                            wrapper_color:"#26292b",
                            wrapper_opacity:"1",
                            tmp: '<div class="tp-tab-content"> <span class="tp-tab-date">{{param1}}</span> <span class="tp-tab-title">{{title}}</span></div><div class="tp-tab-image"></div>',
                            visibleAmount: 5,
                            hide_onmobile: false,
                            hide_onleave: false,
                            hide_delay: 200,
                            direction:"horizontal",
                            span: true,
                            position:"outer-bottom",
                            space: 0,
                            h_align:"center",
                            v_align:"bottom",
                            h_offset: 0,
                            v_offset: 0
                        }
                    },
                    carousel: {
                        horizontal_align:"center",
                        vertical_align:"center",
                        fadeout:"on",
                        vary_fade:"on",
                        maxVisibleItems: 3,
                        infinity:"on",
                        space: 0,
                        stretch:"off"
                    },
                    gridwidth: 720,
                    gridheight: 405,
                    lazyType:"none",
                    shadow: 0,
                    spinner:"off",
                    stopLoop:"off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle:"off",
                    autoHeight:"off",
                    disableProgressBar:"on",
                    hideThumbsOnMobile:"off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll:"off",
                        nextSlideOnWindowFocus:"off",
                        disableFocusListener: false,
                    }
                });
            }
        }); /*ready*/
    </script>
    <script src="~/language/translations.js"></script>
</body>
</html>