<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hermano Repair and Maintenance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/hermano.ico">
    <!-- FONTS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Raleway:200,400,400italic,700,700italic,900'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Biryani:200,400,400italic,700,700italic,900'>

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <!--CSS -->
    <link rel='stylesheet' href='~/assets/css/global.css'>
    <link rel='stylesheet' href='~/assets/HarmanoRepair/css/structure.css'>
    <link rel='stylesheet' href='~/assets/HarmanoRepair/css/renovate4.css'>
    <!-- Revolution Slider -->
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/navigation.css">

    <link href="~/assets/HarmanoRepair/css/custom.css" rel="stylesheet" />

    <!-- JS -->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/jquery-migrate-3.3.2.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>


    <style>
        .bs-example {
            margin: 20px;
        }

        #Footer .footer_copy .copyright {
            float: none;
        }

        .bg-newsletter {
            background: url(../../assets/HarmanoRepair/images/group-5.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

        @@media only screen and (max-width: 479px) {
            .flv_sections_53 {
                padding-top: 30% !important;
                padding-bottom: 30% !important;
            }

            .mobView {
                font-size: 50px !important;
            }
        }

        option:disabled {
            color: #808080;
        }

        ::placeholder {
            color: #808080;
            opacity: 1; /* Firefox */
        }

        .flv_sections_53 {
            padding-top: 280px;
            padding-bottom: 179px;
            background-color: #cfd5d1;
        }

        .service-section .row {
            padding-bottom: 60px;
        }

        .is-sticky a {
            color: #10293d !important;
        }
    </style>

    <script>
        jQuery(document).ready(function () {

            var currLang = Cookies.get('lang');
            if (currLang == null || currLang == "" || currLang == undefined) {

                Cookies.set('lang', 'en', { expires: 365 });
                jQuery('#_lang').html('عربى');
            }
            if (currLang == "en") {
                jQuery('#_lang').html("عربى");
                jQuery("._arabic").css("direction", "ltr")
                jQuery("._arabic-text").css("text-align", "left")
                jQuery(".icon-media").css("left", "0")
                jQuery(".icon-title").css("padding-left", "43px")
            }
            else {
                jQuery('#_lang').html("English");
                jQuery('._ltrarabic').css("direction", "ltr")
                jQuery("._arabic").css("direction", "rtl")
                //jQuery("p, h1, h2, h3, h4, h5, h6, a,div").css("font-family", "AvenirRegular")
                jQuery("._arabic-text").css("text-align", "right")
                jQuery(".icon-media").css("right", "0")
                jQuery(".icon-title").css("padding-right", "43px")
                jQuery(".padding-left").css("padding-left", "25px")
                jQuery(".padding-right").css("padding-right", "0px")
                jQuery("._arwidth").css("width", "100%")
                jQuery("._mrright").css("margin-right", "0px")
                jQuery(".armgn-top").css("margin-top", "50px")
            }
        });

        function _lang() {
            var currLang = Cookies.get('lang');
            //var currLang = localStorage.getItem("_lang");
            if (currLang == null || currLang == "") {
                Cookies.set('lang', 'en', { expires: 365 });
                jQuery('#_lang').html('عربى');
            }
            if (currLang == "en") {
                Cookies.set('lang', 'ar', { expires: 365 });
                jQuery('#_lang').html('English');
                location.reload();
            }
            if (currLang == "ar") {
                Cookies.set('lang', 'en', { expires: 365 });
                jQuery('#_lang').html('عربى');
                location.reload();
            }
        }
    </script>


    <script type="application/ld+json">
        {
          "@@context": "https://schema.org",
          "@@type": "LocalBusiness",
          "name": "Hermano Repairs & Maintenance",
          "image": "",
          "@@id": "",
          "url": "https://planerabh.com/hermano/repair-maintenance",
          "telephone": "3775 5200",
          "address": {
            "@@type": "PostalAddress",
            "streetAddress": "Office 102, Road 3615, Block 436, Mandarine Business Center",
            "addressLocality": "Alseef District",
            "postalCode": "",
            "addressCountry": "BH"
          },
          "geo": {
            "@@type": "GeoCoordinates",
            "latitude": 26.238485,
            "longitude": 50.534342
          },
          "openingHoursSpecification": {
            "@@type": "OpeningHoursSpecification",
            "dayOfWeek": [
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Sunday"
            ],
            "opens": "09:00",
            "closes": "17:00"
          },
          "sameAs": "https://www.instagram.com/hermano.contracting/"
        }
    </script>
</head>
<body class="home page template-slider style-simple button-custom layout-full-width if-zoom if-border-hide no-content-padding header-transparent header-fw sticky-header sticky-tb-color ab-hide subheader-both-center menuo-right menuo-no-borders mobile-tb-center mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky">
    <!-- Main Theme Wrapper -->
    <div id="Wrapper">
        <!-- Header Wrapper -->
        <div id="Header_wrapper">
            <header id="Header">
                <div id="Top_bar">
                    <div class="container" style="width: 100%; max-width:unset">
                        <div class="column one">
                            <div class="top_bar_left clearfix">
                                <div class="logo">
                                    <a id="logo" href="/hermano/repair-maintenance" title="logo" data-height="58" data-padding="15"><img style="height:60px;" class="logo-main scale-with-grid" src="../../assets/HarmanoRepair/images/header-logo.png" data-retina="../../assets/HarmanoRepair/images/header-logo-white.png" data-height="58" alt="hermano-logo" data-no-retina /><img class="logo-sticky scale-with-grid" src="../../assets/HarmanoRepair/images/header-logo.png" data-retina="../../assets/HarmanoRepair/images/header-logo.png" data-height="58" alt="hermano-logo" data-no-retina /><img class="logo-mobile scale-with-grid" src="../../assets/HarmanoRepair/images/header-logo.png" data-retina="../../assets/HarmanoRepair/images/header-logo.png" data-height="58" alt="hermano-logo" data-no-retina /><img class="logo-mobile-sticky scale-with-grid" src="../../assets/HarmanoRepair/images/header-logo.png" data-retina="../../assets/HarmanoRepair/images/header-logo.png" data-height="58" alt="hermano-logo" data-no-retina /></a>
                                </div>
                                <div class="menu_wrapper">
                                    <nav id="menu">
                                        <ul id="menu-main-menu" class="menu menu-main">
                                            <li id="homepage">
                                                <a href="/hermano/repair-maintenance" style="color:#fff;" ><span data-translate="a0a0">Home</span></a>
                                            </li>
                                            <li id="aboutuspage">
                                                <a href="/hermano/repair-maintenance/about" style="color:#fff;"><span data-translate="aa1">About</span></a>
                                            </li>
                                            <li id="servicespage">
                                                <a href="/hermano/repair-maintenance/services" style="color:#fff;"><span data-translate="0ser01">Services</span></a>
                                            </li>
                                            <li id="projectpage">
                                                <a href="/hermano/repair-maintenance/gallery" style="color:#fff;"><span data-translate="0gal1">Gallery</span></a>
                                            </li>

                                            <li id="contactpage">
                                                <a href="/hermano/repair-maintenance/contact" style="color:#fff;"><span data-translate="00cn1">Contact</span></a>
                                            </li>

                                            <li>
                                                <a onclick="_lang(); return false;" id="_lang" ><span style="color:white">عربى</span></a>
                                            </li>
                                            @*<li> <a href="/hermano/repair-maintenance" style="color:#fff;" data-translate="a0a0"><span>Home</span></a> </li>
                                                <li> <a href="/hermano/repair-maintenance/about" style="color:#fff;" data-translate="aa1"><span>About</span></a> </li>
                                                <li> <a href="/hermano/repair-maintenance/services" style="color:#fff;" data-translate="0ser01"><span>Services</span></a> </li>
                                                <li> <a href="/hermano/repair-maintenance/gallery" style="color:#fff;" data-translate="0gal1"><span>Gallery</span></a> </li>
                                                <li> <a href="/hermano/repair-maintenance/contact" style="color:#fff;" data-translate="00cn1"><span>Contact</span></a> </li>
                                                <li>
                                                    <i class="fa fa-icon-globe"></i><a onclick="_lang(); return false;" id="_lang" style="color:white">عربى</a>
                                                </li>*@
                                        </ul>
                                    </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
                                </div>
                            </div>
                            <div class="top_bar_right">
                                <div class="top_bar_right_wrapper"> <button type="button" class="action_button" data-toggle="modal" data-target="#myModal" style="background-color:#275935;" data-translate="0bnw1">Book Now</button> </div>
                            </div>
                            <hr style="background-color:#fff;" />
                        </div>
                    </div>
                </div>
            </header>
        </div>
        @RenderBody()
        <!-- Footer-->
        <footer id="Footer" class="clearfix">
            <div class="container" style="padding:50px 0 0 0;">
                <div class="column one-fifth">
                    <aside class="widget widget_text">
                        <img src="~/assets/HarmanoRepair/images/logo.png" />
                    </aside>
                </div>
                <div class="column one-fifth">
                    <aside class="widget widget_text">
                        <h4>Quick Links</h4>
                        <div class="textwidget">

                            <ul>
                                <li style="margin-bottom: 10px">
                                    <a href="/hermano/repair-maintenance">Home</a>
                                </li>
                                <li style="margin-bottom: 10px">
                                    <a href="/hermano/repair-maintenance/about">About us</a>
                                </li>
                                <li style="margin-bottom: 10px">
                                    <a href="/hermano/repair-maintenance/services">Services</a>
                                </li>
                                <li style="margin-bottom: 10px">
                                    <a href="/hermano/repair-maintenance/gallery">Gallery</a>
                                </li>
                                @*<li style="margin-bottom: 10px">
                                        <a href="#">Gallery</a>
                                    </li>*@
                                <li style="margin-bottom: 10px">
                                    <a href="/hermano/repair-maintenance/contact">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>

                <div class="column two-fifth">
                    <aside class="widget widget_text">
                        <h4>Contact us</h4>
                        <div class="textwidget">
                            <ul>
                                <li class="phone phone-1" style="margin-bottom: 10px">
                                    <span class="icon-phone">
                                    </span>
                                    +973 17004006, +973 37755188
                                    <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    +973 37755200, +973 37755020
                                </li>
                                <li style="margin-bottom: 10px">
                                    <span class="icon-instagram"><a href="https://instagram.com/hermano.contracting?igshid=NmNmNjAwNzg="> hermano.contracting</a></span>
                                </li>
                                <li style="margin-bottom: 10px">
                                    <span class="icon-mail"><a href="mailto:hermano@planerabh.com">hermano@planerabh.com</a></span>
                                </li>
                                <li style="margin-bottom: 10px">
                                    <span class="icon-address">
                                        Mandarine Business Center,
                                        <br /> Alseef District
                                        Kingdom of Bahrain
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>

                <div class="column one-fifth">
                    <aside class="widget widget_text">
                        <img src="~/assets/HarmanoRepair/images/footer-logo.png" />
                    </aside>
                </div>
            </div>
            <div class="footer_copy">
                <div class="container">
                    <div class="column one" style="text-align:center">
                        <a id="back_to_top" class="footer_button" href="#"><i class="icon-up-open-big"></i></a>
                        <div class="copyright"> &copy; 2022 Powered by Planera group</div>
                        <ul class="social">
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <div id="Side_slide" class="right light" data-width="250">
            <div class="close-wrapper"> <a href="#" class="close"><i class="icon-cancel-fine"></i></a> </div>
            <div class="extras">
                <a href="" class="action_button" target="_blank">Buy now</a>
                <div class="extras-wrapper"></div>
            </div>
            <div class="menu_wrapper"></div>
            <ul class="social">
                @*<li class="facebook"> <a href="#" title="Facebook"><i class="icon-facebook"></i></a> </li>
                    <li class="linkedin"> <a href="#" title="LinkedIn"><i class="icon-linkedin"></i></a> </li>
                    <li class="pinterest"> <a href="#" title="Pinterest"><i class="icon-pinterest"></i></a> </li>*@
                <li class="instagram"> <a href="https://instagram.com/hermano.contracting?igshid=NmNmNjAwNzg= " target="_blank" title="Instagram"><i class="icon-instagram"></i></a> </li>
            </ul>
        </div>
        <div id="body_overlay">
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #275935;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h2 class="modal-title" style="color:white">Book Services</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row form-group text-center">
                            <div class="col-6">
                                <input type="text" name="fname" id="fname" placeholder="First Name" required style="width:100%; border:groove;" />
                            </div>
                            <div class="col-6">
                                <input type="text" name="lname" id="lname" placeholder="Last Name" required style="width: 100%; border: groove;" />
                            </div>
                        </div>
                        <div class="row form-group text-center">
                            <div class="col-6">
                                <input type="email" name="email" id="email" placeholder="Email" required style="width: 100%; border: groove;" />
                            </div>
                            <div class="col-6">
                                <input type="text" name="phone" id="phone" placeholder="Phone" required style="width: 100%; border: groove;" />
                            </div>
                        </div>
                        <div class="row form-group text-center">
                            <div class="col-6">
                                <input type="date" name="date" id="date" placeholder="Booking Date" required style="width: 100%; border: groove;" />
                            </div>
                            <div class="col-6">
                                <select name="time" id="time" style="width: 100%; border: groove;" required>
                                    <option selected disabled>Select Time</option>
                                    <option>09am to 12pm</option>
                                    <option>12pm to 03pm</option>
                                    <option>03pm to 06pm</option>
                                    <option>06pm to 09pm</option>

                                </select>
                            </div>
                            <div class="col-12">
                                <select name="service" id="service" style="width: 100%; border: groove;" required>
                                    <option selected disabled>Select Services</option>
                                    <option value="0">Household and appliances</option>
                                    <option value="1">Electricity</option>
                                    <option value="2">Plumbing Work</option>
                                    <option value="3">Air Conditioner Work</option>
                                </select>
                            </div>
                        </div>

                        <div class="row form-group text-center">
                            <div class="col-12">
                                <textarea name="details" id="details" placeholder="Tell us more about what you need" style="width: 100%; border: groove;" required></textarea>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-12 text-right">
                        <input type="button" value="Submit" id="submit" onClick="SendEmailBookNow();" style="background-color: #275935; width: 100%; padding: 10px 40px; border-radius: 0;">
                    </div>
                </div>
            </div>
        </div>
        <div id="Side_slide" class="right dark" data-width="250">
            <div class="close-wrapper">
                <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
            </div>
            <div class="extras">
                @*<a href="http://bit.ly/1M6lijQ" class="action_button" target="_blank">BUY NOW</a>*@
                <div class="extras-wrapper"></div>
            </div>
            <div class="menu_wrapper"></div>
            <ul class="social">
                <li class="instagram">
                    <a href="https://www.instagram.com/activar.bahrain/" target="_blank"><i class="icon-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div id="body_overlay"></div>

    <script src="~/assets/js/mfn.menu.js"></script>
    <script src="~/assets/js/jquery.plugins.js"></script>
    <script src="~/assets/js/jquery.jplayer.min.js"></script>
    <script src="~/assets/js/animations/animations.js"></script>
    <script src="~/assets/js/translate3d.js"></script>
    <script src="~/assets/js/scripts.js"></script>

    <script src="~/assets/js/cookie/js.cookie.js"></script>
    <script src="~/assets/js/cookie/js.cookie.min.js"></script>

    <script src="~/assets/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>



    <style>
        .dmopMx {
            display: none
        }
    </style>


    <script>
        (function () {
            var tpj = jQuery;
            var revapi50;
            tpj(document).ready(function () {
                if (tpj("#rev_slider_50_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_50_1");
                } else {
                    revapi50 = tpj("#rev_slider_50_1").show().revolution({
                        sliderType: "carousel",

                        sliderLayout: "fullscreen",
                        dottedOverlay: "none",
                        delay: 1500,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            onHoverStop: "off",
                        },
                        carousel: {
                            maxRotation: 5,
                            vary_rotation: "off",
                            minScale: 15,
                            vary_scale: "off",
                            horizontal_align: "center",
                            vertical_align: "center",
                            fadeout: "on",
                            vary_fade: "on",
                            maxVisibleItems: 3,
                            infinity: "on",
                            space: -80,
                            stretch: "off"
                        },
                        responsiveLevels: [1240, 1024, 778, 480],
                        gridwidth: [1024, 900, 778, 480],
                        gridheight: [868, 768, 960, 720],
                        lazyType: "none",
                        shadow: 0,
                        spinner: "on",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        fullScreenAlignForce: "off",
                        fullScreenOffsetContainer: "",
                        fullScreenOffset: "",
                        disableProgressBar: "on",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                }
            }); /*ready*/</script>
    <script>
        var revapi1, tpj;
        (function () {
            if (!/loaded|interactive|complete/.test(document.readyState))
                document.addEventListener("DOMContentLoaded", onLoad);
            else
                onLoad();
            function onLoad() {
                if (tpj === undefined) {
                    tpj = jQuery;
                    if ("off" == "on")
                        tpj.noConflict();
                }
                if (tpj("#rev_slider_1_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_1_1");
                } else {
                    revapi1 = tpj("#rev_slider_1_1").show().revolution({
                        sliderType: "standard",
                        sliderLayout: "fullscreen",
                        dottedOverlay: "none",
                        delay: 9000,
                        navigation: {
                            onHoverStop: "off",
                        },
                        visibilityLevels: [1240, 1024, 778, 480],
                        gridwidth: 1240,
                        gridheight: 800,
                        lazyType: "none",
                        parallax: {
                            type: "scroll",
                            origo: "enterpoint",
                            speed: 400,
                            speedbg: 0,
                            speedls: 0,
                            levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55],
                        },
                        shadow: 0,
                        spinner: "spinner2",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        fullScreenAutoWidth: "off",
                        fullScreenAlignForce: "off",
                        fullScreenOffsetContainer: "",
                        fullScreenOffset: "",
                        disableProgressBar: "on",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                };
            };
        }());
        //animation section
        function reveal() {
            var reveals = document.querySelectorAll(".reveal");

            for (var i = 0; i < reveals.length; i++) {
                var windowHeight = window.innerHeight;
                var elementTop = reveals[i].getBoundingClientRect().top;
                var elementVisible = 150;

                if (elementTop < windowHeight - elementVisible) {
                    reveals[i].classList.add("active");
                } else {
                    reveals[i].classList.remove("active");
                }
            }
        }
        window.addEventListener("scroll", reveal);
    </script>
    <script>
        var tpj = jQuery;
        var revapi30;
        tpj(document).ready(function() {
            if (tpj("#rev_slider_30_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_30_1");
            } else {
                revapi30 = tpj("#rev_slider_30_1").show().revolution({
                    sliderType:"carousel",

                    sliderLayout:"fullwidth",
                    dottedOverlay:"none",
                    delay: 3000,
                    navigation: {
                        keyboardNavigation:"off",
                        keyboard_direction:"horizontal",
                        mouseScrollNavigation:"off",
                        onHoverStop:"off",
                        touch: {
                            touchenabled:"on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction:"horizontal",
                            drag_block_vertical: false
                        },
                        arrows: {
                            style:"gyges",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: false,
                            tmp: '',
                            left: {
                                h_align:"left",
                                v_align:"center",
                                h_offset: 20,
                                v_offset: 0
                            },
                            right: {
                                h_align:"right",
                                v_align:"center",
                                h_offset: 20,
                                v_offset: 0
                            }
                        },
                        tabs: {
                            style:"gyges",
                            enable: true,
                            width: 250,
                            height: 80,
                            min_width: 250,
                            wrapper_padding: 30,
                            wrapper_color:"#26292b",
                            wrapper_opacity:"1",
                            tmp: '<div class="tp-tab-content"> <span class="tp-tab-date">{{param1}}</span> <span class="tp-tab-title">{{title}}</span></div><div class="tp-tab-image"></div>',
                            visibleAmount: 5,
                            hide_onmobile: false,
                            hide_onleave: false,
                            hide_delay: 200,
                            direction:"horizontal",
                            span: true,
                            position:"outer-bottom",
                            space: 0,
                            h_align:"center",
                            v_align:"bottom",
                            h_offset: 0,
                            v_offset: 0
                        }
                    },
                    carousel: {
                        horizontal_align:"center",
                        vertical_align:"center",
                        fadeout:"on",
                        vary_fade:"on",
                        maxVisibleItems: 3,
                        infinity:"on",
                        space: 0,
                        stretch:"off"
                    },
                    gridwidth: 720,
                    gridheight: 405,
                    lazyType:"none",
                    shadow: 0,
                    spinner:"off",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle:"off",
                    autoHeight:"off",
                    disableProgressBar:"on",
                    hideThumbsOnMobile:"off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll:"off",
                        nextSlideOnWindowFocus:"off",
                        disableFocusListener: false,
                    }
                });
            }
        }); /*ready*/
    </script>
    <script>
        (function () {
            var options = {

                whatsapp: "+97337755200", // WhatsApp number
                call_to_action: "Message us", // Call to action
                button_color: "#E74339", // Color of button
                position: "right", // Position may be 'right' or 'left'
                order: "facebook,whatsapp", // Order of buttons
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
        var revapi1, tpj;

        function revinit_revslider11() {
            jQuery(function () {
                tpj = jQuery;
                revapi1 = tpj("#rev_slider_1_1");
                if (revapi1 == undefined || revapi1.revolution == undefined) {
                    revslider_showDoubleJqueryError("rev_slider_1_1");
                } else {
                    revapi1.revolution({
                        sliderLayout: "fullwidth",
                        visibilityLevels: "1240,1240,778,778",
                        gridwidth: "1240,1240,778,778",
                        gridheight: "900,900,700,700",
                        spinner: "spinner11",
                        duration: "1500ms",
                        perspective: 600,
                        perspectiveType: "local",
                        spinnerclr: "#ffd800",
                        editorheight: "900,768,700,720",
                        responsiveLevels: "1240,1240,778,778",
                        progressBar: {
                            disableProgressBar: false
                        },
                        navigation: {
                            onHoverStop: false
                        },
                        fallbacks: {
                            allowHTML5AutoPlayOnAndroid: true
                        },
                    });
                }
            });
        } // End of RevInitScript
        var once_revslider11 = false;
        if (document.readyState === "loading") {
            document.addEventListener('readystatechange', function () {
                if ((document.readyState === "interactive" || document.readyState === "complete") && !once_revslider11) {
                    once_revslider11 = true;
                    revinit_revslider11();
                }
            });
        } else {
            once_revslider11 = true;
            revinit_revslider11();
        }

    </script>
    <script>
        //animation section
        function reveal() {
            var reveals = document.querySelectorAll(".reveal");

            for (var i = 0; i < reveals.length; i++) {
                var windowHeight = window.innerHeight;
                var elementTop = reveals[i].getBoundingClientRect().top;
                var elementVisible = 150;

                if (elementTop < windowHeight - elementVisible) {
                    reveals[i].classList.add("active");
                } else {
                    reveals[i].classList.remove("active");
                }
            }
        }

        window.addEventListener("scroll", reveal);
    </script>

    <script>
        $(document).ready(function () {
            $("#myBtn").click(function () {
                $("#myModal").modal({ show: true });
            });
        });

        $("#submit1").click(function () {
            $("#service").val('0');
        });
        $("#submit2").click(function () {
            $("#service").val('1');
        });
        $("#submit3").click(function () {
            $("#service").val('2');
        });
        $("#submit4").click(function () {
            $("#service").val('3');
        });
    </script>


    <script>
      function SendEmailBookNow() {
            var dataType = 'application/json; charset=utf-8';
            var obj = {
                "FName": $('#fname').val(),
                "LName": $('#lname').val(),
                "Email": $('#email').val(),
                "Phone": $('#phone').val(),
                "Date": $('#date').val(),
                "Service": $('#service').val(),
                "Time": $('#time').val(),
                "Details": $('#details').val()

            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SendEmailToAdminBookNow", "Hermano")',
                dataType: 'json',
                contentType: dataType,
                data: JSON.stringify(obj),
                success: function (result) {
                    if (result.Success == true) {
                        $("#myModal").modal({ show: false });
                        swal({
                           title: "We have received you query, our team will get back to you soon!",
                            //text: "",
                            type: "success"
                        });
                        ClearFields()
                    }
                    else {
                        swal({
                            title: "Error !",
                            text: "Error Occured While Sending an Email",
                            type: "error",
                            html: true,
                            showCancelButton: false,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Ok",
                            closeOnConfirm: false,
                        });
                        ClearFields()
                    }
                }
            });

        }

        function ClearFields() {
            $('#fname').val('');
            $('#lname').val('');
            $('#email').val('');
            $('#Phone').val('');
            $('#service').val('');
            $('#time').val('');
            $('#details').val('');
        }
    </script>
    <script>
        jQuery(document).ready(function () {
            if (jQuery('#Content').attr("contact") == '') {
                jQuery('#logo .logo-main').attr("src", "../../assets/HarmanoRepair/images/header-logo.png");
            }

        });

    </script>
    @*<script src="~/language/translations.js"></script>*@
</body>
</html>
