
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Planera Group</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="~/assets/HomeV2/images/favicon.ico">

    <!-- FONTS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900'>

    <link href="~/assets/HomeV2/css/fonts.css" rel="stylesheet" />
    <!-- CSS -->
    <link rel='stylesheet' href='~/assets/css/global.css'>
    <link rel='stylesheet' href='~/assets/HomeV2/css/structure.css'>
    <link rel='stylesheet' href='~/assets/HomeV2/css/watchmaker.css'>
    <link rel='stylesheet' href='~/assets/HomeV2/css/custom.css'>

    <!-- Revolution Slider -->
    <link rel="stylesheet" href="~/assets/plugins/rs-plugin/css/settings.css">

</head>

<body class="home page template-slider style-simple button-round layout-full-width if-zoom no-content-padding hide-love no-shadows header-overlay header-transparent header-fw minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color logo-valign-top mobile-tb-center mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky">
    <div id="Wrapper">
        <div id="Header_wrapper">
            <header id="Header">
                <div id="Top_bar">
                    <div class="row">
                        <div class="column one">
                            <div class=" clearfix">
                                <div class="logo">
                                    <a id="logo" href="/home/homev2" title="logo" data-height="60" data-padding="15">
                                        <img class="logo-main scale-with-grid" src="../../assets/HomeV2/images/pg-logo-horizontal-white.png" data-retina="../../assets/HomeV2/images/pg-logo-horizontal-white.png" data-height="58" alt="renovate4_logo2" data-no-retina />
                                        <img class="logo-sticky scale-with-grid" src="../../assets/HomeV2/images/pg-logo-horizontal-white.png" data-retina="../../assets/HomeV2/images/pg-logo-horizontal-white.png" data-height="58" alt="renovate4_logo1" data-no-retina />
                                        <img class="logo-mobile scale-with-grid" src="../../assets/HomeV2/images/pg-logo-horizontal-white.png" data-retina="../../assets/HomeV2/images/pg-logo-horizontal-white.png" data-height="58" alt="renovate4_logo3" data-no-retina />
                                        <img class="logo-mobile-sticky scale-with-grid" src="../../assets/HomeV2/images/pg-logo-horizontal-white.png" data-retina="../../assets/HomeV2/images/pg-logo-horizontal-white.png" data-height="58" alt="renovate4_logo4" data-no-retina />
                                        <img class=" " src="~/assets/HomeV2/images/country-flag.png" style="padding-left:10px;padding-top:16px;" />
                                    </a>
                                    
                                </div>

                                
                                <div class="menu_wrapper" style="float:right">
                                    <nav id="menu">
                                        <ul id="menu-main-menu" class="menu menu-main">
                                            <li class="">
                                                <a href="/home/homev2" aria-current="page">Home</a>
                                            </li>

                                            <li>
                                                <a href="/planera/overview">Company Overview</a>
                                            </li>
                                            <li>
                                                <a href="/planera/ourbusiness">Our Businesses</a>

                                            </li>
                                            <li>
                                                <a href="/planera/newsevents">News & Events</a>
                                            </li>
                                            <li>
                                                <a href="/planera/planera-career">Careers</a>
                                            </li>
                                            <li>
                                                <a href="/planera/contact">Get in Touch</a>
                                            </li>
                                        </ul>
                                    </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
                                </div>
                            </div>
                            <div class="top_bar_right">
                                @*<div class="top_bar_right_wrapper"> <a href="#" class="action_button" target="_blank" style="background-color:#275935;">Contact us</a> </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        @RenderBody()
        <footer id="Footer" class="clearfix" style="background-color:white">
            <div class="widgets_wrapper" style="padding:20px 0;">
                <div class="container">
                    <div class="column one">
                        <aside class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <div style="text-align:center">
                                    <img src="~/assets/HomeV2/images/pg-logo-hor-black.png">
                                    <p style="color:#666">
                                        Mandarine Business Center -
                                        Alseef District (Bahrain)
                                        <br><span style="color:#666"> +973 17004006 ||
                                        +973 37750033 || +973 37750044</span><br /> <a href="mailto:info@planerabh.com">info@planerabh.com</a>
                                    </p>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <div class="footer_copy" style="border-top:1px solid #666">
                <div class="container">
                    <div class="column one" style="text-align:center;color:#666">
                        <a id="back_to_top" class="button button_js" href="#"><i class="icon-up-open-big"></i></a>
                        &copy; Powered by Planera Group
                    </div>
                </div>
            </div>
        </footer>
    </div>
    
    <!-- side menu -->
    <div id="Side_slide" class="right dark" data-width="250">
        <div class="close-wrapper">
            <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
        </div>

        <div class="menu_wrapper"></div>
    </div>
    <div id="body_overlay"></div>


    <!-- JS -->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/jquery-migrate-3.3.2.js"></script>

    <script src="~/assets/js/mfn.menu.js"></script>
    <script src="~/assets/js/jquery.plugins.js"></script>
    <script src="~/assets/js/jquery.jplayer.min.js"></script>
    <script src="~/assets/js/animations/animations.js"></script>
    <script src="~/assets/js/translate3d.js"></script>
    <script src="~/assets/js/scripts.js"></script>

    <script src="~/assets/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>

    <script src="http://maps.google.com/maps/api/js?sensor=false&ver=5.9"></script>
    <script src="~/assets/js/email.js"></script>
    <style>
        .dmopMx{
            display:none
        }
    </style>
    <script>
        (function () {
            var options = {
                
                whatsapp: "+97317004006", // WhatsApp number
                call_to_action: "Message us", // Call to action
                button_color: "#E74339", // Color of button
                position: "right", // Position may be 'right' or 'left'
                order: "facebook,whatsapp", // Order of buttons
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
        var revapi1, tpj = jQuery;
        tpj(document).ready(function () {
            if (tpj("#rev_slider_1_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_1_1");
            } else {
                revapi1 = tpj("#rev_slider_1_1").show().revolution({
                    sliderType: "standard",
                    sliderLayout: "fullwidth",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        onHoverStop: "off",
                    },
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: 1240,
                    gridheight: 868,
                    lazyType: "none",
                    shadow: 0,
                    spinner: "spinner2",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            }
        });</script>

    <script>
        function google_maps_5a4e7924d3a5e() {
            var latlng = new google.maps.LatLng(-33.87, 151.21);
            var draggable = true;
            var myOptions = {
                zoom: 13,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                styles: [{
                    featureType: "all",
                    elementType: "labels",
                    stylers: [{
                        visibility: "on"
                    }]
                }, {
                    featureType: "administrative",
                    elementType: "all",
                    stylers: [{
                        visibility: "off"
                    }]
                }, {
                    featureType: "landscape",
                    elementType: "all",
                    stylers: [{
                        color: "#a85c3e"
                    }, {
                        visibility: "simplified"
                    }]
                }, {
                    featureType: "poi",
                    elementType: "all",
                    stylers: [{
                        visibility: "off"
                    }]
                }, {
                    featureType: "road",
                    elementType: "all",
                    stylers: [{
                        visibility: "on"
                    }]
                }, {
                    featureType: "road",
                    elementType: "geometry",
                    stylers: [{
                        color: "#a85c3e"
                    }, {
                        lightness: "30"
                    }, {
                        saturation: "-10"
                    }]
                }, {
                    featureType: "road",
                    elementType: "labels.text",
                    stylers: [{
                        visibility: "on"
                    }]
                }, {
                    featureType: "road",
                    elementType: "labels.text.fill",
                    stylers: [{
                        color: "#a85c3e"
                    }, {
                        lightness: "80"
                    }]
                }, {
                    featureType: "road",
                    elementType: "labels.text.stroke",
                    stylers: [{
                        color: "#a85c3e"
                    }, {
                        lightness: "0"
                    }]
                }, {
                    featureType: "road",
                    elementType: "labels.icon",
                    stylers: [{
                        visibility: "off"
                    }]
                }, {
                    featureType: "transit",
                    elementType: "all",
                    stylers: [{
                        visibility: "simplified"
                    }, {
                        color: "#a85c3e"
                    }, {
                        lightness: "50"
                    }]
                }, {
                    featureType: "transit.station",
                    elementType: "all",
                    stylers: [{
                        visibility: "off"
                    }]
                }, {
                    featureType: "water",
                    elementType: "all",
                    stylers: [{
                        color: "#a85c3e"
                    }, {
                        lightness: "-20"
                    }]
                }],
                draggable: draggable,
                zoomControl: true,
                mapTypeControl: false,
                streetViewControl: false,
                scrollwheel: false
            };
            var map = new google.maps.Map(document.getElementById("google-map-area-5a4e7924d3a5e"), myOptions);
            var marker = new google.maps.Marker({
                position: latlng,
                icon: "~/assets/HomeV2/images/map-marker.png",
                map: map
            });
        }
        jQuery(document).ready(function ($) {
            //google_maps_5a4e7924d3a5e();
        });</script>


    <script>
        var tpj = jQuery;
        tpj.noConflict();
        var revapi1;
        tpj(document).ready(function () {
            if (tpj("#rev_slider_1_10").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_1_10");
            } else {
                revapi1 = tpj("#rev_slider_1_10").show().revolution({
                    sliderType: "hero",
                    jsFileLocation: "~/assets/plugins/rs-plugin/assets/js/",
                    sliderLayout: "auto",
                    dottedOverlay: "none",
                    delay: 9000,
                    gridwidth: 880,
                    gridheight: 600,
                    lazyType: "none",
                    shadow: 0,
                    spinner: "spinner3",
                    autoHeight: "off",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        disableFocusListener: "off",
                    }
                });
            }
        });
        /*]]>*/</script>
</body>

</html>