@font-face {
    font-family: 'Comfortaa-Medium';
    src: url('../../fonts/Hermano/HermanoRepair/Comfortaa-Medium.ttf') format('truetype');
}

h1, h2 {
    font-family: "Comfortaa-Medium" !important;
}

@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('../../fonts/Hermano/HermanoRepair/Comfortaa-Regular.ttf') format('truetype');
}

* {
    font-family: "Comfortaa-Regular" !important;
}

/*animation*/
.sectionani {
    display: flex;
}

sectionani:nth-child(1) {
}

sectionani:nth-child(2) {
    color: #42455a;
}

sectionani:nth-child(3) {
}

sectionani:nth-child(4) {
    color: #42455a;
}

sectionani .container {
    margin: 100px;
}

@media (max-width: 900px) {
    sectionani h1 {
        font-size: 2rem;
    }

    sectionani .text-container {
        flex-direction: column;
    }
}

.reveal {
    position: relative;
    opacity: 0;
}

    .reveal.active {
        opacity: 1;
    }

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}
.active.fade-in {
    animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.hiw h2, .hiw h5, .hiw h4, .hiw h2 a, .hiw h2 a:hover {
    color: #ffffff;
}