@media only screen and (max-width: 479px) {
    .flv_sections_53 {
        padding-top: 30% !important;
        padding-bottom: 30% !important;
    }

    .mobView {
        font-size: 50px !important;
    }
}

#Top_bar.is-sticky #logo img {
    height: 60px !important;
    max-height: 60px !important;
}

.flv_sections_53 {
    padding-top: 271px;
    padding-bottom: 259px;
    background-color: #cfd5d1;
    background-image: url(../images/home-parallax-header.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    -webkit-background-size: cover;
}
#Footer .footer_copy .one {
    margin-bottom: 30px;
    padding-top: 10px;
}
.interiorsteps .column_attr {
    color: #888;
    font-size: 16px;
}

.hover_color, .align_left:hover {
    background: white !important;
}

.highlight-left:after, .highlight-right:after {
    border-right: 24px solid white;
    border-top: 24px solid white;
    border-bottom: 24px solid white;
    height: 300px;
    margin-top: 66px;
}

#Top_bar .menu > li > a, #Top_bar #menu ul li.submenu .menu-toggle {
    color: white !important;
}

#Top_bar .menu > li > a {
    padding: 20px !important;
    color: white !important;
    font-size: 18px;
}

#logo {
    height: auto !important;
    line-height: 0 !important;
    padding: 20px !important;
}

#Top_bar {
    border-bottom: 1px solid white;
    background: rgb(0 0 0 / 8%);
}

.list_check ol {
    color: #fff;
}

.image_frame .image_wrapper, .wp-caption img, .icon_box .icon_wrapper:before {
    color: #fff !important;
}

a {
    color: #d5d5d5;
}

    a:hover {
        color: #d5d5d5;
    }

.ourproject ul {
    color: #cccccc;
}

.topleft {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

img {
    width: 100%;
    height: auto;
}

.container-fluid {
    position: relative;
}
@media only screen and (min-width: 768px) {

    #Top_bar.is-sticky {
        height: 70px
    }
}
.text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-blockBottom {
    position: absolute;
    top: 95%;
    left: 8%;
    transform: translate(-50%, -50%);
}

.text-blockBottomRight {
    position: absolute;
    top: 95%;
    right: 3%;
    transform: translate(-50%, -50%);
}

.highlight-left:after, .highlight-right:after {
    background: black !important;
}

a:hover {
    background: #626262;
}

h4 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
    letter-spacing: 0px;
}

.radius {
    border-radius: 30px;
}
