@font-face {
    font-family: 'Lato-Regular';
    src: url('../../assets/fonts/PlaneraConstruction/Lato-Regular.ttf') format('truetype');
}

* {
    font-family: "Lato-Regular" !important;
}


@font-face {
    font-family: 'Lato-Bold';
    src: url('../../assets/fonts/PlaneraConstruction/Lato-Bold.ttf') format('truetype');
}

h1 {
    font-family: "Lato-Bold" !important;
}


.section {
    display: flex;
}

section:nth-child(1) {
}

section:nth-child(2) {
    color: #42455a;
}

section:nth-child(3) {
}

section:nth-child(4) {
    color: #42455a;
}

section .container {
    /* margin: 100px;*/
}

@media (max-width: 900px) {
    section h1 {
        font-size: 2rem;
        text-align: center;
    }

    section .text-container {
        flex-direction: column;
    }
}

.reveal {
    position: relative;
    opacity: 0;
}

    .reveal.active {
        opacity: 1;
    }

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
