h3,h4 {
    font-weight: 600;
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../../fonts/PlaneraConstruction/Lato-Regular.ttf') format('truetype');
}

* {
    font-family: "Lato-Regular";
}
#Footer .footer_copy .one {
    margin-bottom: 20px;
    padding-top: 10px;
}
@font-face {
    font-family: 'cairo-bold';
    src: url('../../aracbicfont/cairo-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'cairo-regular';
    src: url('../../aracbicfont/cairo-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../../assets/fonts/PlaneraConstruction/Lato-Bold.ttf') format('truetype');
}

h1 {
    font-family: "Lato-Bold";
}
#Top_bar #logo img {
    vertical-align: middle !important;
}

#Top_bar {
    top: 0px !important;
}

.pestcontrol-heading {
    border-bottom: 2px solid #21956c;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 20px;
}

.pestcontrol-about h2 {
    font-size: 55px;
    line-height: 60px;
    font-weight: 500;
    letter-spacing: 0px;
}

.button-stroke a.button, .button-stroke a.button .button_icon i, .button-stroke a.tp-button {
    border-color: #056b39 !important;
    color: #056b39 !important;
}

#Footer, #Footer .widget_recent_entries ul li a {
    color: #000;
}

    #Footer a {
        color: #000;
    }

@media only screen and (max-width: 767px) {
    .section {
        background-attachment: scroll !important;
        height: auto !important;
    }
}

element.style {
}

#contactform #submit {
    width: 100%;
}

.button-stroke a.button.button_theme:hover, .button-stroke a.tp-button.button_theme:hover, .button-stroke button:hover, .button-stroke input[type="submit"]:hover, .button-stroke input[type="reset"]:hover, .button-stroke input[type="button"]:hover {
    background-color: #056b39 !important;
    color: #fff !important;
}

.button-stroke input[type="button"] {
    border-color: #056b39 !important;
    color: #056b39 !important;
}

.flv_sections_53 {
    padding-top: 271px;
    padding-bottom: 259px;
    background-color: #cfd5d1;
    background-image: url(../images/home-parallax-header.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    -webkit-background-size: cover;
}

.button-stroke a:hover.button, .button-stroke a:hover.tp-button {
    background-color: #056b39 !important;
    color: #fff !important;
}

.arrow {
    text-align: left !important;
    border: 1px solid #ffd800;
    border-radius: 10px;
    background: white;
    color: #2d7187;
    margin: 0 auto 40px;
    padding: 45px;
    width: 400px;
}

.arrow--2 {
    position: relative;
}

    .arrow--2:after, .arrow--2:before {
        border: solid transparent;
        content: " ";
        display: block;
        height: 0;
        position: absolute;
        pointer-events: none;
        width: 0;
        left: 100%;
    }

    .arrow--2:after {
        border-color: rgba(255, 255, 255, 0);
        border-left-color: white;
        top: 50%;
        margin-top: -10px;
        border-width: 10px;
    }

    .arrow--2:before {
        border-color: rgba(255, 255, 255, 0);
        border-left-color: #ffd800;
        top: 50%;
        margin-top: -14px;
        border-width: 14px;
    }

.arrow--4 {
    position: relative;
}

    .arrow--4:after, .arrow--4:before {
        border: solid transparent;
        content: " ";
        display: block;
        height: 0;
        position: absolute;
        pointer-events: none;
        width: 0;
        right: 100%;
    }

    .arrow--4:after {
        border-color: rgba(255, 255, 255, 0);
        border-right-color: white;
        top: 50%;
        margin-top: -10px;
        border-width: 10px;
    }

    .arrow--4:before {
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #ffd800;
        top: 50%;
        margin-top: -14px;
        border-width: 14px;
    }

@media only screen and (max-width: 767px) {
    .category-offer {
        width: 100% !important;
        height: 450px;
    }

    .arrow {
        text-align: left !important;
        border: 1px solid #ffd800;
        border-radius: 5px;
        background: white;
        color: #2d7187;
        margin: 0 auto 40px;
        padding: 15px;
        width: 250px;
    }

    .container {
        float: none;
    }

    .widgets_wrapper {
        text-align: center;
    }
}

#Top_bar #logo, .header-fixed #Top_bar #logo, .header-plain #Top_bar #logo, .header-transparent #Top_bar #logo {
    padding: 6px 0;
}


.section {
    display: flex;
}

section:nth-child(1) {
}

section:nth-child(2) {
    color: #42455a;
}

section:nth-child(3) {
}

section:nth-child(4) {
    color: #42455a;
}

section .container {
    /* margin: 100px;*/
}

@media (max-width: 900px) {
    section h1 {
        font-size: 2rem;
        text-align: center;
    }

    section .text-container {
        flex-direction: column;
    }
}

.reveal {
    position: relative;
    opacity: 0;
}

    .reveal.active {
        opacity: 1;
    }

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
