@media only screen and (min-width: 768px) {
    #Top_bar.is-sticky {
        height: 70px
    }
}

.banner-img {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.column, .columns {
    margin: 0 1% 10px;
}

#Top_bar .menu > li > a, #Top_bar #menu ul li.submenu .menu-toggle {
    color: white !important;
}

#Top_bar .menu > li > a {
    padding: 20px 10px !important;
    color: white !important;
}

#Wrapper, #Content {
    background-color: #eee;
}

#overlay-menu {
    position: absolute;
    width: 700px;
    left: 50%;
    margin-left: -350px;
    top: 50%;
}

    #overlay-menu ul li a {
        line-height: 50px;
        font-size: 30px;
    }

#Top_bar {
    border-bottom: 1px solid white;
    background: rgb(0 0 0 / 8%);
}

.overlay-menu-toggle {
    color: white !important;
    background: transparent;
}

#logo {
    height: auto !important;
    line-height: 0 !important;
    padding: 20px !important;
    /*border-right: 2px solid white;*/
}

/*.header-transparent #Top_bar .menu > li > a {
    padding: 15px !important;
}*/
.ourbusinessbox .themebg {
    background: white;
    padding-left: 15px;
    padding-right: 15px;
}

.flat_box .desc_wrapper {
    margin-left: 15px;
}

.desc_wrapper h4 {
    text-align: center;
    font-size: 16px;
}

.highlight-left:after, .highlight-right:after {
    background: #0F3584;
}

a:hover {
    color: #c07757;
}

.rs-fullvideo-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.overlay-off .video-overlay {
    z-index: 0;
}

.vl {
    border-left: 3px solid #1f438f;
    height: 100px;
    margin-left: 20px;
}

@media only screen and (max-width: 767px) {
    .mobView {
        height: 100%;
    }

    .vl {
        display: none;
    }

    /* .column_column {
        padding-bottom: 30px;
    }*/

    .pading {
        padding-bottom: 50px;
    }
}

.small {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0px;
}

.sweet-alert button {
    background-color: #1f438f !important;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer;
}

.masonry.tiles .post-item .post-desc-wrapper .post-desc .post-title:after, .masonry.tiles .post-item.no-img, .masonry.tiles .post-item.format-quote, .blog-teaser li .desc-wrapper .desc .post-title:after, .blog-teaser li.no-img, .blog-teaser li.format-quote {
    background: fixed;
}

.ourbusinessbox h4, .newsbox h2 {
    font-family: 'Montserrat';
}

.header-transparent #Top_bar .menu > li > a {
    font-weight: 500;
}

.text-justify {
    text-align: justify;
}

#contactform .column input, #contactform .column textarea {
    border-color: white;
}

#contactform ::placeholder {
    color: #afafaf
}

.style-simple .get_in_touch ul li .icon {
    top: 10px;
}

.masonry.tiles .post-item:not(.no-img) .post-photo-wrapper:after {
    background: rgba(0, 0, 0,0.59);
}
