<div id="rev_slider_30_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="media-carousel-autoplay30" style="margin:0px auto;background-color:#26292b;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
    <div id="rev_slider_30_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
        <ul>
            <!-- SLIDE -->
            <li data-index="rs-117" data-transition="fade" data-slotamount="7" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-thumb="plugins/rs-plugin/assets/images/iceberg-250x100.jpg" data-rotate="0" data-saveperformance="off" data-title="COMMITTEE" data-param1="PARALYMPIC" data-description="">
                <!-- MAIN IMAGE -->
                <img src="plugins/rs-plugin/assets/images/iceberg.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                <!-- LAYERS -->
                <!-- BACKGROUND VIDEO LAYER -->
                <video controls="controls" autoplay style="width:100%; height:100%;" muted="muted">
                    <source src="~/assets/ImagesActivarBH/AcBHV1.mp4" type="video/mp4" />
                </video>
                @*<div class="rs-background-video-layer" data-forcerewind="on" data-videowidth="100%" data-videoheight="100%" data-videomp4="assets/plugins/rs-plugin/assets/videos/AcBHV1.mp4" data-videopreload="preload" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true"></div>*@
                <!-- LAYER NR. 1 -->
                <div class="tp-caption Video-SubTitle tp-resizeme" id="slide-117-layer-2" data-x="10" data-y="bottom" data-voffset="50" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;tO:-20% 50%;" data-transform_in="y:bottom;rZ:90deg;sX:2;sY:2;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="5000" style="z-index: 5; white-space: nowrap;">
                    NOW PLAYING
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption Video-Title tp-resizeme" id="slide-117-layer-1" data-x="10" data-y="bottom" data-voffset="10" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;tO:-20% 50%;" data-transform_in="y:bottom;rX:0deg;rY:0deg;rZ:90deg;sX:2;sY:2;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="4750" style="z-index: 6; white-space: nowrap;">
                    ASIAN PARALYMPIC COMMITTEE
                </div>
            </li>
            <!-- SLIDE -->
            <li data-index="rs-118" data-transition="fade" data-slotamount="7" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-thumb="plugins/rs-plugin/assets/images/amigos-250x100.jpg" data-rotate="0" data-saveperformance="off" data-title="PARA GAME" data-param1=" ASIAN YOUTH " data-description="">
                <!-- MAIN IMAGE -->
                @*<img src="plugins/rs-plugin/assets/images/amigos.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">*@
                <!-- LAYERS -->
                <video controls="controls" autoplay style="width:100%; height:100%;" muted="muted">
                    <source src="~/assets/ImagesActivarBH/AcBHV2.mp4" type="video/mp4" />
                </video>
                <!-- BACKGROUND VIDEO LAYER -->
                @*<div class="rs-background-video-layer" data-forcerewind="on" data-volume="100" data-vimeoid="125292332" data-videoattributes="title=0&amp;byline=0&amp;portrait=0&amp;api=1" data-videowidth="100%" data-videoheight="100%" data-videocontrols="none" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true"></div>*@
                <!-- LAYER NR. 1 -->
                <div class="tp-caption Video-SubTitle tp-resizeme" id="slide-118-layer-1" data-x="10" data-y="bottom" data-voffset="50" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;tO:-20% 50%;" data-transform_in="y:bottom;rZ:90deg;sX:2;sY:2;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="5000" style="z-index: 5; white-space: nowrap;">
                    NOW PLAYING
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption Video-Title tp-resizeme" id="slide-118-layer-2" data-x="10" data-y="bottom" data-voffset="10" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;tO:-20% 50%;" data-transform_in="y:bottom;rZ:90deg;sX:2;sY:2;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="4750" style="z-index: 6; white-space: nowrap;">
                    ASIAN YOUTH PARA GAME
                </div>
            </li>
            <!-- SLIDE -->
            <li data-index="rs-119" data-transition="fade" data-slotamount="7" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-thumb="plugins/rs-plugin/assets/images/youtube1_cover-250x100.jpg" data-rotate="0" data-saveperformance="off" data-title="COLLECTION" data-param1="IZIQ" data-description="">
                <!-- MAIN IMAGE -->
                @*<img src="plugins/rs-plugin/assets/images/youtube1_cover.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">*@
                <!-- LAYERS -->
                <video controls="controls" autoplay style="width:100%; height:100%;" muted="muted">
                    <source src="~/assets/ImagesActivarBH/AcBHV3.mp4" type="video/mp4" />
                </video>
                <!-- BACKGROUND VIDEO LAYER -->
                @*<div class="rs-background-video-layer" data-forcerewind="on" data-volume="100" data-ytid="d_8fE-On19I" data-videoattributes="version=3&amp;enablejsapi=1&amp;html5=1&amp;volume=100&amp;hd=1&amp;wmode=opaque&amp;showinfo=0&amp;ref=0;;origin=http://server.local;" data-videorate="1" data-videowidth="100%" data-videoheight="100%" data-videocontrols="none" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true"></div>*@
                <!-- LAYER NR. 1 -->
                <div class="tp-caption Video-SubTitle tp-resizeme" id="slide-119-layer-1" data-x="10" data-y="bottom" data-voffset="50" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;tO:-20% 50%;" data-transform_in="y:bottom;rZ:90deg;sX:2;sY:2;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="5000" style="z-index: 5; white-space: nowrap;">
                    NOW PLAYING
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption Video-Title tp-resizeme" id="slide-119-layer-2" data-x="10" data-y="bottom" data-voffset="10" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;tO:-20% 50%;" data-transform_in="y:bottom;rZ:90deg;sX:2;sY:2;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="4750" style="z-index: 6; white-space: nowrap;">
                    IZIQ
                </div>
            </li>
            <!-- SLIDE -->
            <li data-index="rs-120" data-transition="fade" data-slotamount="7" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-thumb="plugins/rs-plugin/assets/images/calbuco-250x100.jpg" data-rotate="0" data-saveperformance="off" data-title="COLLECTION" data-param1="PERFUMES" data-description="">
                <!-- MAIN IMAGE -->
                @*<img src="plugins/rs-plugin/assets/images/calbuco.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">*@
                <!-- LAYERS -->
                <video controls="controls" autoplay style="width:100%; height:100%;" muted="muted">
                    <source src="~/assets/ImagesActivarBH/AcBHV4.mp4" type="video/mp4" />
                </video>
                <!-- BACKGROUND VIDEO LAYER -->
                @*<div class="rs-background-video-layer" data-forcerewind="on" data-volume="100" data-vimeoid="130622230" data-videoattributes="title=0&amp;byline=0&amp;portrait=0&amp;api=1" data-videowidth="100%" data-videoheight="100%" data-videocontrols="none" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true"></div>*@
                <!-- LAYER NR. 1 -->
                <div class="tp-caption Video-SubTitle tp-resizeme" id="slide-120-layer-1" data-x="10" data-y="bottom" data-voffset="50" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;tO:-20% 50%;" data-transform_in="y:bottom;rZ:90deg;sX:2;sY:2;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="5000" style="z-index: 5; white-space: nowrap;">
                    NOW PLAYING
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption Video-Title tp-resizeme" id="slide-120-layer-2" data-x="10" data-y="bottom" data-voffset="10" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;tO:-20% 50%;" data-transform_in="y:bottom;rZ:90deg;sX:2;sY:2;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="4750" style="z-index: 6; white-space: nowrap;">
                    OUR COLLECTION
                </div>
            </li>
            <!-- SLIDE -->
           
        </ul>
        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div>
</div>
