<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Be</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- FONTS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel="stylesheet" type="text/css" href="plugins/rs-plugin/fonts/font-awesome/css/font-awesome.min.css">

    <!-- CSS -->
    <!-- Revolution Slider -->
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/navigation.css">

   
</head>

<body class="page-parent template-slider color-blue layout-full-width header-classic subheader-transparent sticky-header sticky-white nice-scroll-on subheader-title-left">
    <!-- Hidden Top Area -->
    <div id="Sliding-top">
        <div class="widgets_wrapper">
            <div class="container">
                <div class="one-fourth column">
                    <!-- Login form -->
                    <aside id="widget_mfn_login-2" class="widget widget_mfn_login">
                        <div class="mfn-login">
                            <h4>Login | Register</h4>
                            <form name="loginform" id="loginform" action="#" method="post">
                                <p class="login-username">
                                    <label for="user_login">Username</label>
                                    <input type="text" name="log" id="user_login" class="input" value="" size="20" />
                                </p>
                                <p class="login-password">
                                    <label for="user_pass">Password</label>
                                    <input type="password" name="pwd" id="user_pass" class="input" value="" size="20" />
                                </p>
                                <p class="login-submit">
                                    <input type="submit" name="wp-submit" id="wp-submit" class="button-primary" value="Log In" />
                                    <input type="hidden" name="redirect_to" value="#" />
                                </p>
                            </form>
                            <div class="links">
                                <a href="#">Register</a><span class="sep">|</span><a href="#">Lost your password?</a>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="one-fourth column">
                    <!-- Text Area -->
                    <aside id="text-10" class="widget widget_text">
                        <div class="textwidget">
                            <p>
                                <span class="big">We reply on all questions within</span>
                            </p><span class="themecolor flv_header_number">24 h</span>
                            <div class="hr_dots flv_dots">
                                <span></span><span></span><span></span>
                            </div>
                            <p class="flv_center">
                                <span class="flv_grey">We offer support for our customers</span>
                                <br>
                                <b><i class="icon-clock"></i> Mon - Fri 8:00am - 6:00pm <span class="tooltip" data-tooltip="we are located in Europe">(GMT +1)</span> </b>
                            </p>
                        </div>
                    </aside>
                </div>
                <div class="one-fourth column">
                    <!-- Text Area -->
                    <aside id="text-11" class="widget widget_text">
                        <div class="textwidget">
                            <h5 class="flv_margin_b_5"><i class="icon-mail-line"></i> Our address:</h5>
                            <p class="flv_margin_l_26">
                                <strong>Envato</strong>
                                <br> Level 13, 2 Elizabeth St,
                                <br> Melbourne, Victoria 3000 Australia
                            </p>
                            <h5 class="flv_margin_b_5"><i class="icon-phone"></i> Have any questions?</h5>
                            <p class="flv_margin_l_26">
                                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </p>
                            <h5 class="flv_margin_b_5"><i class="icon-comment-line"></i> Call us:</h5>
                            <p class="flv_margin_l_26">
                                <a href="tel:+61791803458">+61 (0) 7 9180 3458</a>
                            </p>
                        </div>
                    </aside>
                </div>
                <div class="one-fourth column">
                    <!-- Text Area -->
                    <aside id="text-12" class="widget widget_text">
                        <div class="textwidget">
                            <img src="~/assets/images/logo_footer.png">
                            <p>
                                <span class="big">We love who we are and we are very proud to be the part of your business</span>
                            </p>
                            <p>
                                Curabitur sit amet magna quam. Praesent in libero vel <span class="tooltip" data-tooltip="Quis accumsan dolor">turpis pellentesque</span> egestas sit amet vel nunc. Nunc lobortis dui neque quis.
                            </p>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
        <a href="#" class="sliding-top-control"><span><i class="plus icon-down-open-mini"></i><i class="minus icon-up-open-mini"></i></span></a>
    </div>
    <!-- Main Theme Wrapper -->
    <div id="Wrapper">
        <!-- Header Wrapper -->
        <div id="Header_wrapper">
            <!-- Header -->
            <header id="Header">
                <!-- Header Top -  Info Area -->
                 
                <!-- SLIDER EXAMPLE -->
                <section class="example">
                    <article class="content">

                        <div id="rev_slider_30_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="media-carousel-autoplay30" style="margin:0px auto;background-color:#26292b;padding:0px;margin-top:0px;margin-bottom:0px;">
                            <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
                            <div id="rev_slider_30_1" class="rev_slider fullwidthabanner"   data-version="5.0.7">
                                <ul>
                                    <!-- SLIDE -->
                                    <li data-index="rs-117" data-transition="fade" data-slotamount="7" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-thumb="~/assets/plugins/rs-plugin/assets/images/iceberg-250x100.jpg" data-rotate="0" data-saveperformance="off" data-title="Iceberg" data-param1="HTML5 Video" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="~/assets/plugins/rs-plugin/assets/images/iceberg.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                                        <!-- LAYERS -->
                                        <!-- BACKGROUND VIDEO LAYER -->
                                        <div class="rs-background-video-layer" data-forcerewind="on" data-videowidth="100%" data-videoheight="100%" data-videomp4="~/assets/plugins/rs-plugin/assets/videos/video2.mp4" data-videopreload="preload" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true"></div>
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption Video-SubTitle tp-resizeme" id="slide-117-layer-2" data-x="10" data-y="bottom" data-voffset="50" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;tO:-20% 50%;" data-transform_in="y:bottom;rZ:90deg;sX:2;sY:2;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="5000" style="z-index: 5; white-space: nowrap;">
                                            NOW PLAYING
                                        </div>

                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption Video-Title tp-resizeme" id="slide-117-layer-1" data-x="10" data-y="bottom" data-voffset="10" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;tO:-20% 50%;" data-transform_in="y:bottom;rX:0deg;rY:0deg;rZ:90deg;sX:2;sY:2;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="4750" style="z-index: 6; white-space: nowrap;">
                                            ICEBERG
                                        </div>
                                    </li>
                                    <!-- SLIDE -->
                                    <li data-index="rs-118" data-transition="fade" data-slotamount="7" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-thumb="~/assets/plugins/rs-plugin/assets/images/amigos-250x100.jpg" data-rotate="0" data-saveperformance="off" data-title="Hola Llamigo" data-param1="Vimeo Video" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="~/assets/plugins/rs-plugin/assets/images/amigos.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                                        <!-- LAYERS -->
                                        <!-- BACKGROUND VIDEO LAYER -->
                                        <div class="rs-background-video-layer" data-forcerewind="on" data-volume="100" data-vimeoid="125292332" data-videoattributes="title=0&amp;byline=0&amp;portrait=0&amp;api=1" data-videowidth="100%" data-videoheight="100%" data-videocontrols="none" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true"></div>
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption Video-SubTitle tp-resizeme" id="slide-118-layer-1" data-x="10" data-y="bottom" data-voffset="50" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;tO:-20% 50%;" data-transform_in="y:bottom;rZ:90deg;sX:2;sY:2;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="5000" style="z-index: 5; white-space: nowrap;">
                                            NOW PLAYING
                                        </div>

                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption Video-Title tp-resizeme" id="slide-118-layer-2" data-x="10" data-y="bottom" data-voffset="10" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;tO:-20% 50%;" data-transform_in="y:bottom;rZ:90deg;sX:2;sY:2;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="4750" style="z-index: 6; white-space: nowrap;">
                                            HOLA LLAMIGO
                                        </div>
                                    </li>
                                    <!-- SLIDE -->
                                    <li data-index="rs-119" data-transition="fade" data-slotamount="7" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-thumb="~/assets/plugins/rs-plugin/assets/images/youtube1_cover-250x100.jpg" data-rotate="0" data-saveperformance="off" data-title="The Road Story on Vietnam" data-param1="Youtube Video" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="~/assets/plugins/rs-plugin/assets/images/youtube1_cover.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                                        <!-- LAYERS -->
                                        <!-- BACKGROUND VIDEO LAYER -->
                                        <div class="rs-background-video-layer" data-forcerewind="on" data-volume="100" data-ytid="d_8fE-On19I" data-videoattributes="version=3&amp;enablejsapi=1&amp;html5=1&amp;volume=100&amp;hd=1&amp;wmode=opaque&amp;showinfo=0&amp;ref=0;;origin=http://server.local;" data-videorate="1" data-videowidth="100%" data-videoheight="100%" data-videocontrols="none" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true"></div>
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption Video-SubTitle tp-resizeme" id="slide-119-layer-1" data-x="10" data-y="bottom" data-voffset="50" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;tO:-20% 50%;" data-transform_in="y:bottom;rZ:90deg;sX:2;sY:2;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="5000" style="z-index: 5; white-space: nowrap;">
                                            NOW PLAYING
                                        </div>

                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption Video-Title tp-resizeme" id="slide-119-layer-2" data-x="10" data-y="bottom" data-voffset="10" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;tO:-20% 50%;" data-transform_in="y:bottom;rZ:90deg;sX:2;sY:2;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="4750" style="z-index: 6; white-space: nowrap;">
                                            THE ROAD STORY VIETNAM
                                        </div>
                                    </li>
                                    <!-- SLIDE -->
                                    <li data-index="rs-120" data-transition="fade" data-slotamount="7" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-thumb="~/assets/plugins/rs-plugin/assets/images/calbuco-250x100.jpg" data-rotate="0" data-saveperformance="off" data-title="Calbuco" data-param1="Vimeo Video" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="~/assets/plugins/rs-plugin/assets/images/calbuco.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                                        <!-- LAYERS -->
                                        <!-- BACKGROUND VIDEO LAYER -->
                                        <div class="rs-background-video-layer" data-forcerewind="on" data-volume="100" data-vimeoid="130622230" data-videoattributes="title=0&amp;byline=0&amp;portrait=0&amp;api=1" data-videowidth="100%" data-videoheight="100%" data-videocontrols="none" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true"></div>
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption Video-SubTitle tp-resizeme" id="slide-120-layer-1" data-x="10" data-y="bottom" data-voffset="50" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;tO:-20% 50%;" data-transform_in="y:bottom;rZ:90deg;sX:2;sY:2;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="5000" style="z-index: 5; white-space: nowrap;">
                                            NOW PLAYING
                                        </div>

                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption Video-Title tp-resizeme" id="slide-120-layer-2" data-x="10" data-y="bottom" data-voffset="10" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;tO:-20% 50%;" data-transform_in="y:bottom;rZ:90deg;sX:2;sY:2;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="4750" style="z-index: 6; white-space: nowrap;">
                                            CALBUCO
                                        </div>
                                    </li>
                                    <!-- SLIDE -->
                                    <li data-index="rs-121" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="~/assets/plugins/rs-plugin/assets/images/space_cover-250x100.jpg" data-rotate="0" data-saveperformance="off" data-title="Space Timelapse" data-param1="HTML5 Video" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="~/assets/plugins/rs-plugin/assets/images/space_cover.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                                        <!-- LAYERS -->
                                        <!-- BACKGROUND VIDEO LAYER -->
                                        <div class="rs-background-video-layer" data-forcerewind="on" data-volume="mute" data-videowidth="100%" data-videoheight="100%" data-videomp4="~/assets/plugins/rs-plugin/assets/videos/video1.mp4" data-videopreload="preload" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true"></div>
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption Video-SubTitle tp-resizeme" id="slide-121-layer-1" data-x="10" data-y="bottom" data-voffset="50" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;tO:-20% 50%;" data-transform_in="y:bottom;rZ:90deg;sX:2;sY:2;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="5000" style="z-index: 5; white-space: nowrap;">
                                            PLAYING NOW
                                        </div>

                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption Video-Title tp-resizeme" id="slide-121-layer-2" data-x="10" data-y="bottom" data-voffset="10" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;tO:-20% 50%;" data-transform_in="y:bottom;rZ:90deg;sX:2;sY:2;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="4750" style="z-index: 6; white-space: nowrap;">
                                            SPACE TIMELAPSE
                                        </div>
                                    </li>
                                    <!-- SLIDE -->
                                    <li data-index="rs-122" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="~/assets/plugins/rs-plugin/assets/images/media1-250x100.jpg" data-rotate="0" data-saveperformance="off" data-title="Real Webdesign" data-param1="Regular Image" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="~/assets/plugins/rs-plugin/assets/images/media1.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                                        <!-- LAYERS -->
                                    </li>
                                </ul>
                                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                            </div>
                        </div>
                        <!-- END REVOLUTION SLIDER -->

                    </article>
                </section>

            </header>
        </div>


        <!-- Footer-->
        
    </div>

    <!-- Popup contact form -->
    <div id="popup_contact">
        <a class="button button_js" href="#"><i class="icon-mail-line"></i></a>
        <div class="popup_contact_wrapper">

            <div id="contactWrapper_popup">
                <form id="contactform_popup">
                    <h4>Send us a message</h4>
                    <p>
                        <span>
                            <input type="text" name="name_popup" id="name_popup" size="40" aria-required="true" aria-invalid="false" placeholder="Your name" />
                        </span><span>
                            <input type="email" name="email_popup" id="email_popup" size="40" aria-required="true" aria-invalid="false" placeholder="Your email" />
                        </span><span>
                            <input type="text" name="subject_popup" id="subject_popup" size="40" aria-required="true" aria-invalid="false" placeholder="Subject" />
                        </span><span>
<textarea name="body_popup" cols="40" id="body_popup" rows="2" aria-required="true" aria-invalid="false" placeholder="Message"></textarea>
                        </span>

                        <input type="button" value="Send Message" id="submit_popup" onClick="return check_values_popup();">
                    </p>
                </form>
                <div id="confirmation_popup"></div>
            </div>

            <span class="arrow"></span>
        </div>
    </div>

    <!-- JS -->


    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/jquery-migrate-3.3.2.js"></script>

    <script src="~/assets/js/mfn.menu.js"></script>
    <script src="~/assets/js/jquery.plugins.js"></script>
    <script src="~/assets/js/jquery.jplayer.min.js"></script>
    <script src="~/assets/js/animations/animations.js"></script>
    <script src="~/assets/js/email.js"></script>
    <script src="~/assets/js/scripts.js"></script>

    <script src="~/assets/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>


    <script>
        var tpj = jQuery;

        var revapi30;
        tpj(document).ready(function() {
            if (tpj("#rev_slider_30_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_30_1");
            } else {
                revapi30 = tpj("#rev_slider_30_1").show().revolution({
                    sliderType:"carousel",

                    sliderLayout:"fullwidth",
                    dottedOverlay:"none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation:"off",
                        keyboard_direction:"horizontal",
                        mouseScrollNavigation:"off",
                        onHoverStop:"off",
                        touch: {
                            touchenabled:"on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction:"horizontal",
                            drag_block_vertical: false
                        },
                        arrows: {
                            style:"gyges",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: false,
                            tmp: '',
                            left: {
                                h_align:"left",
                                v_align:"center",
                                h_offset: 20,
                                v_offset: 0
                            },
                            right: {
                                h_align:"right",
                                v_align:"center",
                                h_offset: 20,
                                v_offset: 0
                            }
                        },
                        tabs: {
                            style:"gyges",
                            enable: true,
                            width: 250,
                            height: 80,
                            min_width: 250,
                            wrapper_padding: 30,
                            wrapper_color:"#26292b",
                            wrapper_opacity:"1",
                            tmp: '<div class="tp-tab-content"> <span class="tp-tab-date">{{param1}}</span> <span class="tp-tab-title">{{title}}</span></div><div class="tp-tab-image"></div>',
                            visibleAmount: 5,
                            hide_onmobile: false,
                            hide_onleave: false,
                            hide_delay: 200,
                            direction:"horizontal",
                            span: true,
                            position:"outer-bottom",
                            space: 0,
                            h_align:"center",
                            v_align:"bottom",
                            h_offset: 0,
                            v_offset: 0
                        }
                    },
                    carousel: {
                        horizontal_align:"center",
                        vertical_align:"center",
                        fadeout:"on",
                        vary_fade:"on",
                        maxVisibleItems: 3,
                        infinity:"on",
                        space: 0,
                        stretch:"off"
                    },
                    gridwidth: 720,
                    gridheight: 405,
                    lazyType:"none",
                    shadow: 0,
                    spinner:"off",
                    stopLoop:"on",
                    stopAfterLoops: 0,
                    stopAtSlide: 1,
                    shuffle:"off",
                    autoHeight:"off",
                    disableProgressBar:"on",
                    hideThumbsOnMobile:"off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll:"off",
                        nextSlideOnWindowFocus:"off",
                        disableFocusListener: false,
                    }
                });
            }
        }); /*ready*/
    </script>

    <script>jQuery(window).on('load', function () {
            var retina = window.devicePixelRatio> 1 ? true : false;
            if (retina) {
                var retinaEl = jQuery("#logo img");
                var retinaLogoW = retinaEl.width();
                var retinaLogoH = retinaEl.height();
                retinaEl.attr("src","images/logo-retina.png").width(retinaLogoW).height(retinaLogoH)
            }
        });</script>


</body>

</html>
