
@{
    ViewBag.Title = "ActivarBHAbout";
    Layout = "~/Views/Shared/_LayoutActivarBAH.cshtml";
}
<style>
    .flv_sections_53 {
        padding-top: 280px;
        padding-bottom: 179px;
        background-color: #cfd5d1;
    }
</style>
<div class="section full-width center dark flv_sections_53" style="background-image: url(../../assets/ImagesActivarBH/gallery-header.jpg);background-size: cover;background-repeat: no-repeat;" data-stellar-background-ratio="0.5">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix"></div>
        @*<h1 class="mobView">
                Gallery
            </h1>*@
    </div>
</div>
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="container-fluid" style="background-color:white; padding-top:60px;">
                    <div class="row">
                        <div class="column one-third" style="text-align:center">
                            <img src="~/assets/ImagesActivarBH/-e-Pen holder.png" />
                            <br />
                            <img src="~/assets/ImagesActivarBH/-e-DSLR Camera.png" />
                        </div>
                        <div class="column one-third" style="text-align:center">
                            <h3 style="color:black">Who We Are</h3>
                            <br />
                            <h5 style="color:black">that provides comprehensive media services, production of</h5>
                            <h5 style="color:black">images and videos, design and printing of all kinds</h5>
                            <br />
                            <h5 style="color:black">it practice public relations, marketing, and perfumery</h5>
                            <h5 style="color:black">activities. Its provide project management consultancy.</h5>
                            <br />
                            <h5 style="color:black">It seeks to be a success partner with its clients to </h5>
                            <h5 style="color:black">their goals and desire and provide the best service to be</h5>
                            <h5 style="color:black">the ideal choice for all clients.</h5>
                        </div>
                        <div class="column one-third" style="text-align:right">
                            <img src="~/assets/ImagesActivarBH/-e-Moleskine2.png" />
                        </div>
                    </div>
                </div>

                <div class="section mcb-section equal-height-wrap bg-cover" style="padding-top: 125px; padding-bottom: 125px; background-image: url(../../assets/ImagesActivarBH/01.jpg); background-repeat: no-repeat; background-position: center;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-second valign-middle clearfix reveal fade-left" style="padding:0 2%; height:600px !important;">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_slider">
                                    <div class="content_slider flat hide-arrows hide-dots">
                                        <ul class="content_slider_ul">
                                            <li class="content_slider_li_1">
                                                <a href="~/assets/ImagesActivarBH/About-section3.jpg" rel="prettyphoto"><img src="~/assets/ImagesActivarBH/About-section3.jpg" class="scale-with-grid wp-post-image" alt></a>
                                            </li>
                                        </ul>
                                        <div class="slider_pager slider_pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second valign-middle clearfix reveal fade-right" style="padding:0 2%;  height:600px !important;">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix">
                                        <h3 style="color:white;">Our Message</h3>
                                        <hr class="no_line" style="margin: 0 auto 30px;">
                                        <p style="color:white;">
                                            We work to keep pace with the progree of
                                        </p>
                                        <p style="color:white;">
                                            the electronic word and meet the
                                        </p>
                                        <p style="color:white;">
                                            requirements of your customers to their suit
                                        </p>
                                        <p style="color:white;">
                                            need with the highest degree of
                                        </p>
                                        <p style="color:white;">
                                            personalism
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="section mcb-section equal-height-wrap bg-cover" style="padding-top: 125px; padding-bottom: 125px; background-image: url(../../assets/ImagesActivarBH/02.jpg); background-repeat: no-repeat; background-position: center;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-second valign-middle clearfix reveal fade-right" style="padding:0 2%;  height:600px !important;">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix">
                                        <h3 style="color:white;">Our Objectives</h3>
                                        <hr class="no_line" style="margin: 0 auto 30px;">
                                        <p style="color:white;">
                                            - Customer Satisfaction First
                                        </p>
                                        <p style="color:white;">
                                            - Diversity, distinction and Innovation
                                        </p>
                                        <p style="color:white;">
                                            - One Hand to acheive the best
                                        </p>
                                        <p style="color:white;">
                                            - Commitment to social responsibility
                                        </p>
                                        <p style="color:white;">
                                            - Integrity and honesty
                                        </p>

                                        <div class="tp-caption rev-btn rev-withicon" id="slide-1-layer-4" data-x="center" data-hoffset data-y="463" data-width="['auto']" data-height="['auto']" data-type="button" data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"#","delay":""}]'
                                             data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(10,10,10);bs:solid;bw:0 0 0 0;"}]'
                                             data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[15,15,15,15]" data-paddingright="[35,35,35,35]" data-paddingbottom="[15,15,15,15]" data-paddingleft="[35,35,35,35]" style="z-index: 6; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 600; color: black; letter-spacing: px;font-family:Barlow;background-color:#fff;border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                                            Our Services <img src="~/assets/ImagesActivarBH/arrow.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="wrap mcb-wrap one-second valign-middle clearfix reveal fade-left" style="padding:0 2%; height:600px !important;">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_slider">
                                    <div class="content_slider flat hide-arrows hide-dots">
                                        <ul class="content_slider_ul">
                                            <li class="content_slider_li_1">
                                                <a href="~/assets/ImagesActivarBH/-e-Layer 21.png" rel="prettyphoto"><img src="~/assets/ImagesActivarBH/-e-Layer 21.png" class="scale-with-grid wp-post-image" alt></a>
                                            </li>
                                        </ul>
                                        <div class="slider_pager slider_pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="section mcb-section equal-height-wrap bg-cover" style="padding-top: 125px; padding-bottom: 125px; background-image: url(../../assets/ImagesActivarBH/-e-our-vision.png); background-repeat: no-repeat; background-position: center;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-second valign-middle clearfix reveal fade-right" style="padding:0 2%;  height:600px !important;">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix">
                                        <h3 style="color:black">Our Vision</h3>
                                        <h4 style="color:black">
                                            Service, Quality Professionalism
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" style="padding-top:20px; padding-bottom:60px; ">
                    <div class="wrap mcb-wrap one valign-top clearfix">
                        <div class="mcb-wrap-inner">
                            <div class=" ">
                                <div class="column_attr clearfix align_center">
                                    <h3 style="padding:20px 0; color:black">OUR TEAM</h3>
                                </div>
                                <div class="wrapper">
                                    <div class="sliding-background"></div>
                                </div>
                                <style>
                                    .wrapper {
                                        overflow: hidden;
                                    }

                                    .sliding-background {
                                        background: url(../../assets/HomeV2/images/team-slider.jpg) repeat-x;
                                        height: 560px;
                                        width: 5076px;
                                        animation: slide 30s linear infinite;
                                    }

                                    @@keyframes slide {
                                        0% {
                                            transform: translate3d(0, 0, 0);
                                        }

                                        100% {
                                            transform: translate3d(-1692px, 0, 0);
                                        }
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>