@{
    ViewBag.Title = "Activar Home";
    Layout = "~/Views/Shared/_LayoutActivarBAH.cshtml";
}

<div class="mfn-main-slider" id="mfn-rev-slider">
    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-source="gallery" style="background:transparent;padding:0px;">
        <div id="rev_slider_1_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.8.3">
            <ul>
                <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-data-param1
                    data-param2 data-param3 data-param4 data-param5 data-param6 data-param7 data-param8 data-param9 data-param10 data-description>
                    <img src="~/assets/ImagesActivarBH/activar-bg.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="15" class="rev-slidebg">
                    <div class="tp-caption tp-resizeme" id="slide-1-layer-3" data-x="center" data-hoffset data-y="center" data-voffset="-60" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 75px; line-height: 80px; font-weight: 400; color: #fff; letter-spacing: 0px;font-family:Michroma;">
                        <div class="waviy">
                            <h2 style="font-family:gotham" class="text-center">
                                We are your way
                            </h2>
                            <h2 style="text-align:center;">
                                to creativity
                            </h2>
                        </div>
                        @*Comprehensive
                            <br> Media Services*@
                    </div>
                    <div class="tp-caption rev-btn rev-withicon" id="slide-1-layer-4" data-x="center" data-hoffset data-y="463" data-width="['auto']" data-height="['auto']" data-type="button" data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"#","delay":""}]'
                         data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(10,10,10);bs:solid;bw:0 0 0 0;"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[15,15,15,15]" data-paddingright="[35,35,35,35]" data-paddingbottom="[15,15,15,15]" data-paddingleft="[35,35,35,35]" style="z-index: 6; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 600; color: #fff; letter-spacing: px;font-family:Barlow;background-color:#ca2028;border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                        View Our Work <i class="fa-icon-camera-retro"></i>
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
</div>
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="container-fluid" style="background-color:white;">
                    <img src="~/assets/ImagesActivarBH/bg-ab.png" style="width:100%;" />
                    <div class="text-block">

                        <h3 class=""><b>Be a Part of Activar Family</b></h3>
                    </div>
                </div>

                <div class="section mcb-section" style="padding-top:80px;padding-bottom:5px;background-color:white;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner" style="text-align:center">
                                <div class="">
                                    <div class="column_attr clearfix">
                                        <h3 style="color:black;">
                                            <b>Our Services</b>
                                        </h3>
                                        @*<hr class="no_line" style="margin: 0 auto 30px;">
                                    <section>
                                        <div class="reveal fade-left">
                                            <p style="color:black;">
                                                We provide investment experience in the field of management selling and manufacturing perfumes and cosmetics activities related to promotions and marketing
                                                photography and video public relations IT and computer service.
                                            </p>
                                        </div>
                                    </section>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<section>*@
                <div class="section mcb-section" style="padding-top:30px;padding-bottom:50px;background-color:white;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-fourth valign-top " style="text-align: center; ">
                            <div class="column mcb-column one column_image " style="margin-bottom:18px">
                                <div class="image_frame image_item no_link scale-with-grid no_border">
                                    <div class="image_wrapper">
                                        <img class="scale-with-grid" src="~/assets/ImagesActivarBH/service-image1.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                <div class="column_attr clearfix">
                                    <h5 class="fontcolor">
                                        Graphic Design Information
                                        <br />
                                        & Computer Technologies
                                    </h5>
                                    <hr class="no_line" style="margin: 0 auto 10px;">

                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-fourth valign-top clearfix " style=" text-align: center; ">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image" style="margin-bottom:14px">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="~/assets/ImagesActivarBH/services-image2.png" />
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                    <div class="column_attr clearfix">
                                        <h5 class="fontcolor">
                                            Video Shooting <br />
                                            and Editing
                                        </h5>
                                        <hr class="no_line" style="margin: 0 auto 10px;">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-fourth valign-top clearfix " style="padding:0 2%;text-align:center;">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image" style="margin-bottom:18px;">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="~/assets/ImagesActivarBH/service-image3.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                    <div class="column_attr clearfix">
                                        <h5 class="fontcolor">
                                            Managing Social <br />
                                            Media Accounts
                                        </h5>
                                        <hr class="no_line" style="margin: 0 auto 10px;">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-fourth valign-top clearfix " style="padding: 0 2%; text-align: center; ">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image" style="margin-bottom:18px;">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="~/assets/ImagesActivarBH/service-image4.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                    <div class="column_attr clearfix">
                                        <h5 class="fontcolor">
                                            Promotion and <br />
                                            Marketing
                                        </h5>
                                        <hr class="no_line" style="margin: 0 auto 10px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-fourth valign-top clearfix " style=" padding: 0 2%; text-align: center; ">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image" style="margin-bottom:20px;padding-top:35px">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="~/assets/ImagesActivarBH/service-image5.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                    <div class="column_attr clearfix">
                                        <h5 class="fontcolor">
                                            Photographer
                                        </h5>
                                        <hr class="no_line" style="margin: 0 auto 10px;">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-fourth valign-top clearfix " style="padding:0 2%;text-align:center; ">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image" style="margin-bottom:18px;padding-top:35px">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="~/assets/ImagesActivarBH/service-image6.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                    <div class="column_attr clearfix">
                                        <h5 class="fontcolor">
                                            Public <br /> Relations
                                        </h5>
                                        <hr class="no_line" style="margin: 0 auto 10px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-fourth valign-top clearfix " style="padding:0 2%;text-align:center; ">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image" style="margin-bottom:18px;padding-top:35px">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="~/assets/ImagesActivarBH/service-image7.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                    <div class="column_attr clearfix">
                                        <h5 class="fontcolor">
                                            Media <br /> Coverage
                                        </h5>
                                        <hr class="no_line" style="margin: 0 auto 10px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-fourth valign-top clearfix " style="padding:0 2%;text-align:center; ">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image" style="margin-bottom:18px;padding-top:35px">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="~/assets/ImagesActivarBH/service-image8.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                    <div class="column_attr clearfix">
                                        <h5 class="fontcolor">
                                            Manage <br /> Tournaments
                                        </h5>
                                        <hr class="no_line" style="margin: 0 auto 10px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*</section>*@
            </div>
            <div class="section mcb-section equal-height-wrap bg-cover" style="padding-top:125px;padding-bottom:125px;background-image:url(../assets/photo2-home-bg.jpg);background-repeat:no-repeat;background-position:center;">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one-second valign-middle clearfix reveal fade-left" style="padding:0 2%; height:600px !important;">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_slider">
                                <div class="content_slider flat hide-arrows hide-dots">
                                    <ul class="content_slider_ul">
                                        <li class="content_slider_li_1">
                                            <a href="~/assets/ImagesActivarBH/img1.jpg" rel="prettyphoto"><img src="~/assets/ImagesActivarBH/img1.jpg" class="scale-with-grid wp-post-image" alt></a>
                                        </li>
                                    </ul>
                                    <div class="slider_pager slider_pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap mcb-wrap one-second valign-middle clearfix reveal fade-right" style="padding:0 2%;  height:600px !important;">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_column">
                                <div class="column_attr clearfix">
                                    <h3 style="color:white;">A Bahraini Company Specialized in Several Fields</h3>
                                    <hr class="no_line" style="margin: 0 auto 30px;">
                                    <p style="color:white;">
                                        that provides comprehensive media services, production of images and videos, design and printing of all kinds
                                    </p>
                                    <p style="color:white;">
                                        it practices public relations, marketing and perfume activities, it provides project management consultancy
                                    </p>
                                    <p style="color:white;">
                                        It seeks to be a success partner with its clients to achieve their goals and desires and provide the best services to be the ideal choice for all clients
                                    </p>
                                </div>
                            </div>
                            @*<div class="column mcb-column two-third column_button">
                            <a class="button button_right button_size_3 button_js" href="#" style="color:#0a0a0a;"><span class="button_icon"><i class="icon-users" style="color:#0a0a0a!important;"></i></span><span class="button_label">ABOUT US</span></a>
                        </div>*@
                        </div>
                    </div>
                </div>
            </div>

            @*Our work section*@
            <div class="section mcb-section" style="padding-top:35px;padding-bottom:25px;background-color:white;">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one valign-top clearfix">
                        <div class="mcb-wrap-inner" style="text-align:center">
                            <div class="">
                                <div class="column_attr clearfix">
                                    <h3 style="color:black;">
                                        Photography Work
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @Html.Partial("~/Views/Home/_AcBHOurWork.cshtml")

            <div class="section mcb-section" style="padding-top:35px;padding-bottom:25px;background-color:white;">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one valign-top clearfix">
                        <div class="mcb-wrap-inner" style="text-align:center">
                            <div class="">
                                <div class="column_attr clearfix">
                                    <h3 style="color:black;">
                                        Videography Work
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            @Html.Partial("~/Views/Home/_AcBHVidSlider.cshtml")

            @*<div class="section mcb-section equal-height-wrap bg-cover" style="padding-top:150px;padding-bottom:125px;background-image:url(../assets/photo2-home-video-section-bg.jpg);background-repeat:no-repeat;background-position:center;background-attachment:fixed;background-size:cover;-webkit-background-size:cover; background-color:white;">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap  two-fifth valign-bottom clearfix">
                    <div class="mcb-wrap-inner">

                        <div class="column mcb-column one column_column reveal fade-right">
                            <div class="column_attr clearfix" style="background-color:#bc955a;padding:50px 12%;">
                                <h3>Watch the backstage video</h3>
                                <hr class="no_line" style="margin: 0 auto 10px;">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap mcb-wrap  three-fifth valign-middle clearfix">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item scale-with-grid aligncenter no_border" style="margin-top:30px;">
                                <div class="image_wrapper">
                                    <a href="https://www.youtube.com/watch?v=z0jjTU-H43M" rel="prettyphoto">
                                        <div class="mask"></div><img class="scale-with-grid" src="~/assets/ImagesActivarBH/photo2-play-icon.png">
                                    </a>
                                    <div class="image_links">
                                        <a href="https://www.youtube.com/watch?v=z0jjTU-H43M" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

        </div>
    </div>
</div>