@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Planera | Activar Bahrain</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="~/assets/ImagesActivarBH/favicon.ico">

    <!-- FONTS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,400italic,500,600,700,700italic' />

    <!-- CSS -->
    <link rel='stylesheet' href='~/assets/css/global.css'>
    <link href="~/assets/cssActivrBH/custombh.css" rel="stylesheet" />
    <link href="~/assets/cssActivrBH/adagency2.css" rel="stylesheet" />
    <link href="~/assets/cssActivrBH/structurebh.css" rel="stylesheet" />
    <link rel='stylesheet' id='~/assets/style-static' href='css/be_style.css'>

    <!-- Revolution Slider -->
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/navigation.css">
    <style>
        #Top_bar #logo, .header-fixed #Top_bar #logo, .header-plain #Top_bar #logo, .header-transparent #Top_bar #logo {
             height: 100px; 
             padding:15px
           
        }
        .waviy span {
            position: relative;
            display: inline-block;
            /*font-size: 40px;*/
            color: #fff;
            text-transform: uppercase;
            animation: flip 2s infinite;
            animation-delay: calc(.2s * var(--i));
        }

        @@keyframes flip {
            0%, 80% {
                transform: rotateY(360deg)
            }
        }

        /*animation*/
        .section {
            display: flex;
        }

        section:nth-child(1) {
        }

        section:nth-child(2) {
            color: #42455a;
        }

        section:nth-child(3) {
        }

        section:nth-child(4) {
            color: #42455a;
        }

        section .container {
            /* margin: 100px;*/
        }

        @@media (max-width: 900px) {
            section h1 {
                /*font-size: 2rem;*/
                text-align: center;
            }

            section .text-container {
                flex-direction: column;
            }
        }

        .reveal {
            position: relative;
            opacity: 0;
        }

            .reveal.active {
                opacity: 1;
            }

        .active.fade-bottom {
            animation: fade-bottom 1s ease-in;
        }

        .active.fade-left {
            animation: fade-left 1s ease-in;
        }

        .active.fade-right {
            animation: fade-right 1s ease-in;
        }

        @@keyframes fade-bottom {
            0% {
                transform: translateY(200px);
                opacity: 0;
            }

            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }

        @@keyframes fade-left {
            0% {
                transform: translateX(-200px);
                opacity: 0;
            }

            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        @@keyframes fade-right {
            0% {
                transform: translateX(200px);
                opacity: 0;
            }

            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }
    </style>
</head>

<body class="home page style-simple button-stroke layout-full-width if-zoom if-border-hide no-content-padding no-shadows header-transparent header-fw minimalist-header-no sticky-tb-color ab-hide subheader-title-left menu-link-color menuo-right menuo-no-borders mobile-tb-center mobile-side-slide mobile-mini-mr-ll mobile-header-mini mobile-tr-header">
    <div id="Wrapper">
        <div id="Header_wrapper">
            <header id="Header">
                <div id="Top_bar">
                    <div class="container">
                        <div class="column one-second">
                            <div class="top_bar_left clearfix">
                                <div class="logo">
                                    <a id="logo" href="/planera/activarbahrain" title="logo" data-height="150" data-padding="30">
                                        <img class="logo-main scale-with-grid" src="../../assets/ImagesActivarBH/adagency2-small-logo.png" data-retina="../../assets/ImagesActivarBH/adagency2-small-logo.png" data-height="150" data-no-retina />
                                        <img class="logo-sticky scale-with-grid" src="../../assets/ImagesActivarBH/adagency2-small-logo.png" data-retina="../../assets/ImagesActivarBH/adagency2-small-logo.png" data-height="50" data-no-retina />
                                        <img class="logo-mobile scale-with-grid" src="../../assets/ImagesActivarBH/adagency2-small-logo.png" data-retina="../../assets/ImagesActivarBH/adagency2-small-logo.png" data-height="50" data-no-retina />
                                        <img class="logo-mobile-sticky scale-with-grid" src="../../assets/ImagesActivarBH/adagency2-small-logo.png" data-retina="../../assets/ImagesActivarBH/adagency2-small-logo.png" data-height="50" data-no-retina />
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="menu_wrapper column one-second">
                            <nav id="menu">
                                <ul id="menu-menu" class="menu menu-main">
                                    <li class="current-menu-item">
                                        <a href="/planera/activarbahrain"><span>Home</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span>About &#038; Offer</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span>Portfolio</span></a>
                                    </li>
                                    <li class="menu-item type-post_type object-portfolio">
                                        <a href="#"><span>Single project</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span>Contact</span></a>
                                    </li>
                                </ul>
                            </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="entry-content">
                        <div class="section mcb-section dark full-screen bg-cover" style="padding-top:0px; padding-bottom:0px; background-color:#796344; background-image:url(../../assets/ImagesActivarBH/adagency2-home-section-bg-1.jpg); background-repeat:no-repeat; background-position:center; background-attachment:fixed; background-size:cover; -webkit-background-size:cover">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap one valign-top clearfix"style="padding-top:200px;">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_image">
                                            <div class="image_frame image_item no_link scale-with-grid no_border">
                                                <div class="image_wrapper">
                                                    <img class="scale-with-grid" src="~/assets/ImagesActivarBH/BLANCO.png" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one column_column">
                                            <div class="column_attr clearfix">
                                                <div class="waviy">
                                                    <h2>
                                                        <span style="--i:1">B</span>
                                                        <span style="--i:2">u</span>
                                                        <span style="--i:3">i</span>
                                                        <span style="--i:4">l</span>
                                                        <span style="--i:5">d</span>
                                                        <span style="--i:6">i</span>
                                                        <span style="--i:7">n</span>
                                                        <span style="--i:8">g</span>
                                                    </h2>

                                                </div>

                                                <p style="font-size:60px; line-height:20px;">
                                                    <br> solid brand look
                                                    @*<div class="waviy">
                                                            <h2>
                                                                <span style="--i:1">s</span>
                                                                <span style="--i:2">o</span>
                                                                <span style="--i:3">l</span>
                                                                <span style="--i:4">i</span>
                                                                <span style="--i:5">d</span>
                                                                <span style="--i:6"> </span>
                                                                <span style="--i:7">b</span>
                                                                <span style="--i:8">r</span>
                                                                <span style="--i:9">a</span>
                                                                <span style="--i:10">n</span>
                                                                <span style="--i:11">d</span>
                                                                <span style="--i:12"> </span>
                                                                <span style="--i:13">l</span>
                                                                <span style="--i:14">o</span>
                                                                <span style="--i:15">o</span>
                                                                <span style="--i:16">k</span>
                                                            </h2>

                                                        </div>*@
                                                </p>
                                                <p style="font-size:60px; line-height:20px;">
                                                    <br> and feel
                                                </p>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one column_button">
                                            <a class="button button_size_2 button_stroke_custom button_js" href="#" style="border-color:#ffffff!important;color:#fff;"><span class="button_label">/  View project</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section mcb-section dark full-screen bg-cover" style="padding-top:0px; padding-bottom:0px; background-color:#796344; background-image:url(../../assets/ImagesActivarBH/adagency2-home-section-bg-2.jpg); background-repeat:no-repeat; background-position:center; background-attachment:fixed; background-size:cover; -webkit-background-size:cover">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap one valign-top clearfix" style="padding-top:200px;">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_image">
                                            <div class="image_frame image_item no_link scale-with-grid no_border">
                                                <div class="image_wrapper">
                                                    <img class="scale-with-grid" width="150px" src="~/assets/ImagesActivarBH/logo-ab-horizontal.png" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                            <div class="column_attr clearfix">
                                                <div class="waviy">
                                                    <h2>
                                                        <span style="--i:1">U</span>
                                                        <span style="--i:2">n</span>
                                                        <span style="--i:3">i</span>
                                                        <span style="--i:4">q</span>
                                                        <span style="--i:5">u</span>
                                                        <span style="--i:6">e</span>
                                                    </h2>
                                                </div>
                                                <h2>
                                                    photography
                                                    <br> and story
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one column_button">
                                            <a class="button button_size_2 button_stroke_custom button_js" href="#" style="border-color:#ffffff!important;color:#fff;"><span class="button_label">/  View project</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section mcb-section dark full-screen bg-cover" style="padding-top:0px; padding-bottom:0px; background-color:#796344; background-image:url(../../assets/ImagesActivarBH/adagency2-home-section-bg-3.jpg); background-repeat:no-repeat; background-position:center; background-attachment:fixed; background-size:cover; -webkit-background-size:cover">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap one valign-top clearfix" style="padding-top:200px;">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_image" style="margin-bottom:18px;">
                                            <div class="image_frame image_item no_link scale-with-grid no_border">
                                                <div class="image_wrapper">
                                                    <img class="scale-with-grid" src="~/assets/ImagesActivarBH/robins.png" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                            <div class="column_attr clearfix">
                                                <div class="waviy">
                                                    <h2>
                                                        <span style="--i:1">S</span>
                                                        <span style="--i:2">e</span>
                                                        <span style="--i:3">s</span>
                                                        <span style="--i:4">s</span>
                                                        <span style="--i:5">i</span>
                                                        <span style="--i:6">o</span>
                                                        <span style="--i:6">n</span>

                                                    </h2>

                                                </div>
                                                <h2>
                                                    promoting new
                                                    <br> fashion trends
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one column_button">
                                            <a class="button button_size_2 button_stroke_custom button_js" href="#" style="border-color:#ffffff!important;color:#fff;"><span class="button_label">/  View project</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section mcb-section no-margin-v bg-cover" style="padding-top:200px; padding-bottom:125px; background-color:#f0ebe7; background-image:url(../../assets/ImagesActivarBH/adagency2-home-section-bg-4.jpg); background-repeat:no-repeat; background-position:right bottom;">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap one valign-top clearfix">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column two-fifth column_image">
                                            <div class="image_frame image_item no_link scale-with-grid no_border">
                                                <div class="image_wrapper">
                                                    <img class="scale-with-grid" src="~/assets/ImagesActivarBH/adagency2-small-logo.png" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one column_divider">
                                            <hr class="no_line" style="margin: 0 auto 20px;" />
                                        </div>
                                        <div class="column mcb-column two-third column_column section reveal fade-right">
                                            <div class="column_attr clearfix">
                                                <h3>Smart & interactive advertising solutions <span style="color:#a4998c">lorem ipsum dolor mit samet et </span><a href="#"><u>view portfolio</u></a></h3>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one column_divider">
                                            <hr class="no_line" style="margin: 0 auto 60px;" />
                                        </div>
                                    </div>
                                </div>


                                 
                                    <div class="wrap mcb-wrap two-third valign-top clearfix section reveal fade-bottom">
                                        <div class="mcb-wrap-inner ">
                                            <div class="column mcb-column one-fifth column_image">
                                                <div class="image_frame image_item no_link scale-with-grid no_border">
                                                    <div class="image_wrapper">
                                                        <img class="scale-with-grid" src="~/assets/ImagesActivarBH/adagency2-home-1.png" width="35px"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column mcb-column three-fourth column_column  ">
                                                <div class="column_attr clearfix ">
                                                    <h5>IT and Computer Services</h5>
                                                </div>
                                            </div>
                                            <div class="column mcb-column one column_divider">
                                                <hr class="no_line" style="margin: 0 auto 20px;" />
                                            </div>
                                            <div class="column mcb-column one column_divider">
                                                <hr style="margin: 0 auto 40px;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap mcb-wrap two-third valign-top clearfix section reveal fade-bottom">
                                        <div class="mcb-wrap-inner">
                                            <div class="column mcb-column one-fifth column_image">
                                                <div class="image_frame image_item no_link scale-with-grid no_border">
                                                    <div class="image_wrapper">
                                                        <img class="scale-with-grid" src="~/assets/ImagesActivarBH/adagency2-home-2.png" width="45px"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column mcb-column three-fourth column_column ">
                                                <div class="column_attr clearfix">
                                                    <h5>Investment Management and Experience</h5>
                                                </div>
                                            </div>
                                            <div class="column mcb-column one column_divider">
                                                <hr class="no_line" style="margin: 0 auto 20px;" />
                                            </div>
                                            <div class="column mcb-column one column_divider">
                                                <hr style="margin: 0 auto 40px;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap mcb-wrap two-third valign-top clearfix section reveal fade-bottom">
                                        <div class="mcb-wrap-inner">
                                            <div class="column mcb-column one-fifth column_image">
                                                <div class="image_frame image_item no_link scale-with-grid no_border">
                                                    <div class="image_wrapper">
                                                        <img class="scale-with-grid" src="~/assets/ImagesActivarBH/adagency2-home-3.png" width="45px" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column mcb-column three-fourth column_column ">
                                                <div class="column_attr clearfix">
                                                    <h5>Promotion and Marketing Services/Activities</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             
                        </div>
                         
                        
                         
                        <div class="section mcb-section" style="padding-top:175px; padding-bottom:75px; background-color:#ffffff">
                                <div class="section_wrapper mcb-section-inner">
                                    <div class="wrap mcb-wrap one valign-top clearfix">
                                        <div class="mcb-wrap-inner">
                                            <div class="column mcb-column three-fifth column_column">
                                                <div class="column_attr clearfix">
                                                    <h3><span style="color:#a4998c">We are a </span>team of three</h3>
                                                </div>
                                            </div>
                                            <div class="column mcb-column two-fifth column_column">
                                                <div class="column_attr clearfix align_right mobile_align_left">
                                                    <hr class="no_line" style="margin: 0 auto 20px;" />
                                                    <a href="#"><u>Read more about us</u></a>
                                                </div>
                                            </div>
                                            <div class="column mcb-column one column_divider">
                                                <hr class="no_line" style="margin: 0 auto 75px;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap mcb-wrap one-third valign-top move-up clearfix animate" data-anim-type="fadeInLeft" style="padding:0 1%; margin-top:-75px" data-mobile="no-up">
                                        <div class="mcb-wrap-inner">
                                            <div class="column mcb-column one column_image">
                                                <div class="image_frame image_item scale-with-grid no_border">
                                                    <div class="image_wrapper">
                                                        <a href="#">
                                                            <div class="mask"></div><img class="scale-with-grid" src="~/assets/ImagesActivarBH/adagency2-home-girl.jpg" />
                                                        </a>
                                                        <div class="image_links">
                                                            <a href="#" class="link"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column mcb-column one column_column">
                                                <div class="column_attr clearfix">
                                                    <h5>
                                                        Emma
                                                        <br> Vellingtone
                                                    </h5>
                                                    <p>
                                                        Aliquam ac dui vel dui vulputate consectetur. Mauris accumsan, massa non consectetur condimentum, diam arcu tristique nibh, nec egestas diam elit at nulla.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap mcb-wrap one-third valign-top clearfix animate" data-anim-type="fadeInDown" style="padding:0 1%">
                                        <div class="mcb-wrap-inner">
                                            <div class="column mcb-column one column_image">
                                                <div class="image_frame image_item scale-with-grid no_border">
                                                    <div class="image_wrapper">
                                                        <a href="#">
                                                            <div class="mask"></div><img class="scale-with-grid" src="~/assets/ImagesActivarBH/adagency2-home-boy.jpg" />
                                                        </a>
                                                        <div class="image_links">
                                                            <a href="#" class="link"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column mcb-column one column_column">
                                                <div class="column_attr clearfix">
                                                    <h5>
                                                        Samuel
                                                        <br> Kondenfelg
                                                    </h5>
                                                    <p>
                                                        Aliquam ac dui vel dui vulputate consectetur. Mauris accumsan, massa non consectetur condimentum, diam arcu tristique nibh, nec egestas diam elit at nulla.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap mcb-wrap one-third valign-top move-up clearfix animate" data-anim-type="fadeInRight" style="padding:0 1%; margin-top:-40px" data-mobile="no-up">
                                        <div class="mcb-wrap-inner">
                                            <div class="column mcb-column one column_image">
                                                <div class="image_frame image_item scale-with-grid no_border">
                                                    <div class="image_wrapper">
                                                        <a href="#">
                                                            <div class="mask"></div><img class="scale-with-grid" src="~/assets/ImagesActivarBH/adagency2-home-boy2.jpg" />
                                                        </a>
                                                        <div class="image_links">
                                                            <a href="#" class="link"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column mcb-column one column_column">
                                                <div class="column_attr clearfix">
                                                    <h5>
                                                        Eric
                                                        <br> Posters
                                                    </h5>
                                                    <p>
                                                        Aliquam ac dui vel dui vulputate consectetur. Mauris accumsan, massa non consectetur condimentum, diam arcu tristique nibh, nec egestas diam elit at nulla.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="section mcb-section equal-height-wrap" style="padding-top:80px; padding-bottom:50px; background-color:#ffffff">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap one-sixth valign-top clearfix">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_placeholder">
                                            <div class="placeholder">
                                                &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap two-fifth valign-middle clearfix">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_column section reveal fade-bottom">
                                            <div class="column_attr clearfix">
                                                <h3>
                                                    <span style="color:#a4998c;">PLANERA GROUP</span>
                                                </h3>
                                                <p style="color:#a4998c;font-size:14px"><small>provides multiple media services that include producing provides multiple media services that include producing, that include producing provides multiple media services.</small></p>
                                                <h3 style="font-size:20px">Photography & Videography</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap one-third valign-middle clearfix">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_image">
                                            <div class="image_frame image_item scale-with-grid no_border hover-disable">
                                                <div class="image_wrapper">
                                                    <a href="https://www.youtube.com/watch?v=z0jjTU-H43M" rel="prettyphoto">
                                                        <div class="mask"></div><img class="scale-with-grid" src="~/assets/ImagesActivarBH/adagency2-home-play-button.png" />
                                                    </a>
                                                    <div class="image_links">
                                                        <a href="https://www.youtube.com/watch?v=z0jjTU-H43M" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <footer id="Footer" class="clearfix">
            <div class="widgets_wrapper" style="padding:100px 0 50px;">
                <div class="container">
                    <div class="column one-fourth">
                        <aside class="widget_text widget widget_custom_html">
                            <div class="image_frame image_item no_link scale-with-grid no_border">
                                <div class="image_wrapper">
                                    <img class="scale-with-grid" src="~/assets/ImagesActivarBH/adagency2-small-logo.png" />
                                </div>
                            </div>
                            <div class="textwidget custom-html-widget">
                                <hr class="no_line" style="margin: 0 auto 10px;" />
                                <p>
                                    Comprehensive media services, production of images and videos, design and printing of all kinds.
                                    @*<a href="#"><i class="icon-facebook"></i></a><a href="#"><i class="icon-gplus"></i></a><a href="#"><i class="icon-twitter"></i></a><a href="#"><i class="icon-linkedin"></i></a>*@
                                </p>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fourth">
                        <aside class="widget_text widget widget_custom_html">
                            <h4>Quick Links</h4>
                            <div class="textwidget custom-html-widget">
                                <hr class="no_line" style="margin: 0 auto 10px;" />
                                <p>
                                    Nullam viverra consectetuer
                                    <br> quisque cursus et, porttitor risus.
                                </p>
                                <p>
                                    +61 (0) 3 8376 6284
                                    <br>
                                    <a href="#">noreply@envato.com</a>
                                </p>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fourth">
                        <aside class="widget_text widget widget_custom_html">
                            <h4>Find us here</h4>
                            <div class="textwidget custom-html-widget">
                                <hr class="no_line" style="margin: 0 auto 10px;" />
                                <p>
                                    Envato
                                    <br> Level 13, 2 Elizabeth
                                    <br> Victoria 3000
                                    <br> Australia
                                </p>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fourth">
                        <aside class="widget_text widget widget_custom_html">
                            <h4>Contact us</h4>
                            <div class="textwidget custom-html-widget">
                                <hr class="no_line" style="margin: 0 auto 10px;" />
                                <p>
                                    Envato
                                    <br> Level 13, 2 Elizabeth
                                    <br> Victoria 3000
                                    <br> Australia
                                </p>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <div class="footer_copy">
                <div class="container">
                    <div class="column one">
                        <a id="back_to_top" class="button button_js" href="#"><i class="icon-up-open-big"></i></a>
                        <div class="copyright">
                            &copy; 2022 Planera Group - Powered by  Airtech Solutions</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div id="Side_slide" class="right dark" data-width="250">
        <div class="close-wrapper">
            <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
        </div>
        <div class="extras">
            <div class="extras-wrapper"></div>
        </div>
        <div class="menu_wrapper"></div>
    </div>
    <div id="body_overlay"></div>


    <!-- JS -->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/jquery-migrate-3.3.2.js"></script>

    <script src="~/assets/js/mfn.menu.js"></script>
    <script src="~/assets/js/jquery.plugins.js"></script>
    <script src="~/assets/js/jquery.jplayer.min.js"></script>
    <script src="~/assets/js/animations/animations.js"></script>
    <script src="~/assets/js/translate3d.js"></script>
    <script src="~/assets/js/scripts.js"></script>

    <script src="~/assets/js/email.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
    <script>
        var tpj = jQuery;

        var revapi285;
        tpj(document).ready(function () {
            if (tpj("#rev_slider_285_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_285_1");
            } else {
                revapi285 = tpj("#rev_slider_285_1").show().revolution({
                    sliderType: "standard",

                    sliderLayout: "auto",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        onHoverStop: "off",
                    },
                    responsiveLevels: [1240, 1024, 778, 480],
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: [1400, 1024, 778, 480],
                    gridheight: [800, 700, 600, 500],
                    lazyType: "none",
                    shadow: 0,
                    spinner: "off",
                    stopLoop: "on",
                    stopAfterLoops: 0,
                    stopAtSlide: 1,
                    shuffle: "off",
                    autoHeight: "off",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            }
        }); /*ready*/
        //animation section
        function reveal() {
            var reveals = document.querySelectorAll(".reveal");

            for (var i = 0; i < reveals.length; i++) {
                var windowHeight = window.innerHeight;
                var elementTop = reveals[i].getBoundingClientRect().top;
                var elementVisible = 150;

                if (elementTop < windowHeight - elementVisible) {
                    reveals[i].classList.add("active");
                } else {
                    reveals[i].classList.remove("active");
                }
            }
        }

        window.addEventListener("scroll", reveal);
    </script>

</body>

</html>