
@{
    ViewBag.Title = "ActivarBHService";
    Layout = "~/Views/Shared/_LayoutActivarBAH.cshtml";
}
<style>
    .flv_sections_53 {
        padding-top: 280px;
        padding-bottom: 179px;
        background-color: #cfd5d1;
    }
    .text-block {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
<div class="section full-width center dark flv_sections_53" style="background-image: url(../../assets/ImagesActivarBH/services-header.jpg); background-size: cover; background-repeat: no-repeat;" data-stellar-background-ratio="0.5">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix"></div>
        @*<h1 class="mobView">
                Gallery
            </h1>*@
    </div>
</div>
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section" style="padding-top:35px;padding-bottom:25px;background-color:white;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner" style="text-align:center">
                                <div class="">
                                    <div class="column_attr clearfix">
                                        <h3 style="color:black;">
                                            <b> You can do it with us </b>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section">
                    <div class="section_wrapper mcb-section-inner">
                        <!-- One Second (1/2) Column -->
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second clearfix">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_image">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper animate fadeInRight">
                                        <img class="scale-with-grid" src="~/assets/ImagesActivarBH/-e-Graphic Design Information.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second column-margin-20px clearfix" style="padding: 5% 0% 0% 10%;">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_column">
                                <div class="column_attr animate fadeInLeft">
                                    <img src="~/assets/ImagesActivarBH/vector-smart-object4.png" />
                                    <h5 style="color:black; text-align: justify;">Graphic Design Information <br /> & Computer Technology</h5>
                                    <p style="color:black; text-align: justify;">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="section mcb-section">
                    <div class="section_wrapper mcb-section-inner">
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second column-margin-20px clearfix" style="padding: 5% 10% 0% 3%;">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_column">
                                <div class="column_attr animate fadeInLeft">
                                    <img src="~/assets/ImagesActivarBH/services-image2.png" />
                                    <h5 style="color:black; text-align: justify;">Video Shooting <br /> and Editing</h5>
                                    <p style="color:black; text-align: justify;">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second clearfix">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_image">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper animate fadeInRight">
                                        <img class="scale-with-grid" src="~/assets/ImagesActivarBH/-e-Video Shooting.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section mcb-section">
                    <div class="section_wrapper mcb-section-inner">
                        <!-- One Second (1/2) Column -->
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second clearfix">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_image">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper animate fadeInRight">
                                        <img class="scale-with-grid" src="~/assets/ImagesActivarBH/-e-Managing Social.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second column-margin-20px clearfix" style="padding: 5% 0% 0% 10%;">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_column">
                                <div class="column_attr animate fadeInLeft">
                                    <img src="~/assets/ImagesActivarBH/vector-smart-object-5.png" />
                                    <h5 style="color:black; text-align: justify;">Managing Social <br /> Media Account</h5>
                                    <p style="color:black; text-align: justify;">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="section mcb-section">
                    <div class="section_wrapper mcb-section-inner">
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second column-margin-20px clearfix" style="padding: 5% 10% 0% 3%;">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_column">
                                <div class="column_attr animate fadeInLeft">
                                    <img src="~/assets/ImagesActivarBH/vector-smart-object2.png" />
                                    <h5 style="color:black; text-align: justify;">Promotion and <br /> Marketing</h5>
                                    <p style="color:black; text-align: justify;">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second clearfix">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_image">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper animate fadeInRight">
                                        <img class="scale-with-grid" src="~/assets/ImagesActivarBH/-e-Promotion and.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section mcb-section">
                    <div class="section_wrapper mcb-section-inner">
                        <!-- One Second (1/2) Column -->
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second clearfix">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_image">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper animate fadeInRight">
                                        <img class="scale-with-grid" src="~/assets/ImagesActivarBH/-e-Photographer.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second column-margin-20px clearfix" style="padding: 5% 0% 0% 10%;">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_column">
                                <div class="column_attr animate fadeInLeft">
                                    <img src="~/assets/ImagesActivarBH/vector-smart-object3.png" />
                                    <h5 style="color:black; text-align: justify;">Photographer</h5>
                                    <p style="color:black; text-align: justify;">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="section mcb-section">
                    <div class="section_wrapper mcb-section-inner">
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second column-margin-20px clearfix" style="padding: 5% 10% 0% 3%;">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_column">
                                <div class="column_attr animate fadeInLeft">
                                    <img src="~/assets/ImagesActivarBH/service-image6.png" />
                                    <h5 style="color:black; text-align: justify;">Public <br /> Relation</h5>
                                    <p style="color:black; text-align: justify;">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second clearfix">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_image">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper animate fadeInRight">
                                        <img class="scale-with-grid" src="~/assets/ImagesActivarBH/-e-Public.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section mcb-section">
                    <div class="section_wrapper mcb-section-inner">
                        <!-- One Second (1/2) Column -->
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second clearfix">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_image">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper animate fadeInRight">
                                        <img class="scale-with-grid" src="~/assets/ImagesActivarBH/-e-Media.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second column-margin-20px clearfix" style="padding: 5% 0% 0% 10%;">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_column">
                                <div class="column_attr animate fadeInLeft">
                                    <img src="~/assets/ImagesActivarBH/service-image7.png" />
                                    <h5 style="color:black; text-align: justify;">Media <br /> Coverage</h5>
                                    <p style="color:black; text-align: justify;">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="section mcb-section">
                    <div class="section_wrapper mcb-section-inner">
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second column-margin-20px clearfix" style="padding: 5% 10% 0% 3%;">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_column">
                                <div class="column_attr animate fadeInLeft">
                                    <img src="~/assets/ImagesActivarBH/service-image8.png" />
                                    <h5 style="color:black; text-align: justify;">Manage <br /> Tournaments</h5>
                                    <p style="color:black; text-align: justify;">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second clearfix">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_image">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper animate fadeInRight">
                                        <img class="scale-with-grid" src="~/assets/ImagesActivarBH/-e-Manage.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="section mcb-section" style="padding-top: 100px; padding-bottom: 125px; background-image: url('../../assets/ImagesActivarBH/bg-contact.png'); background-repeat: no-repeat; background-position: center; background-size: cover; ">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="" style="text-align:center">
                                    <div class="column_attr clearfix">
                                        <h3>Like our services?</h3>
                                        <h3>Feel free to contact us</h3>
                                    </div>
                                </div>
                                <div class="row text-block" style="text-align:center">
                                    <a href="/planera/activarbahrain/contact" class="action_button" style="background-color:#bc955a !important" target="_blank">Contact us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>