@{
    ViewBag.Title = "ActivarBHService";
    Layout = "~/Views/Shared/_LayoutActivarBAH.cshtml";
}
<style>
    .flv_sections_53 {
        padding-top: 280px;
        padding-bottom: 179px;
        background-color: #cfd5d1;
    }

    .text-block {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
<div class="section full-width center dark flv_sections_53" style="background-image: url(../../assets/ActivarBH/images/services-header.jpg); background-size: cover; background-repeat: no-repeat;" data-stellar-background-ratio="0.5">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix"></div>
        <h1 class="mobView">
            SERVICES
        </h1>
    </div>
</div>
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section" style="padding-top:55px;padding-bottom:55px;background-color:white;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner" style="text-align:center">
                                <div class="">
                                    <div class="column_attr clearfix">
                                        <h3 style="color:black;">
                                            <b> YOU CAN DO THIS WITH US! </b>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section">
                    <div class="section_wrapper mcb-section-inner">
                        <!-- One Second (1/2) Column -->
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second clearfix">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_image">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper animate fadeInRight">
                                        <img class="scale-with-grid" src="~/assets/ActivarBH/images/-e-Graphic Design Information.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second column-margin-20px clearfix" style="padding: 5% 0% 0% 10%;">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_column">
                                <div class="column_attr animate fadeInLeft">
                                    <img src="~/assets/ActivarBH/images/vector-smart-object4.png" />
                                    <h5 style="color:black; text-align: justify;">Information & Computer <br /> Technology</h5>
                                    <p style="color:black; text-align: justify;">
                                        Our company is recognized as a decisive and robust name in the region. We have assisted thousands of brands by providing them best-demanded services as per their business nature.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="section mcb-section">
                    <div class="section_wrapper mcb-section-inner">
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second column-margin-20px clearfix" style="padding: 5% 10% 0% 3%;">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_column">
                                <div class="column_attr animate fadeInLeft">
                                    <img src="~/assets/ActivarBH/images/services-image2.png" />
                                    <h5 style="color:black; text-align: justify;">Video Shooting <br /> and Editing</h5>
                                    <p style="color:black; text-align: justify;">
                                        Do you want to give an exclusive touch to your brands, we promise you that our services range from high-quality video
                                        production, 4K Videos, Destination shoots, testimonial shoots as well as Top Impact Editing and Copy Editing we meet your
                                        demand.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second clearfix">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_image">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper animate fadeInRight">
                                        <img class="scale-with-grid" src="~/assets/ActivarBH/images/-e-Video Shooting.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section">
                    <div class="section_wrapper mcb-section-inner">
                        <!-- One Second (1/2) Column -->
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second clearfix">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_image">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper animate fadeInRight">
                                        <img class="scale-with-grid" src="~/assets/ActivarBH/images/-e-Managing Social.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second column-margin-20px clearfix" style="padding: 5% 0% 0% 10%;">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_column">
                                <div class="column_attr animate fadeInLeft">
                                    <img src="~/assets/ActivarBH/images/vector-smart-object-5.png" />
                                    <h5 style="color:black; text-align: justify;">Managing Social <br /> Media Account</h5>
                                    <p style="color:black; text-align: justify;">
                                        We offer our services to individuals and brands. We re-imagine our experience with your brand, with clear digital directions and
                                        get an understanding of your brand’s goals and objectives, and help to reach the next highest level.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section">
                    <div class="section_wrapper mcb-section-inner">
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second column-margin-20px clearfix" style="padding: 5% 10% 0% 3%;">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_column">
                                <div class="column_attr animate fadeInLeft">
                                    <img src="~/assets/ActivarBH/images/vector-smart-object2.png" />
                                    <h5 style="color:black; text-align: justify;">Promotion and <br /> Marketing</h5>
                                    <p style="color:black; text-align: justify;">
                                        We aim to invent and execute unique brand experiences and get the best result out of them. Use our services to experience the
                                        creative ways to attract consumers & shoppers with your offered brands.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second clearfix">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_image">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper animate fadeInRight">
                                        <img class="scale-with-grid" src="~/assets/ActivarBH/images/-e-Promotion and.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section">
                    <div class="section_wrapper mcb-section-inner">
                        <!-- One Second (1/2) Column -->
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second clearfix">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_image">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper animate fadeInRight">
                                        <img class="scale-with-grid" src="~/assets/ActivarBH/images/-e-Photographer.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second column-margin-20px clearfix" style="padding: 5% 0% 0% 10%;">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_column">
                                <div class="column_attr animate fadeInLeft">
                                    <img src="~/assets/ActivarBH/images/vector-smart-object3.png" />
                                    <h5 style="color:black; text-align: justify;">Photographer</h5>
                                    <p style="color:black; text-align: justify;">
                                        Get our photography services to capture your important moments for future
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="section mcb-section">
                    <div class="section_wrapper mcb-section-inner">
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second column-margin-20px clearfix" style="padding: 5% 10% 0% 3%;">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_column">
                                <div class="column_attr animate fadeInLeft">
                                    <img src="~/assets/ActivarBH/images/service-image6.png" />
                                    <h5 style="color:black; text-align: justify;">Public <br /> Relation</h5>
                                    <p style="color:black; text-align: justify;">
                                        Hire us to deliver the right message to the right people at the right time that is exactly what we do for your brand
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second clearfix">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_image">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper animate fadeInRight">
                                        <img class="scale-with-grid" src="~/assets/ActivarBH/images/-e-Public.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section">
                    <div class="section_wrapper mcb-section-inner">
                        <!-- One Second (1/2) Column -->
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second clearfix">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_image">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper animate fadeInRight">
                                        <img class="scale-with-grid" src="~/assets/ActivarBH/images/-e-Media.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second column-margin-20px clearfix" style="padding: 5% 0% 0% 10%;">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_column">
                                <div class="column_attr animate fadeInLeft">
                                    <img src="~/assets/ActivarBH/images/service-image7.png" />
                                    <h5 style="color:black; text-align: justify;">Media <br /> Coverage</h5>
                                    <p style="color:black; text-align: justify;">
                                        Our company can develop and steer your brand's relationship with the media in the right direction. Hire our team to get the
                                        best media coverage for your event.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section">
                    <div class="section_wrapper mcb-section-inner">
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second column-margin-20px clearfix" style="padding: 5% 10% 0% 3%;">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_column">
                                <div class="column_attr animate fadeInLeft">
                                    <img src="~/assets/ActivarBH/images/service-image8.png" />
                                    <h5 style="color:black; text-align: justify;">Manage <br /> Tournaments</h5>
                                    <p style="color:black; text-align: justify;">
                                        From start to finish, we are experts in managing events. Our company is known for being able to customize the perfect funfilled tournaments for your company and with other companies
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- One Second (1/2) Column -->
                        <div class="wrap mcb-wrap one-second clearfix">
                            <!-- One Full Row-->
                            <div class="column mcb-column one column_image">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper animate fadeInRight">
                                        <img class="scale-with-grid" src="~/assets/ActivarBH/images/-e-Manage.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" style="padding-top: 100px; padding-bottom: 125px; background-image: url('../../assets/ActivarBH/images/bg-contact.png'); background-repeat: no-repeat; background-position: center; background-size: cover; ">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="" style="text-align:center">
                                    <div class="column_attr clearfix">
                                        <h3 style="font-weight:700">Like our services?</h3>
                                        <h3 style="font-weight:700">Feel free to contact us</h3>
                                    </div>
                                </div>
                                <div class="row text-block" style="text-align:center">
                                    <a href="/planera/activarbahrain/contact" class="action_button" style="background-color:#bc955a !important">Contact us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        jQuery('#servicespage').addClass('hover');
    })
</script>