@{
    ViewBag.Title = "ActivarBHAbout";
    Layout = "~/Views/Shared/_LayoutActivarBAH.cshtml";
}
<style>
    .flv_sections_53 {
        padding-top: 280px;
        padding-bottom: 179px;
        background-color: #cfd5d1;
    }
</style>
<div class="section full-width center dark flv_sections_53" style="background-image: url(../../assets/ActivarBH/images/gallery-header.jpg);background-size: cover;background-repeat: no-repeat;" data-stellar-background-ratio="0.5">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix"></div>
        <h1 class="" data-translate="aa0">
            ABOUT US
        </h1>
    </div>
</div>
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="container-fluid" style="background-color: white; padding: 80px 0; background-image: url(../../assets/ActivarBH/images/bg-whoweare.jpg); background-size: cover; background-repeat: no-repeat;">
                    <div class="row">
                        @*<div class="column one-third" style="text-align:center">
                                <img src="~/assets/ImagesActivarBH/-e-Pen holder.png" />
                                <br />
                                <img src="~/assets/ImagesActivarBH/-e-DSLR Camera.png" />
                            </div>*@
                        <div class="column one-third" style="text-align:center"></div>
                        <div class="column one-third" style="text-align: center; margin-bottom: 15px;">
                            <h3 style="color:black" data-translate="0wwa01">Who We Are</h3>
                            <p style="color: black; font-weight: 600; font-size: 16px; " data-translate="0tpc0">that provides comprehensive media services, production of images and videos, design and printing of all kinds</p>
                            <p style="color: black; font-weight: 600; font-size: 16px;" data-translate="0ipp0">it practice public relations, marketing, and perfumeryactivities. Its provide project management consultancy. Provide the best service to be the ideal choice for all clients.</p>

                            @*<p style="color: black; font-weight: 600; font-size: 16px;">It seeks to be a success partner with its clients to their goals and desire and provide the best service to be the ideal choice for all clients.</p>*@
                        </div>
                        <div class="column one-third" style="text-align:center"></div>
                        @*<div class="column one-third" style="text-align:right">
                                <img src="~/assets/ImagesActivarBH/-e-Moleskine2.png" />
                            </div>*@
                    </div>
                </div>
                @*<div class="section mcb-section equal-height-wrap bg-cover" style="padding-top: 100px; padding-bottom: 100px; background-image: url(../../assets/ActivarBH/images/01.jpg); background-repeat: no-repeat; background-position: center;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-second valign-middle clearfix reveal fade-left" style="padding:0 2%; height:600px !important;">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_slider">
                                    <div class="content_slider flat hide-arrows hide-dots">
                                        <ul class="content_slider_ul">
                                            <li class="content_slider_li_1">
                                                <a href="~/asset/ActivarBH/images/our-message.png" rel="prettyphoto"><img src="~/assets/ActivarBH/images/our-message.png" class="scale-with-grid wp-post-image" alt></a>
                                            </li>
                                        </ul>
                                        <div class="slider_pager slider_pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second valign-middle clearfix reveal fade-right" style="padding:0 2%;  height:600px !important;">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix">
                                        <h3 style="color:white;">Our Vision</h3>
                                        <p style="color:white; font-size:18px">
                                            We work to keep pace with the progree of
                                            the electronic word and meet the
                                            requirements of your customers to their suit
                                            need with the highest degree of
                                            personalism
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                <br />
                <br />
                <div class="section mcb-section equal-height-wrap bg-cover _arabic" style="padding-top: 100px; padding-bottom: 100px; background-image: url(../../assets/ActivarBH/images/02.jpg); background-repeat: no-repeat; background-position: center;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-second valign-middle clearfix reveal fade-left" style="padding:0 2%;  height:600px !important;">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix">
                                        <h3 style="color:white;" data-translate="00oobj">Our Objectives</h3>
                                        <p style="color:white; font-size:18px;margin-bottom:2px" data-translate="00csf">
                                            - Customer Satisfaction First
                                        </p>
                                        <p style="color: white; font-size: 18px; margin-bottom: 2px" data-translate="00ddi">
                                            - Diversity, distinction and Innovation
                                        </p>
                                        <p style="color: white; font-size: 18px; margin-bottom: 2px" data-translate="00ohb">
                                            - One Hand to acheive the best
                                        </p>
                                        <p style="color: white; font-size: 18px; margin-bottom: 2px" data-translate="00cts">
                                            - Commitment to social responsibility
                                        </p>
                                        <p style="color: white; font-size: 18px; margin-bottom: 2px" data-translate="00Inh">
                                            - Integrity and honesty
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 30px;">
                                        <a href="/planera/activarbahrain/service" class="tp-caption rev-btn rev-withicon" id="slide-1-layer-4" style="font-size: 16px; line-height: 17px; color: black; background-color:#fff;border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;" data-translate="0oss1">
                                            OUR SERVICES <img src="~/assets/ActivarBH/images/arrow.png" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second valign-middle clearfix reveal fade-right" style="padding:0 2%; height:600px !important;">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_slider">
                                    <div class="content_slider flat hide-arrows hide-dots">
                                        <ul class="content_slider_ul">
                                            <li class="content_slider_li_1">
                                                <a href="~/assetsActivarBH/images/our-objectives.png" rel="prettyphoto"><img src="~/assets/ActivarBH/images/our-objectives.png" class="scale-with-grid wp-post-image" alt></a>
                                            </li>
                                        </ul>
                                        <div class="slider_pager slider_pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="section mcb-section equal-height-wrap bg-cover _arabic" style="padding-top: 125px; padding-bottom: 125px; background-image: url(../../assets/ActivarBH/images/our-vision.jpg); background-repeat: no-repeat; background-position: center;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-second valign-middle clearfix reveal fade-right" style="padding:0 2%;  height:600px !important;">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix">
                                        <h3 style="color:black;font-weight:700" data-translate="0ov01">Our Vision</h3>
                                        <p style="color:black;font-size:30px;" data-translate="00wwt">
                                            We work to keep pace with the progress of
                                            the electronic word and meet the
                                            requirements of your customers to their suit
                                            need with the highest degree of
                                            personalism
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" style="padding-top:20px; padding-bottom:60px; ">
                    <div class="wrap mcb-wrap one valign-top clearfix">
                        <div class="mcb-wrap-inner">
                            <div class=" ">
                                <div class="column_attr clearfix align_center">
                                    <h3 style="padding:20px 0; color:black" data-translate="0ot01">OUR TEAM</h3>
                                </div>
                                <div class="wrapper">
                                    <div class="sliding-background"></div>
                                </div>
                                <style>
                                    .wrapper {
                                        overflow: hidden;
                                    }

                                    .sliding-background {
                                        background: url(../../assets/ActivarBH/images/Activar-Team-Slider-Rev-1.jpg) repeat-x;
                                        height: 535px;
                                        width: 6076px;
                                        animation: slide 20s linear infinite;
                                    }

                                    @@keyframes slide {
                                        0% {
                                            transform: translate3d(0, 0, 0);
                                        }

                                        100% {
                                            transform: translate3d(-3692px, 0, 0);
                                        }
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        jQuery('#aboutuspage').addClass('hover');
    })
</script>