@{
    ViewBag.Title = "Activar Home";
    Layout = "~/Views/Shared/_LayoutActivarBAH.cshtml";
}

<div class="mfn-main-slider" id="mfn-rev-slider">
    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-source="gallery" style="background:#e9e9ea;padding:0px;">
        <div id="rev_slider_1_1" class="rev_slider fullscreenbanner homeheader" style="display:none;">
            <ul>
                <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeIn" data-easeout="Power3.easeOut" data-masterspeed="5" data-delay="3500" data-rotate="0" data-saveperformance="off"
                    data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <img src="~/assets/ActivarBH/images/slider1.png" data-bgposition="center center" data-kenburns="on" data-duration="5000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="170" data-rotatestart="0" data-rotateend="0" data-blurstart="0"
                         data-blurend="0" data-offsetstart="0 0" data-offsetend="0 -40" data-bgparallax="4" class="rev-slidebg">
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-width="auto" data-height="auto" data-transform_idle="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 60px; line-height: 60px; font-weight: 600; color: rgba(255, 255, 255, 0.5);border-color:rgba(255, 255, 255, 1.00);">
                        <span style="font-size:80px;">We Are Passionate</span>
                    </div>
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 50px; line-height: 60px; font-weight: 300; color: rgba(255, 255, 255, 0.5);border-color:rgba(255, 255, 255, 1.00);">
                        <br /><br /><br /><span> Visual Capabilities </span>
                    </div>
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-4" data-x="left" data-y="bottom" data-voffset="59" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 20px; line-height: 60px;  color: rgba(255, 255, 255, 1.00); border-color:rgba(255, 255, 255, 1.00);">
                        <a href="/planera/activarbahrain/service"> See our Services ></a><br />
                    </div>
                    <div class="tp-caption tp-resizeme" id="slide-1-layer-5" data-x="right" data-hoffset="20" data-y="bottom" data-voffset="53" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-responsive_offset="on" style="z-index: 9;">

                        <a href="https://instagram.com/activar.bahrain" target="_blank"><img src="~/assets/ActivarBH/images/interiInsta.png" style="width:50px;height:50px;" /></a>
                    </div>
                </li>
                <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeIn" data-easeout="Power3.easeOut" data-masterspeed="5" data-delay="3500" data-rotate="0" data-saveperformance="off"
                    data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <img src="/assets/ActivarBH/images/slider2.png" data-bgposition="center center" data-kenburns="on" data-duration="5000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="170" data-rotatestart="0" data-rotateend="0" data-blurstart="0"
                         data-blurend="0" data-offsetstart="0 0" data-offsetend="10 20" data-bgparallax="4" class="rev-slidebg">
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-width="auto" data-height="auto" data-transform_idle="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 60px; line-height: 60px; font-weight: 600; color: rgba(255, 255, 255, 0.5);border-color:rgba(255, 255, 255, 1.00);">
                        <span style="font-size:80px;">Our Executions</span>
                    </div>
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 50px; line-height: 60px; font-weight: 300; color: rgba(255, 255, 255, 0.5);border-color:rgba(255, 255, 255, 1.00);">
                        <br /><br /><br /><span> Make A Difference </span>
                    </div>
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-4" data-x="left" data-y="bottom" data-voffset="59" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 20px; line-height: 60px;  color: rgba(255, 255, 255, 1.00); border-color:rgba(255, 255, 255, 1.00);">
                        <a href="/planera/activarbahrain/service"> See our Services ></a><br />
                    </div>
                    <div class="tp-caption tp-resizeme" id="slide-1-layer-5" data-x="right" data-hoffset="20" data-y="bottom" data-voffset="53" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-responsive_offset="on" style="z-index: 9;">

                        <a href="https://instagram.com/activar.bahrain" target="_blank"><img src="~/assets/ActivarBH/images/interiInsta.png" style="width:50px;height:50px;" /></a>
                    </div>
                </li>
                <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeIn" data-easeout="Power3.easeOut" data-masterspeed="5" data-delay="3500" data-rotate="0" data-saveperformance="off"
                    data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <img src="/assets/ActivarBH/images/slider3.png" data-bgposition="center center" data-kenburns="on" data-duration="5000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="170" data-rotatestart="0" data-rotateend="0" data-blurstart="0"
                         data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="4" class="rev-slidebg">
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-width="auto" data-height="auto" data-transform_idle="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 60px; line-height: 60px; font-weight: 600; color: rgba(255, 255, 255, 0.5);border-color:rgba(255, 255, 255, 1.00);">
                        <span style="font-size:80px;">We Dont Renovate</span>
                    </div>
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 50px; line-height: 60px; font-weight: 300; color: rgba(255, 255, 255, 0.5);border-color:rgba(255, 255, 255, 1.00);">
                        <br /><br /><br /><span> We Transform </span>
                    </div>

                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-4" data-x="left" data-y="bottom" data-voffset="59" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 20px; line-height: 60px;  color: rgba(255, 255, 255, 1.00); border-color:rgba(255, 255, 255, 1.00);">
                        <a href="/planera/activarbahrain/service"> See our Services ></a><br />
                    </div>
                    <div class="tp-caption tp-resizeme" id="slide-1-layer-5" data-x="right" data-hoffset="20" data-y="bottom" data-voffset="53" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-responsive_offset="on" style="z-index: 9;">

                        <a href="https://instagram.com/activar.bahrain" target="_blank"><img src="~/assets/ActivarBH/images/interiInsta.png" style="width:50px;height:50px;" /></a>
                    </div>
                </li>
                <li data-index="rs-4" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeIn" data-easeout="Power3.easeOut" data-masterspeed="5" data-delay="3500" data-rotate="0" data-saveperformance="off"
                    data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <img src="/assets/ActivarBH/images/slider4.png" data-bgposition="center top" data-kenburns="on" data-duration="5000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="170" data-rotatestart="0" data-rotateend="0" data-blurstart="0"
                         data-blurend="0" data-offsetstart="0 0" data-offsetend="0 -40" data-bgparallax="4" class="rev-slidebg">
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-width="auto" data-height="auto" data-transform_idle="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 60px; line-height: 60px; font-weight: 600; color: rgba(255, 255, 255, 0.5);border-color:rgba(255, 255, 255, 1.00);">
                        <span style="font-size:80px;">We Are Passionate</span>
                    </div>
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 50px; line-height: 60px; font-weight: 300; color: rgba(255, 255, 255, 0.5);border-color:rgba(255, 255, 255, 1.00);">
                        <br /><br /><br /><span>To Style Your Space </span>
                    </div>

                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-4" data-x="left" data-y="bottom" data-voffset="59" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 20px; line-height: 60px;  color: rgba(255, 255, 255, 1.00); border-color:rgba(255, 255, 255, 1.00);">
                        <a href="/planera/activarbahrain/service"> See our Services ></a><br />
                    </div>
                    <div class="tp-caption tp-resizeme" id="slide-1-layer-5" data-x="right" data-hoffset="20" data-y="bottom" data-voffset="53" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-responsive_offset="on" style="z-index: 9;">

                        <a href="https://instagram.com/activar.bahrain" target="_blank"><img src="~/assets/ActivarBH/images/interiInsta.png" style="width:50px;height:50px;" /></a>
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
</div>
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="container-fluid" style="background-color:white;">
                    <img src="~/assets/ActivarBH/images/bg-ab.png" style="width:100%;" />
                    <div class="text-block">
                        <h3>Be A Part of Activar Family</h3>
                    </div>
                </div>
                <div class="section mcb-section" style="padding-top:80px;padding-bottom:5px;background-color:white;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner" style="text-align:center">
                                <div class="">
                                    <div class="column_attr clearfix">
                                        <h3 style="color:black;">
                                            <b>Our Services</b>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<section>*@
                <div class="section mcb-section" style="padding-top:30px;padding-bottom:50px;background-color:white;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-fourth valign-top " style="text-align: center; ">
                            <div class="column mcb-column one column_image " style="margin-bottom:18px">
                                <div class="image_frame image_item no_link scale-with-grid no_border">
                                    <div class="image_wrapper">
                                        <img class="scale-with-grid" src="~/assets/ActivarBH/images/service-image1.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                <div class="column_attr clearfix">
                                    <h5 class="fontcolor">
                                        Graphic Design Information
                                        & Computer Technologies
                                    </h5>
                                    <hr class="no_line" style="margin: 0 auto 10px;">
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-fourth valign-top clearfix " style=" text-align: center; ">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image" style="margin-bottom:14px">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="~/assets/ActivarBH/images/services-image2.png" />
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                    <div class="column_attr clearfix">
                                        <h5 class="fontcolor">
                                            Video Shooting
                                            and Editing
                                        </h5>
                                        <hr class="no_line" style="margin: 0 auto 10px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-fourth valign-top clearfix " style="padding:0 2%;text-align:center;">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image" style="margin-bottom:18px;">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="~/assets/ActivarBH/images/service-image3.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                    <div class="column_attr clearfix">
                                        <h5 class="fontcolor">
                                            Managing Social
                                            Media Accounts
                                        </h5>
                                        <hr class="no_line" style="margin: 0 auto 10px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-fourth valign-top clearfix " style="padding: 0 2%; text-align: center; ">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image" style="margin-bottom:18px;">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="~/assets/ActivarBH/images/service-image4.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                    <div class="column_attr clearfix">
                                        <h5 class="fontcolor">
                                            Promotion and
                                            Marketing
                                        </h5>
                                        <hr class="no_line" style="margin: 0 auto 10px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-fourth valign-top clearfix " style=" padding: 0 2%; text-align: center; ">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image" style="margin-bottom:20px;padding-top:35px">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="~/assets/ActivarBH/images/service-image5.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                    <div class="column_attr clearfix">
                                        <h5 class="fontcolor">
                                            Photographer
                                        </h5>
                                        <hr class="no_line" style="margin: 0 auto 10px;">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-fourth valign-top clearfix " style="padding:0 2%;text-align:center; ">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image" style="margin-bottom:18px;padding-top:35px">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="~/assets/ActivarBH/images/service-image6.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                    <div class="column_attr clearfix">
                                        <h5 class="fontcolor">
                                            Public Relations
                                        </h5>
                                        <hr class="no_line" style="margin: 0 auto 10px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-fourth valign-top clearfix " style="padding:0 2%;text-align:center; ">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image" style="margin-bottom:18px;padding-top:35px">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="~/assets/ActivarBH/images/service-image7.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                    <div class="column_attr clearfix">
                                        <h5 class="fontcolor">
                                            Media Coverage
                                        </h5>
                                        <hr class="no_line" style="margin: 0 auto 10px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-fourth valign-top clearfix " style="padding:0 2%;text-align:center; ">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image" style="margin-bottom:18px;padding-top:35px">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="~/assets/ActivarBH/images/service-image8.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                    <div class="column_attr clearfix">
                                        <h5 class="fontcolor">
                                            Manage Tournaments
                                        </h5>
                                        <hr class="no_line" style="margin: 0 auto 10px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*</section>*@
            </div>
            <div class="section mcb-section equal-height-wrap bg-cover" style="padding-top:125px;padding-bottom:125px;background-image:url(../assets/photo2-home-bg.jpg);background-repeat:no-repeat;background-position:center;">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one-second valign-middle clearfix reveal fade-left" style="padding:0 2%; height:600px !important;">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_slider">
                                <div class="content_slider flat hide-arrows hide-dots">
                                    <ul class="content_slider_ul">
                                        <li class="content_slider_li_1">
                                            <a href="~/assets/ActivarBH/images/img1.jpg" rel="prettyphoto"><img src="~/assets/ActivarBH/images/img1.jpg" class="scale-with-grid wp-post-image" alt></a>
                                        </li>
                                    </ul>
                                    <div class="slider_pager slider_pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap mcb-wrap one-second valign-middle clearfix reveal fade-right" style="padding:0 2%;  height:600px !important;">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_column">
                                <div class="column_attr clearfix">
                                    <h3 style="color:white;">A Bahraini Company Specialized in Several Fields</h3>
                                    <hr class="no_line" style="margin: 0 auto 30px;">
                                    <p style="color: white; font-size: 18px; text-align: justify ">
                                        that provides comprehensive media services, production of images and videos, design and printing of all kinds
                                    </p>
                                    <p style="color: white; font-size: 18px;text-align:justify">
                                        it practices public relations, marketing and perfume activities, it provides project management consultancy
                                    </p>
                                    <p style="color: white; font-size: 18px; text-align: justify ">
                                        It seeks to be a success partner with its clients to achieve their goals and desires and provide the best services to be the ideal choice for all clients
                                    </p>
                                </div>
                            </div>
                            @*<div class="column mcb-column two-third column_button">
                                    <a class="button button_right button_size_3 button_js" href="#" style="color:#0a0a0a;"><span class="button_icon"><i class="icon-users" style="color:#0a0a0a!important;"></i></span><span class="button_label">ABOUT US</span></a>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
            @*Our work section*@
            <div class="section mcb-section" style="padding-top:35px;padding-bottom:25px;background-color:white;">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one valign-top clearfix">
                        <div class="mcb-wrap-inner" style="text-align:center">
                            <div class="">
                                <div class="column_attr clearfix">
                                    <h3 style="color:black;">
                                        Photography Work
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("~/Views/Home/_AcBHOurWork.cshtml")
            <div class="section mcb-section" style="padding-top:35px;padding-bottom:25px;background-color:white;">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one valign-top clearfix">
                        <div class="mcb-wrap-inner" style="text-align:center">
                            <div class="">
                                <div class="column_attr clearfix">
                                    <h3 style="color:black;">
                                        Videography Work
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("~/Views/Home/_AcBHVidSlider.cshtml")
        </div>
    </div>
</div>