
@{
    ViewBag.Title = "ActivarBHService";
    Layout = "~/Views/Shared/_LayoutActivarBAH.cshtml";
}
<style>
    .flv_sections_53 {
        padding-top: 280px;
        padding-bottom: 179px;
        background-color: #cfd5d1;
    }
</style>
<div class="section full-width center dark flv_sections_53" style="background-image: url(../../assets/ImagesActivarBH/services-header.jpg); background-size: cover; background-repeat: no-repeat;" data-stellar-background-ratio="0.5">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix"></div>
        @*<h1 class="mobView">
                Gallery
            </h1>*@
    </div>
</div>
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section" style="padding-top:35px;padding-bottom:25px;background-color:white;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner" style="text-align:center">
                                <div class="">
                                    <div class="column_attr clearfix">
                                        <h3 style="color:black;">
                                            <b> You can do it with us </b>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section mcb-section" style="padding-top: 125px; padding-bottom: 55px; background-image: url('../../assets/ImagesActivarBH/bg-contact.png'); background-repeat: no-repeat; background-position: center; background-size: cover; ">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="" style="text-align:center">
                                    <div class="column_attr clearfix">
                                        <h3>Like our services?</h3>
                                        <h3>Feel free to contact us</h3>
                                    </div>
                                </div>
                                <div class="row" style="text-align:center">
                                    <a href="/planera/activarbahrain/contact" class="action_button" style="background-color:#bc955a !important" target="_blank">Contact us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>