@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Be</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="~/assets/ImagesActivarBH/favicon.ico">

    <!-- FONTS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Barlow:400,400italic,700,700italic,900'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Michroma:400,400italic,700,700italic,900'>

    <!-- CSS -->
    <link rel='stylesheet' href='~/assets/css/global.css'>
    <link rel='stylesheet' href='~/assets/cssActivrBH/structure.css'>
    <link rel='stylesheet' href='~/assets/cssActivrBH/photography2.css'>
    <link rel='stylesheet' href='~/assets/cssActivrBH/custom.css'>

    <!-- Revolution Slider -->

    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/rs-plugin/css/navigation.css">

    <style>
        @@font-face {
            font-family: 'GothamMedium';
            src: url('../../assets/fonts/Gotham/GothamMedium.ttf') format('truetype');
        }

        * {
            font-family: "GothamMedium" !important;
        }
    </style>
</head>

<body class="home page template-slider style-simple button-flat layout-full-width if-zoom if-border-hide no-shadows header-classic header-fw minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-left menu-line-below-80-1 menuo-right menuo-no-borders mobile-tb-center mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky tr-header tr-menu">
    <div id="Wrapper">
        <div id="Header_wrapper">
            <header id="Header">

                <div id="Top_bar">
                    <div class="container">
                        <div class="column one">
                            <div class="top_bar_left clearfix">
                                <div class="logo">
                                    <a id="logo" href="/planera/activardubai" data-height="70" data-padding="20">
                                        <img class="logo-main scale-with-grid" src="../../assets/ImagesActivarBH/adagency2-small-logo.png" data-retina="../../assets/ImagesActivarBH/adagency2-small-logo.png" data-height="100">
                                        <img class="logo-sticky scale-with-grid" src="../../assets/ImagesActivarBH/adagency2-small-logo.png" data-retina="../../assets/ImagesActivarBH/adagency2-small-logo.png" data-height="100">
                                        <img class="logo-mobile scale-with-grid" src="../../assets/ImagesActivarBH/adagency2-small-logo.png" data-retina="../../assets/ImagesActivarBH/adagency2-small-logo.png" data-height="100">
                                    </a>
                                </div>
                                <div class="menu_wrapper">
                                    <nav id="menu">
                                        <ul id="menu-menu" class="menu menu-main">
                                            <li class=" current-menu-item page_item current_page_item">
                                                <a href="#"><span>About us</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span>Services</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span>Work</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span>Clients</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span>FAQs</span></a>
                                            </li>
                                        </ul>
                                    </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
                                </div>
                            </div>
                            <div class="top_bar_right">
                                <div class="top_bar_right_wrapper">
                                    <a href="" class="action_button" style="background-color:#bc955a !important" target="_blank">Contact us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mfn-main-slider" id="mfn-rev-slider">
                    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-source="gallery" style="background:transparent;padding:0px;">
                        <div id="rev_slider_1_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.8.3">
                            <ul>
                                <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-data-param1
                                    data-param2 data-param3 data-param4 data-param5 data-param6 data-param7 data-param8 data-param9 data-param10 data-description>
                                    <img src="~/assets/ImagesActivarBH/activar-bg.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="15" class="rev-slidebg">
                                    <div class="tp-caption tp-resizeme" id="slide-1-layer-3" data-x="center" data-hoffset data-y="center" data-voffset="-60" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                         data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 75px; line-height: 80px; font-weight: 400; color: #fff; letter-spacing: 0px;font-family:Michroma;">
                                        <div class="waviy">
                                            <h2 style="font-family:gotham" class="text-center">
                                                We are your way
                                            </h2>
                                            <h2 style="text-align:center;">
                                                to creativity
                                            </h2>
                                        </div>
                                        @*Comprehensive
                                            <br> Media Services*@
                                    </div>
                                    <div class="tp-caption rev-btn rev-withicon" id="slide-1-layer-4" data-x="center" data-hoffset data-y="463" data-width="['auto']" data-height="['auto']" data-type="button" data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"#","delay":""}]'
                                         data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(10,10,10);bs:solid;bw:0 0 0 0;"}]'
                                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[15,15,15,15]" data-paddingright="[35,35,35,35]" data-paddingbottom="[15,15,15,15]" data-paddingleft="[35,35,35,35]" style="z-index: 6; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 600; color: #fff; letter-spacing: px;font-family:Barlow;background-color:#ca2028;border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                                        View Our Work <i class="fa-icon-camera-retro"></i>
                                    </div>
                                </li>
                            </ul>
                            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="entry-content">
                        <div class="container-fluid" style="background-color:white;">
                            <img src="~/assets/ImagesActivarBH/bg-ab.png" style="width:100%;" />
                            <div class="text-block">

                                <h3 class="reveal fade-bottom">Be a Part of Activar Family</h3>
                            </div>
                        </div>

                        <div class="section mcb-section" style="padding-top:80px;padding-bottom:5px;background-color:white;">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap one valign-top clearfix">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column five-sixth column_column">
                                            <div class="column_attr clearfix">
                                                <h2 style="color:black;">
                                                    Our Service
                                                </h2>
                                                <hr class="no_line" style="margin: 0 auto 30px;">
                                                <section>
                                                    <div class="reveal fade-left">
                                                        <p style="color:black;">
                                                            We provide investment experience in the field of management selling and manufacturing perfumes and cosmetics activities related to promotions and marketing
                                                            photography and video public relations IT and computer service.
                                                        </p>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<section>*@
                        <div class="section mcb-section" style="padding-top:30px;padding-bottom:50px;background-color:white;">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap one-third valign-top clearfix reveal fade-bottom" style="border-right: 2px solid #777; border-bottom: 2px solid #777; padding: 0 2%; text-align: center; ">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_image text-center" style="margin-bottom:18px">
                                            <div class="image_frame image_item no_link scale-with-grid no_border">
                                                <div class="image_wrapper">
                                                    <img class="scale-with-grid" src="~/assets/ImagesActivarBH/vector-smart-object.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one column_column" style="margin-bottom:46px">
                                            <div class="column_attr clearfix">
                                                <p class="big fontcolor">
                                                    Invesment
                                                </p>
                                                <hr class="no_line" style="margin: 0 auto 10px;">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap one-third valign-top clearfix reveal fade-bottom" style="border-right: 2px solid #777; border-bottom: 2px solid #777; padding: 0 2%; text-align: center; ">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_image" style="margin-bottom:18px">
                                            <div class="image_frame image_item no_link scale-with-grid no_border">
                                                <div class="image_wrapper">
                                                    <img class="scale-with-grid" src="~/assets/ImagesActivarBH/vector-smart-object-5.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                            <div class="column_attr clearfix">
                                                <p class="big fontcolor">
                                                    Selling &<br /> Manufacturing
                                                </p>
                                                <hr class="no_line" style="margin: 0 auto 10px;">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap one-third valign-top clearfix reveal fade-bottom" style="padding:0 2%;text-align:center;">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_image" style="margin-bottom:18px;">
                                            <div class="image_frame image_item no_link scale-with-grid no_border">
                                                <div class="image_wrapper">
                                                    <img class="scale-with-grid" src="~/assets/ImagesActivarBH/vector-smart-object2.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                            <div class="column_attr clearfix">
                                                <p class="big fontcolor">
                                                    Marketing &<br /> Promotion
                                                </p>
                                                <hr class="no_line" style="margin: 0 auto 10px;">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap one-third valign-top clearfix reveal fade-bottom" style="border-right: 2px solid #777; padding: 0 2%; text-align: center; ">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_image" style="margin-bottom:18px;padding-top:35px">
                                            <div class="image_frame image_item no_link scale-with-grid no_border">
                                                <div class="image_wrapper">
                                                    <img class="scale-with-grid" src="~/assets/ImagesActivarBH/vector-smart-object3.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                            <div class="column_attr clearfix">
                                                <p class="big fontcolor">
                                                    Photography
                                                </p>
                                                <hr class="no_line" style="margin: 0 auto 10px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap one-third valign-top clearfix reveal fade-bottom" style="border-right: 2px solid #777; padding: 0 2%; text-align: center; ">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_image" style="margin-bottom:18px;padding-top:35px">
                                            <div class="image_frame image_item no_link scale-with-grid no_border">
                                                <div class="image_wrapper">
                                                    <img class="scale-with-grid" src="~/assets/ImagesActivarBH/vector-smart-object4.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                            <div class="column_attr clearfix">
                                                <p class="big fontcolor">
                                                    IT & Computer
                                                </p>
                                                <hr class="no_line" style="margin: 0 auto 10px;">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap one-third valign-top clearfix reveal fade-bottom" style="padding:0 2%;text-align:center; border-top:2px solid #777">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_image" style="margin-bottom:18px;padding-top:35px">
                                            <div class="image_frame image_item no_link scale-with-grid no_border">
                                                <div class="image_wrapper">
                                                    <img class="scale-with-grid" src="~/assets/ImagesActivarBH/vector-smart-object5.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one column_column" style="margin-bottom:18px">
                                            <div class="column_attr clearfix">
                                                <p class="big fontcolor">
                                                    Public Relations
                                                </p>
                                                <hr class="no_line" style="margin: 0 auto 10px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*</section>*@
                    </div>
                    <div class="section mcb-section equal-height-wrap bg-cover" style="padding-top:125px;padding-bottom:125px;background-image:url(../assets/photo2-home-bg.jpg);background-repeat:no-repeat;background-position:center;">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one-second valign-middle clearfix reveal fade-left" style="padding:0 2%; height:600px !important;">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_slider">
                                        <div class="content_slider flat hide-arrows hide-dots">
                                            <ul class="content_slider_ul">
                                                <li class="content_slider_li_1">
                                                    <a href="~/assets/ImagesActivarBH/img1.jpg" rel="prettyphoto"><img src="~/assets/ImagesActivarBH/img1.jpg" class="scale-with-grid wp-post-image" alt></a>
                                                </li>
                                                @*<li class="content_slider_li_2">
                                                        <a href="~/assets/ImagesActivarBH/pimg1.jpg" rel="prettyphoto"><img src="~/assets/ImagesActivarBH/photo2-home-slide2-780x860.jpg" class="scale-with-grid wp-post-image" alt></a>
                                                    </li>*@
                                            </ul>
                                            <div class="slider_pager slider_pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap one-second valign-middle clearfix reveal fade-right" style="padding:0 2%;  height:600px !important;">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <h3 style="color:white;">A Bahraini company specialized in several fields</h3>
                                            <hr class="no_line" style="margin: 0 auto 30px;">
                                            <p style="color:white;">
                                                that provides comprehensive media services, production of images and videos, design and printing of all kinds
                                            </p>
                                            <p style="color:white;">
                                                it practices public relations, marketing and perfume activities, it provides project management consultancy
                                            </p>
                                            <p style="color:white;">
                                                It seeks to be a success partner with its clients to achieve their goals and desires and provide the best services to be the ideal choice for all clients
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column mcb-column two-third column_button">
                                        <a class="button button_right button_size_3 button_js" href="#" style="color:#0a0a0a;"><span class="button_icon"><i class="icon-users" style="color:#0a0a0a!important;"></i></span><span class="button_label">ABOUT US</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Our work section*@

                    @Html.Partial("~/Views/Home/_AcBHOurWork.cshtml")

                    @Html.Partial("~/Views/Home/_AcBHVidSlider.cshtml")

                    @*<div class="section mcb-section equal-height-wrap bg-cover" style="padding-top:150px;padding-bottom:125px;background-image:url(../assets/photo2-home-video-section-bg.jpg);background-repeat:no-repeat;background-position:center;background-attachment:fixed;background-size:cover;-webkit-background-size:cover; background-color:white;">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap  two-fifth valign-bottom clearfix">
                                    <div class="mcb-wrap-inner">

                                        <div class="column mcb-column one column_column reveal fade-right">
                                            <div class="column_attr clearfix" style="background-color:#bc955a;padding:50px 12%;">
                                                <h3>Watch the backstage video</h3>
                                                <hr class="no_line" style="margin: 0 auto 10px;">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap  three-fifth valign-middle clearfix">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_image">
                                            <div class="image_frame image_item scale-with-grid aligncenter no_border" style="margin-top:30px;">
                                                <div class="image_wrapper">
                                                    <a href="https://www.youtube.com/watch?v=z0jjTU-H43M" rel="prettyphoto">
                                                        <div class="mask"></div><img class="scale-with-grid" src="~/assets/ImagesActivarBH/photo2-play-icon.png">
                                                    </a>
                                                    <div class="image_links">
                                                        <a href="https://www.youtube.com/watch?v=z0jjTU-H43M" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                </div>
            </div>
        </div>
    </div>
    <footer id="Footer" class="clearfix">
        <div class="widgets_wrapper">
            <div class="container">
                <div class="column one-third">
                    <aside class="widget_text widget widget_custom_html">
                        <h4>Location</h4>
                        <div class="textwidget custom-html-widget">
                            <hr class="no_line" style="margin: 0 auto 15px;">
                            <p>
                                Mandarine Business Center - KINGDOM of BAHRAIN
                                <br />
                                <br />
                                info@Activarbh.com
                            </p>
                        </div>
                    </aside>
                </div>
                <div class="column one-third">
                    <aside class="widget_text widget widget_custom_html">
                        <h4>Contact us</h4>
                        <div class="textwidget custom-html-widget">
                            <hr class="no_line" style="margin: 0 auto 15px;">
                            <p>
                                +973 17004007
                                <br>
                            </p>
                            <p>
                                +973 37755001
                                <br>
                                <a href="https://www.planerabh.com" target="_blank">www.planerabh.com</a>
                            </p>
                        </div>
                    </aside>
                </div>
                <div class="column one-third">
                    <aside class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                            <hr class="no_line" style="margin: 0 auto 10px;">
                        </div>
                    </aside>
                    <aside id="media_image-2" class="widget widget_media_image">
                        <img src="~/assets/ImagesActivarBH/adagency2-small-logo.png" class="image wp-image-25 attachment-full size-full">
                    </aside>
                </div>
            </div>
        </div>
        <div class="footer_copy">
            <div class="container">
                <div class="column one">
                    <a id="back_to_top" class="button button_js" href><i class="icon-up-open-big"></i></a>
                    <div class="copyright">
                        &copy; 2022 Planera Group <a target="_blank" rel="nofollow" href="#"> All right reserved</a>
                    </div>
                    <ul class="social">
                        @*<li class="facebook">
                                <a href="#"><i class="icon-facebook"></i></a>
                            </li>
                            <li class="twitter">
                                <a href="#"><i class="icon-twitter"></i></a>
                            </li>
                            <li class="pinterest">
                                <a href="#"><i class="icon-pinterest"></i></a>
                            </li>*@
                        <li class="instagram">
                            <a href="https://www.instagram.com/activar.bahrain/" target="_blank"><i class="icon-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div id="Side_slide" class="right dark" data-width="250">
        <div class="close-wrapper">
            <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
        </div>
        <div class="extras">
            @*<a href="http://bit.ly/1M6lijQ" class="action_button" target="_blank">BUY NOW</a>*@
            <div class="extras-wrapper"></div>
        </div>
        <div class="menu_wrapper"></div>
        <ul class="social">
            @*<li class="facebook">
                    <a href="#"><i class="icon-facebook"></i></a>
                </li>
                <li class="twitter">
                    <a href="#"><i class="icon-twitter"></i></a>
                </li>
                <li class="pinterest">
                    <a href="#"><i class="icon-pinterest"></i></a>
                </li>*@
            <li class="instagram">
                <a href="https://www.instagram.com/activar.bahrain/" target="_blank"><i class="icon-instagram"></i></a>
            </li>
        </ul>
    </div>
    <div id="body_overlay"></div>

    <!-- JS -->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/jquery-migrate-3.3.2.js"></script>

    <script src="~/assets/js/mfn.menu.js"></script>
    <script src="~/assets/js/jquery.plugins.js"></script>
    <script src="~/assets/js/jquery.jplayer.min.js"></script>
    <script src="~/assets/js/animations/animations.js"></script>
    <script src="~/assets/js/translate3d.js"></script>
    <script src="~/assets/js/scripts.js"></script>

    <script src="~/assets/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/assets/plugins/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>


    <script>
        var tpj = jQuery;
        var revapi50;
        tpj(document).ready(function () {
            if (tpj("#rev_slider_50_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_50_1");
            } else {
                revapi50 = tpj("#rev_slider_50_1").show().revolution({
                    sliderType: "carousel",

                    sliderLayout: "fullscreen",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        onHoverStop: "off",
                    },
                    carousel: {
                        maxRotation: 5,
                        vary_rotation: "off",
                        minScale: 15,
                        vary_scale: "off",
                        horizontal_align: "center",
                        vertical_align: "center",
                        fadeout: "on",
                        vary_fade: "on",
                        maxVisibleItems: 3,
                        infinity: "off",
                        space: -80,
                        stretch: "off"
                    },
                    responsiveLevels: [1240, 1024, 778, 480],
                    gridwidth: [1024, 900, 778, 480],
                    gridheight: [868, 768, 960, 720],
                    lazyType: "none",
                    shadow: 0,
                    spinner: "off",
                    stopLoop: "on",
                    stopAfterLoops: 0,
                    stopAtSlide: 1,
                    shuffle: "off",
                    autoHeight: "off",
                    fullScreenAlignForce: "off",
                    fullScreenOffsetContainer: "",
                    fullScreenOffset: "",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            }
        }); /*ready*/</script>
    <script>
        var revapi1, tpj;
        (function () {
            if (!/loaded|interactive|complete/.test(document.readyState))
                document.addEventListener("DOMContentLoaded", onLoad);
            else
                onLoad();
            function onLoad() {
                if (tpj === undefined) {
                    tpj = jQuery;
                    if ("off" == "on")
                        tpj.noConflict();
                }
                if (tpj("#rev_slider_1_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_1_1");
                } else {
                    revapi1 = tpj("#rev_slider_1_1").show().revolution({
                        sliderType: "standard",
                        sliderLayout: "fullscreen",
                        dottedOverlay: "none",
                        delay: 9000,
                        navigation: {
                            onHoverStop: "off",
                        },
                        visibilityLevels: [1240, 1024, 778, 480],
                        gridwidth: 1240,
                        gridheight: 800,
                        lazyType: "none",
                        parallax: {
                            type: "scroll",
                            origo: "enterpoint",
                            speed: 400,
                            speedbg: 0,
                            speedls: 0,
                            levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55],
                        },
                        shadow: 0,
                        spinner: "spinner2",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        fullScreenAutoWidth: "off",
                        fullScreenAlignForce: "off",
                        fullScreenOffsetContainer: "",
                        fullScreenOffset: "",
                        disableProgressBar: "on",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                };
            };
        }());

        //animation section
        function reveal() {
            var reveals = document.querySelectorAll(".reveal");

            for (var i = 0; i < reveals.length; i++) {
                var windowHeight = window.innerHeight;
                var elementTop = reveals[i].getBoundingClientRect().top;
                var elementVisible = 150;

                if (elementTop < windowHeight - elementVisible) {
                    reveals[i].classList.add("active");
                } else {
                    reveals[i].classList.remove("active");
                }
            }
        }

        window.addEventListener("scroll", reveal);
    </script>
    <script>
        var tpj = jQuery;

        var revapi30;
        tpj(document).ready(function() {
            if (tpj("#rev_slider_30_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_30_1");
            } else {
                revapi30 = tpj("#rev_slider_30_1").show().revolution({
                    sliderType:"carousel",

                    sliderLayout:"fullwidth",
                    dottedOverlay:"none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation:"off",
                        keyboard_direction:"horizontal",
                        mouseScrollNavigation:"off",
                        onHoverStop:"off",
                        touch: {
                            touchenabled:"on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction:"horizontal",
                            drag_block_vertical: false
                        },
                        arrows: {
                            style:"gyges",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: false,
                            tmp: '',
                            left: {
                                h_align:"left",
                                v_align:"center",
                                h_offset: 20,
                                v_offset: 0
                            },
                            right: {
                                h_align:"right",
                                v_align:"center",
                                h_offset: 20,
                                v_offset: 0
                            }
                        },
                        tabs: {
                            style:"gyges",
                            enable: true,
                            width: 250,
                            height: 80,
                            min_width: 250,
                            wrapper_padding: 30,
                            wrapper_color:"#26292b",
                            wrapper_opacity:"1",
                            tmp: '<div class="tp-tab-content"> <span class="tp-tab-date">{{param1}}</span> <span class="tp-tab-title">{{title}}</span></div><div class="tp-tab-image"></div>',
                            visibleAmount: 5,
                            hide_onmobile: false,
                            hide_onleave: false,
                            hide_delay: 200,
                            direction:"horizontal",
                            span: true,
                            position:"outer-bottom",
                            space: 0,
                            h_align:"center",
                            v_align:"bottom",
                            h_offset: 0,
                            v_offset: 0
                        }
                    },
                    carousel: {
                        horizontal_align:"center",
                        vertical_align:"center",
                        fadeout:"on",
                        vary_fade:"on",
                        maxVisibleItems: 3,
                        infinity:"on",
                        space: 0,
                        stretch:"off"
                    },
                    gridwidth: 720,
                    gridheight: 405,
                    lazyType:"none",
                    shadow: 0,
                    spinner:"off",
                    stopLoop:"on",
                    stopAfterLoops: 0,
                    stopAtSlide: 1,
                    shuffle:"off",
                    autoHeight:"off",
                    disableProgressBar:"on",
                    hideThumbsOnMobile:"off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll:"off",
                        nextSlideOnWindowFocus:"off",
                        disableFocusListener: false,
                    }
                });
            }
        }); /*ready*/
    </script>

</body>

</html>