
@{
    ViewBag.Title = "ActivarBHGallery";
    Layout = "~/Views/Shared/_LayoutActivarBAH.cshtml";
}

<style>
    .image_wrapper {
        text-align: center;
    }

    .flv_sections_53 {
        padding-top: 280px;
        padding-bottom: 179px;
        background-color: #cfd5d1;
    }

    .if-zoom .image_frame .image_wrapper .image_links {
        display: unset;
    }

    img.scale-with-grid, #Content img {
        height: 251px;
    }

    .image_frame .image_wrapper .image_links, .portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc {
        background: #bc955a !important;
    }


        .image_frame .image_wrapper .image_links a:hover {
            background: #ffffff;
            color: #bc955a !important;
        }

    .image_frame {
        border-color: #f8f8f8;
    }

    h5, h5 a, h5 a:hover {
        color: #000;
    }
</style>

<div class="section full-width center dark flv_sections_53" style="background-image: url(../../assets/ActivarBH/images/gallery-header.jpg);background-size: cover;background-repeat: no-repeat;" data-stellar-background-ratio="0.5">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix"></div>
        <h1 class="mobView">
            GALLERY
        </h1>
    </div>
</div>
<div class="section mcb-section" style="padding-top:80px; padding-bottom:40px;">
    <div class="section_wrapper clearfix">
        <!-- One full width row-->
        <div id="Filters" class="column one isotope-filters">
            <ul class="filters_buttons">
                <li class="label">
                    Filter by
                </li>
                <li class="categories">
                    <a class="open" href="#"><i class="icon-docs"></i>Categories<i class="icon-down-dir"></i></a>
                </li>
                <li class="reset">
                    <a class="close" data-rel="*" href="#"><i class="icon-cancel"></i> Show all</a>
                </li>
            </ul>
            <div class="filters_wrapper">
                <ul class="categories">
                    <li>
                        <a data-rel=".category-home" href="#">Living</a>
                    </li>
                    <li>
                        <a data-rel=".category-appartment" href="#">Appartment</a>
                    </li>
                    <li>
                        <a data-rel=".category-shop" href="#">Shop</a>
                    </li>
                    <li>
                        <a data-rel=".category-photography" href="#">Office</a>
                    </li>
                    @*<li>
                            <a data-rel=".category-print" href="#">Category 5</a>
                        </li>
                        <li>
                            <a data-rel=".category-webdesign" href="#">Category 6</a>
                        </li>*@
                    <li class="close">
                        <a href="#"><i class="icon-cancel"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column one column_portfolio">
            <div class="portfolio_wrapper isotope_wrapper">
                <ul class="portfolio_group lm_wrapper isotope grid">

                    <!-- Portfolio item -->
                    <li class="portfolio-item isotope-item category-home category-appartment  ">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="650" height="650px" src="~/assets/ActivarBH/images/1-ab-g.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links">
                                            <a href="~/assets/ActivarBH/images/1-ab-g.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#1</a></h5>
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Portfolio item -->
                    <li class="portfolio-item isotope-item category-shop category-photography ">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/2-ab-g.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links ">
                                            <a href="~/assets/ActivarBH/images/2-ab-g.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#2</a></h5>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Portfolio item -->
                    <li class="portfolio-item isotope-item category-home category-appartment">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/3-ab-g.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/3-ab-g.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="" class="link"><i class="icon-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#3</a></h5>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Portfolio item -->
                    <li class="portfolio-item isotope-item category-home category-photography category-appartment">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/4-ab-g.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links ">
                                            <a href="~/assets/ActivarBH/images/4-ab-g.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="" class="link"><i class="icon-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#4</a></h5>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Portfolio item -->
                    <li class="portfolio-item isotope-item category-home category-photography category-appartment">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/5-ab-g.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/5-ab-g.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                       <h5 class="entry-title"><a href="">#5</a></h5>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Portfolio item -->
                    <li class="portfolio-item isotope-item category-appartment category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/6-ab-g.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links ">
                                            <a href="~/assets/ActivarBH/images/6-ab-g.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="" class="link"><i class="icon-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#6</a></h5>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Portfolio item -->
                    <li class="portfolio-item isotope-item category-appartment category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/7-ab-g.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/7-ab-g.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#7</a></h5>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Portfolio item -->
                    <li class="portfolio-item isotope-item category-home category-appartment category-photography">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/8-ab-g.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/8-ab-g.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#8</a></h5>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Portfolio item -->
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/9-ab-g.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/9-ab-g.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#9</a></h5>
                                        <div class="button-love">
                                            <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label"></span></a>
                                        </div>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/10-ab-g.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/10-ab-g.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#9</a></h5>
                                        <div class="button-love">
                                            <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label"></span></a>
                                        </div>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/11-ab-g.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/11-ab-g.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#9</a></h5>
                                        <div class="button-love">
                                            <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label"></span></a>
                                        </div>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/12-ab-g.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/12-ab-g.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#9</a></h5>
                                        <div class="button-love">
                                            <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label"></span></a>
                                        </div>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/13-ab-g.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/13-ab-g.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#9</a></h5>
                                        <div class="button-love">
                                            <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label"></span></a>
                                        </div>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/14-ab-g.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/14-ab-g.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#9</a></h5>
                                        <div class="button-love">
                                            <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label"></span></a>
                                        </div>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/15-ab-g.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/15-ab-g.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#9</a></h5>
                                        <div class="button-love">
                                            <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label"></span></a>
                                        </div>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/16-ab-g.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/16-ab-g.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#9</a></h5>
                                        <div class="button-love">
                                            <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label"></span></a>
                                        </div>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/17-ab-g.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/17-ab-g.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#9</a></h5>
                                        <div class="button-love">
                                            <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label"></span></a>
                                        </div>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/10.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/10.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#10</a></h5>
                                        <div class="button-love">
                                            <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label"></span></a>
                                        </div>
                                    </div>
                                   <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                               <div class="image_frame scale-with-grid">
                                   <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/11.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/11.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#11</a></h5>
                                        <div class="button-love">
                                            <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label"></span></a>
                                        </div>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/12.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/12.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#12</a></h5>
                                        <div class="button-love">
                                            <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label"></span></a>
                                        </div>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/13.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/13.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#13</a></h5>
                                        <div class="button-love">
                                            <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label"></span></a>
                                        </div>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/14.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/14.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#14</a></h5>
                                        <div class="button-love">
                                            <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label"></span></a>
                                        </div>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                               <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/15.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/15.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#15</a></h5>
                                        <div class="button-love">
                                            <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label"></span></a>
                                        </div>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/16.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/16.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#16</a></h5>
                                        <div class="button-love">
                                            <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label"></span></a>
                                        </div>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                               <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/17.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/17.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#17</a></h5>
                                        <div class="button-love">
                                            <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label"></span></a>
                                        </div>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                              <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/18.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/18.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#18</a></h5>
                                        <div class="button-love">
                                            <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label"></span></a>
                                        </div>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                               <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/19.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/19.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#19</a></h5>
                                        <div class="button-love">
                                            <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label"></span></a>
                                        </div>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="auto" height="500" src="~/assets/ActivarBH/images/20.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/ActivarBH/images/20.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">#20</a></h5>
                                        <div class="button-love">
                                            <a href="#" class="mfn-love" data-id="77"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label"></span></a>
                                        </div>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
            </div>
        </div>
    </div>
</div>