
@{
    ViewBag.Title = "ContractingService";
    Layout = "~/Views/Shared/_LayoutConstruction.cshtml";
}
<div id="Content">
    <div class="section mcb-section  equal-height-wrap full-width">
        <div class="section_wrapper mcb-section-inner">
            <div class="wrap mcb-wrap one  valign-top bg-cover clearfix" style=" padding-top: 167px; padding-bottom: 200px; background-image: url(../../assets/HarmanoRepair/images/headerservice.jpg); background-repeat: no-repeat; background-position: center;">
                <div class="mcb-wrap-inner">
                    <div class="column mcb-column one column_column ">
                        <div class="column_attr clearfix align_center">
                            <h2 style="margin: 0; color: white; font-weight: 800; font-size: 50px;">SERVICES </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content_wrapper clearfix">
        <div class="section mcb-section bg-contain" style="padding-top:60px;padding-bottom:30px;background-image:url(images/pestcontrol-sectionbg3.png);background-repeat:repeat-y;background-position:center top">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one  valign-top clearfix">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one-fifth column_placeholder">
                            <div class="placeholder">
                                &nbsp;
                            </div>
                        </div>
                        <div class="column mcb-column three-fifth column_column">
                            <div class="column_attr clearfix align_center">
                                <h2><span style="color:#000;">Specializing in</span> <span style="color:#056b39;">Contracting & Landscaping</span> in Bahrain</h2>
                                <hr class="no_line" style="margin:0 auto 15px">
                                <p style="color: #7f7f7f;">
                                    Our aim is to make your experience of the project as positive and pleasing as possible. We believe that this is due to, not only maintaining high standards of creative design and skilled construction, but also the emphasis we put on care and consideration for the customer and their home.
                                </p>
                            </div>
                        </div>
                        <div class="column mcb-column one column_divider">
                            <hr class="no_line" style="margin:0 auto 10px">
                        </div>
                        @*<div class="column mcb-column one-fourth column_column">
                            <div class="column_attr clearfix align_center" style="background-color:#056b39;padding:40px 20px 25px;border-bottom: 4px solid #0e3824;">
                                <h2 class="themecolor">
                                    <span class="counter-inline animate-math"><span class="number" data-to="100" style="color:white;">100+</span></span>
                                </h2>
                                <h5 style="color:white;">Construction projects</h5>
                            </div>
                        </div>
                        <div class="column mcb-column one-fourth column_column">
                            <div class="column_attr clearfix align_center" style="background-color:#056b39;padding:40px 20px 25px;border-bottom: 4px solid #0e3824;">
                                <h2 class="themecolor">
                                    <span class="counter-inline animate-math"><span class="number" data-to="50" style="color:white;">50+</span></span>
                                </h2>
                                <h5 style="color:white;">Maintenance projects</h5>
                            </div>
                        </div>
                        <div class="column mcb-column one-fourth column_column">
                            <div class="column_attr clearfix align_center" style="background-color:#056b39;padding:40px 20px 25px;border-bottom: 4px solid #0e3824;">
                                <h2 class="themecolor">
                                    <span class="counter-inline animate-math"><span class="number" data-to="60" style="color:white;">60+</span></span>
                                </h2>
                                <h5 style="color:white;">Landscaping projects</h5>
                            </div>
                        </div>
                        <div class="column mcb-column one-fourth column_column">
                            <div class="column_attr clearfix align_center" style="background-color:#056b39;padding:40px 18px 25px;border-bottom: 4px solid #0e3824;">
                                <h2 class="themecolor">
                                    <span class="counter-inline animate-math"><span class="number" data-to="150" style="color:white;">150+</span></span>
                                </h2>
                                <h5 style="color:white;">Electrical & plumbing work</h5>
                            </div>
                        </div>*@
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="sections_group">

            <div class="section full-width">
                <div class="section_wrapper clearfix">
                    <div class="column one column_portfolio">
                        <div class="portfolio_wrapper isotope_wrapper">
                            <ul class="portfolio_group lm_wrapper isotope exposure col-4">
                                <li class="portfolio-item isotope-item category-offer  has-thumbnail">
                                    <div class="image-wrapper scale-with-grid">
                                        <img width="1920" height="770" src="~/assets/ImagesPlaneraConstruction/service1.png" class="scale-with-grid wp-post-image" />
                                        <div class="mask"></div>
                                    </div>
                                    <div class="desc-inner">
                                        <div class="section_wrapper">
                                            <div class="desc-wrapper-inner">
                                                <div class="entry-title " style="width:400px;height:300px;">
                                                    <div class="arrow arrow--2">
                                                        <img src="~/assets/ImagesPlaneraConstruction/hicon1.png" />
                                                        <h3 style="color:#056b39;padding-top:20px;">
                                                            Building Construction Work
                                                        </h3>
                                                        <p>Our Building construction work add the structures to areas of land in an old fashioned or newly tech designed ways or customized as per the natural phenomena </p>
                                                        <p>Our own Design-Build method is a progressive shift away from more traditional methods. Involving both the architect and the contractor early on in the process ensures a higher quality product in a shorter amount of time.</p>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="desc-wrappper"></div>
                                        </div>
                                    </div>

                                </li>
                                @*<li class="portfolio-item isotope-item category-offer  has-thumbnail">
                                    <a class="link" href="post.html">
                                        <div class="image-wrapper scale-with-grid">
                                            <img width="1920" height="770" src="~/assets/ImagesPlaneraConstruction/service2.png" class="scale-with-grid wp-post-image" />
                                            <div class="mask"></div>
                                        </div>

                                    </a>
                                    <div class="desc-inner">
                                        <div class="container" style="float:right;">
                                            <div class="arrow arrow--4">
                                                <img src="~/assets/ImagesPlaneraConstruction/hicon2.png" />
                                                <h3 style="color:#056b39;padding-top:20px;">
                                                      Repair and Maintenance of house-holds and equipments
                                                </h3>
                                                <span style="font-size:18px;color:#000;">Building reparation work.</span><br />
                                                <span style="font-size:18px;color:#000;">Preventive and Protective maintenance.</span><br />
                                                <span style="font-size:18px;color:#000;">Leakage and seepage Work.</span><br />
                                                <span style="font-size:18px;color:#000;">Waterproofing work. </span><br />
                                                <span style="font-size:18px;color:#000;">Furniture and Kitchen Fixtures etc</span><br />
                                            </div>
                                        </div>
                                    </div>
                                </li>*@

                            <li class="portfolio-item isotope-item category-offer  has-thumbnail">
                                <div class="image-wrapper scale-with-grid">
                                    <img width="1920" height="770" src="~/assets/ImagesPlaneraConstruction/service3.png" class="scale-with-grid wp-post-image" />
                                    <div class="mask"></div>
                                </div>
                                <div class="desc-inner">
                                    <div class="section_wrapper">
                                        <div class="desc-wrapper-inner">

                                            <div class="entry-title " >
                                                <div class="arrow arrow--4" style="margin: 0 0 0 auto !important">
                                                    <img src="~/assets/ImagesPlaneraConstruction/hicon5.png" />
                                                    <h3 style="color:#056b39;padding-top:20px;">
                                                        Landscapíng Design and Execution
                                                    </h3>
                                                    <p>We are a highly experienced team of landscaping specialists with a proven track record for constructing and maintaining prestigious landscapes across various parts of middle east .</p>
                                                    <p>Regardless of size or complexity, whether you require a trusted landscaping design services or professional maintenance, we offer a flexible approach, tailored to the specific needs of your projec</p>
                                                </div>
                                            </div>
                                            <div class="desc-wrappper"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                                @*<li class="portfolio-item isotope-item category-offer  has-thumbnail">
                                    <a class="link" href="post.html">
                                        <div class="image-wrapper scale-with-grid">
                                            <img width="1920" height="770" src="~/assets/ImagesPlaneraConstruction/service4.png" class="scale-with-grid wp-post-image" />
                                            <div class="mask"></div>
                                        </div>

                                    </a>
                                    <div class="desc-inner">
                                        <div class="container" style="float:right;">
                                            <div class="arrow arrow--4">
                                                <img src="~/assets/ImagesPlaneraConstruction/hicon4.png" />
                                                <h3 style="color:#056b39;padding-top:20px;">
                                                        Installation of Electric Material and appliances
                                                </h3>
                                                <span style="font-size:18px;color:#000;">	Wiring and panel Installation.</span><br />
                                                <span style="font-size:18px;color:#000;">	Lights Installation .</span><br />
                                                <span style="font-size:18px;color:#000;">	Electric panel Installation.</span><br />
                                                <span style="font-size:18px;color:#000;">	Replacement or reparation of electrical appliances .</span><br />

                                            </div>
                                        </div>
                                    </div>
                                </li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

