
@{
    ViewBag.Title = "Hermano Contracting About";
    Layout = "~/Views/Shared/_LayoutHermaniCL.cshtml";
}
<style>
    @@media only screen and (max-width: 479px) {
        h2 {
            font-size: 40px;
            line-height: 30px;
        }
    }
</style>
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section  equal-height-wrap full-width">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  valign-top bg-cover clearfix" style=" padding-top: 167px; padding-bottom: 200px; background-image: url(../../assets/HarmanoRepair/images/about-header.jpg);background-repeat: no-repeat;background-position: center;">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column ">
                                    <div class="column_attr clearfix align_center">
                                        <h2 style="margin: 0; color: white; font-weight: 800; font-size: 50px;">ABOUT US</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section  equal-height-wrap" style="padding-top:80px;padding-bottom:40px">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-second  valign-middle clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="~/assets/HarmanoContract/images/leftsection.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second  valign-middle clearfix" style="padding:0 5%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix pestcontrol-about">
                                        <h6 class="pestcontrol-heading">WE ARE SPECIALISTS</h6>
                                        <hr class="no_line" style="margin:0 auto 15px">
                                        <h2 style="font-size:40px">Specializing in Contracting and Landscaping</h2>
                                        <hr class="no_line" style="margin:0 auto 15px">
                                        <h5>Since Hermano company was founded, we offers a proven track record of creative, quality design in Landscaping and maintenance. We have served and earned the reputation of being one of the market leading competitors in residential and commercial landscaping.</h5>
                                        <hr class="no_line" style="margin:0 auto 15px">
                                        <ul class="list_custom">
                                            <li>
                                                <i class="icon-plus" style="color:#21956c"></i>	Credibility
                                            </li>
                                            <li>
                                                <i class="icon-plus" style="color:#21956c"></i>	Teamwork
                                            </li>
                                            <li>
                                                <i class="icon-plus" style="color:#21956c"></i>	Creativity
                                            </li>
                                            <li>
                                                <i class="icon-plus" style="color:#21956c"></i>	Experience
                                            </li>
                                            <li>
                                                <i class="icon-plus" style="color:#21956c"></i>Result Oriented
                                            </li>
                                        </ul>
                                        <hr class="no_line" style="margin:0 auto 15px">
                                        @*<p>This is largely due to what our company has targeted since beginning</p>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section  equal-height-wrap" style="padding-top:40px;padding-bottom:40px">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-second  valign-middle clearfix" style="padding:0 5%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix pestcontrol-about">
                                        <hr class="no_line" style="margin:0 auto 15px">
                                        <h6 class="pestcontrol-heading">WE ARE EXPRIENCED</h6>
                                        <h2>Why Hermano</h2>
                                        <hr class="no_line" style="margin:0 auto 15px">
                                        <h5>We expanded greatly because of our quality work, and now have domestic and corporate landscaping and gardening clients all over Bahrain. </h5>
                                        <p>We are offering a high level of knowledge and real value for money. Today we maintain over 50+ sites, making us one the leading green services companies in Bahrain. </p>
                                        <p>We believe that this is due to, not only maintaining high standards of creative design and skilled construction, but also the emphasis we put on care and consideration for the customer and their home</p>
                                        <hr class="no_line" style="margin:0 auto 15px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second  valign-middle clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="~/assets/HarmanoContract/images/rightsection.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align:center">
                    <h2>OUR TEAM</h2>
                </div>
                <div class="section mcb-section" style="padding-top:20px; padding-bottom:40px;">
                    <div class="section mcb-section">
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div>
                                    <div class="wrapper">
                                        <div class="sliding-background"></div>
                                    </div>
                                    <style>
                                        .wrapper {
                                            overflow: hidden;
                                        }

                                        .sliding-background {
                                            background: url(../../assets/HarmanoContract/images/Hermano-Team-Slider-Rev-1.jpg) repeat-x;
                                            height: 535px;
                                            width: 6076px;
                                            animation: slide 20s linear infinite;
                                        }

                                        @@keyframes slide {
                                            0% {
                                                transform: translate3d(0, 0, 0);
                                            }

                                            100% {
                                                transform: translate3d(-3692px, 0, 0);
                                            }
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section bg-contain" style="padding-top:60px;padding-bottom:30px;background-image:url(images/pestcontrol-sectionbg3.png);background-repeat:repeat-y;background-position:center top">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one-fifth column_placeholder">
                                    <div class="placeholder">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="column mcb-column three-fifth column_column">
                                    <div class="column_attr clearfix align_center">
                                        <h2><span style="color:#000;">Specializing in</span> <span style="color:#056b39;">Contracting & Landscaping</span> in Bahrain</h2>
                                        <hr class="no_line" style="margin:0 auto 15px">
                                        <p style="color: #7f7f7f;">
                                            Our aim is to make your experience of the project as positive and pleasing as possible. Most of our projects come to us from customer recommendation. We believe that this is due to, not only maintaining high standards of creative design and skilled construction, but also the emphasis we put on care and consideration for the customer and their home.
                                        </p>
                                    </div>
                                </div>

                                <div class="column mcb-column one column_button">
                                    <div class="button_align align_center">
                                        <a class="button  button_size_1" style=" background-color: black !important; color: white !important; border: black" href="/hermano-contracting/services"><span class="button_label">SEE ALL SERVICES</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        jQuery('#aboutuspage > a > span').css('border-bottom','3px solid white');
    })
</script>