@{
    ViewBag.Title = "Hermano Contracting Project";
    Layout = "~/Views/Shared/_LayoutHermaniCL.cshtml";
}

<style>
    .if-zoom .image_frame .image_wrapper .image_links {
        display: unset;
    }

    .hc-projects img.scale-with-grid, #Content img {
        height: 251px;
    }

    .image_frame .image_wrapper .image_links, .portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc {
        background: rgba(28, 130, 86, 0.80);
    }

        .image_frame .image_wrapper .image_links a:hover {
            background: #ffffff;
            color: rgba(28, 130, 86, 0.80) !important;
        }

    h5 {
        color: #056b39 !important;
    }
</style>
<div class="section mcb-section  equal-height-wrap full-width">
    <div class="section_wrapper mcb-section-inner">
        <div class="wrap mcb-wrap one  valign-top bg-cover clearfix" style=" padding-top: 167px; padding-bottom: 200px; background-image: url(../../assets/HarmanoRepair/images/project-header.jpg);background-repeat: no-repeat;background-position: center;">
            <div class="mcb-wrap-inner">
                <div class="column mcb-column one column_column ">
                    <div class="column_attr clearfix align_center">
                        <h2 style="margin: 0; color: white; font-weight: 800; font-size: 50px;" data-translate="0prj01">PROJECTS </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section mcb-section" style="padding-top:80px; padding-bottom:40px; background-color:#ededed">
    <div class="section_wrapper clearfix">
        <!-- One full width row-->
        <div id="Filters" class="column one isotope-filters">
            <ul class="filters_buttons">
                <li class="label" data-translate="0fb01">
                    Filter by
                </li>
                <li class="categories">
                    <a class="open" href="#" data-translate="00h7"><i class="icon-docs"></i>Categories<i class="icon-down-dir"></i></a>
                </li>
                <li class="reset">
                    <a class="close" data-rel="*" href="#" data-translate="0sa01"><i class="icon-cancel"></i> Show all</a>
                </li>
            </ul>
            <div class="filters_wrapper" style="display: block;">
                <ul class="categories">
                    <li class="current-cat">
                        <a data-rel=".category-home" href="#" data-translate="0jnb0">Janabiya</a>
                    </li>
                    <li>
                        <a data-rel=".category-appartment" href="#" data-translate="0rlnd0">Riffa Landscape</a>
                    </li>
                    <li>
                        <a data-rel=".category-shop" href="#" data-translate="0rvw0">Riffa Views</a>
                    </li>
                    <li>
                        <a data-rel=".category-photography" href="#" data-translate="0oth0">Others</a>
                    </li>
                    <li class="close">
                        <a href="#"><i class="icon-cancel"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column one column_portfolio hc-projects">
            <div class="portfolio_wrapper isotope_wrapper">
                <ul class="portfolio_group lm_wrapper isotope grid">
                    @foreach (var item in ViewBag.Gallery)
                    {
                        <!-- Portfolio item -->
                        <li class="portfolio-item isotope-item category-home category-appartment  ">
                            <div class="portfolio-item-fw-bg">
                                <div class="portfolio-item-fw-wrapper">

                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                            <a href="~/assets/HarmanoContract/images/Janabiya/01.jpg" class="zoom" rel="prettyphoto">
                                                <div class="mask"></div>
                                                <img width="650" height="650px" src="@System.Configuration.ConfigurationManager.AppSettings["Image"].ToString()@item.ImagePath" alt="@item.Title" class="scale-with-grid wp-post-image">
                                                @*<img width="650" height="650px" src="~/assets/HarmanoContract/images/Janabiya/01.jpg" class="scale-with-grid wp-post-image" />*@
                                            </a>
                                            <div class="image_links">
                                                <a href="~/assets/HarmanoContract/images/Janabiya/01.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                    }
                    <!-- Portfolio item -->
                    <!--<li class="portfolio-item isotope-item category-shop category-photography ">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/HarmanoContract/images/Riffa Views/01.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links ">
                                            <a href="~/assets/HarmanoContract/images/Riffa Views/01.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>-->
                    <!-- Portfolio item -->
                    <!--<li class="portfolio-item isotope-item category-home category-appartment">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/HarmanoContract/images/Janabiya/02.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/HarmanoContract/images/Janabiya/02.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="" class="link"><i class="icon-link"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>-->
                    <!-- Portfolio item -->
                    <!--<li class="portfolio-item isotope-item category-home category-photography category-appartment">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/HarmanoContract/images/Janabiya/03.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links ">
                                            <a href="~/assets/HarmanoContract/images/Janabiya/03.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="" class="link"><i class="icon-link"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>-->
                    <!-- Portfolio item -->
                    <!--<li class="portfolio-item isotope-item category-home category-photography category-appartment">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/HarmanoContract/images/Janabiya/04.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/HarmanoContract/images/Janabiya/04.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>-->
                    <!-- Portfolio item -->
                    <!--<li class="portfolio-item isotope-item category-appartment category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/HarmanoContract/images/Janabiya/05.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links ">
                                            <a href="~/assets/HarmanoContract/images/Janabiya/05.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="" class="link"><i class="icon-link"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>-->
                    <!-- Portfolio item -->
                    <!--<li class="portfolio-item isotope-item category-home category-appartment category-photography">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/HarmanoContract/images/Janabiya/06.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/HarmanoContract/images/Janabiya/06.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>-->
                    <!-- Portfolio item -->
                    <!--<li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/HarmanoContract/images/Janabiya/07.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/HarmanoContract/images/Janabiya/07.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>

                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/HarmanoContract/images/Janabiya/08.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/HarmanoContract/images/Janabiya/08.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>

                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/HarmanoContract/images/Janabiya/09.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/HarmanoContract/images/Janabiya/09.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>

                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/HarmanoContract/images/Janabiya/10.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/HarmanoContract/images/Janabiya/10.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-shop category-photography ">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/HarmanoContract/images/Riffa Views/02.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links ">
                                            <a href="~/assets/HarmanoContract/images/Riffa Views/02.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>-->


                </ul>
                <!-- One full width row-->

            </div>
        </div>
    </div>
</div>


<script>
    jQuery(document).ready(function () {
        jQuery('#projectpage > a > span').css('border-bottom', '3px solid white');
    })
</script>