
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layoutv2.cshtml";
}
<div class="mfn-main-slider" id="mfn-rev-slider">
    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.6.3.1">
            <ul>
                <li>
                    <video autoplay muted loop id="myVideo" class="mobView">
                        <source src="../../assets/Planeragroup/images/video1.mp4" type="video/mp4">
                    </video>
                </li>
                @*<li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide"
                        data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                        <div class="rs-background-video-layer overlay" data-forcerewind="on" data-volume="mute" data-videowidth="100%" data-videoheight="100%" data-videomp4="../../assets/Planeragroup/images/video1.mp4"
                             data-videopreload="auto" data-videoloop="loopandnoslidestop" data-forceCover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false"></div>
                    </li>*@
            </ul>
            <div class="tp-static-layers">
                <div class="tp-caption   tp-resizeme tp-static-layer" id="slider-1-layer-6" data-x="382" data-y="107" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-startslide="0"
                     data-endslide="0" data-frames='[{"delay":300,"speed":300,"frame":"0","from":"opacity:0;","to":"o:0.4;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']"
                     data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;">
                </div>
                <div class="tp-caption   tp-resizeme tp-static-layer" id="slider-1-layer-1" data-x="center" data-hoffset="-261" data-y="241" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-startslide="0" data-endslide="0"
                     data-frames='[{"delay":300,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['right','right','right','right']"
                     data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 80px; line-height: 50px; font-weight: 400; color: #ffd0ae; letter-spacing: 0px;font-family:Cinzel;">
                    <div style="color:white;padding-left:450px;text-align:center;padding-top:80px;">
                        <p style="font-size:75px;line-height:57px;">PLANERA GROUP</p>
                        <p style="font-size:45px;line-height:66px;">The Largest group in the Services industry</p>
                        <p style="font-size:45px;"> Our Business Expansions witnesses our Vision </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section equal-height-wrap no-margin-h" id="about" style="padding-top:80px; padding-bottom:0px; background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-second  valign-middle clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image">
                                    <div class="animate" data-anim-type="fadeIn">
                                        <div class="image_frame image_item no_link scale-with-grid alignleft no_border">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="~/assets/Planeragroup/images/who-we-are.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second valign-middle clearfix animate" data-anim-type="fadeInRight" style="padding:0  0 0 3%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column three-fourth column_column">
                                    <div class="column_attr clearfix animate" data-anim-type="fadeInRight">
                                        <h1>WHO <br /> WE ARE</h1>
                                        <hr class="no_line" style="margin:0 auto 20px">
                                        <p style="color:#808080;font-size:16px;text-align: justify;">
                                            Planera group is having diversified multinational-owned businesses
                                        </p>
                                        <p style="color:#808080;font-size:16px;text-align: justify;">
                                            A leading market position in the construction field, Planera Group offers multiple services to its clients due to the wide range of companies and brands it houses
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" style="padding-top:80px; padding-bottom:0px;  background-repeat:no-repeat; background-position:center bottom">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-second valign-middle clearfix animate" data-anim-type="fadeInLeft" style="padding:0 3% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column" style="margin: 0 1% 10px;">
                                    <div class="column_attr clearfix">
                                        <h2>
                                            WE MAKE HISTORY
                                            <br> SINCE 2019
                                        </h2>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fifth column_column" style="margin: 0 1% 10px;">
                                    <div class="column_attr clearfix">
                                        <b>
                                            <p style="color: #1f438f;font-size:20px;">
                                                2019
                                            </p>
                                        </b>
                                        <div class="vl"></div>
                                    </div>
                                </div>
                                <div class="column mcb-column two-third column_column">
                                    <div class="column_attr clearfix text-justify">
                                        Established in 2019 in the field of construction we accomplished substantial confidence in the field of construction. Currently, we have announced luxurious villas projects for our exclusive customers in different areas of the Bahrain Kingdom.
                                    </div>
                                </div>
                                <div class="column mcb-column one column_divider">
                                    <hr class="no_line" />
                                </div>
                                <div class="column mcb-column one-fifth column_column" style="margin: 0 1% 10px;">
                                    <div class="column_attr clearfix">
                                        <b>
                                            <p style="color: #1f438f;font-size:20px;">
                                                2020
                                            </p>
                                        </b>
                                        <div class="vl"></div>
                                    </div>
                                </div>
                                <div class="column mcb-column two-third column_column">
                                    <div class="column_attr clearfix text-justify">
                                        Started with one employee, within a year, the group has 50+ employees of different nationalities working together for a common goal.
                                    </div>
                                </div>
                                <div class="column mcb-column one column_divider">
                                    <hr class="no_line">
                                </div>
                                <div class="column mcb-column one-fifth column_column" style="margin: 0 1% 10px;">
                                    <div class="column_attr clearfix">
                                        <b>
                                            <p style="color: #1f438f;font-size:20px;">
                                                2022
                                            </p>
                                        </b>
                                    </div>
                                </div>
                                <div class="column mcb-column two-third column_column pading">
                                    <div class="column_attr clearfix text-justify">
                                        Now Planera group is associated in the field of Construction, Interior designing, Perfumery sales, Social media advertising, Photography / Videography, and also offers Management Consultancy Services
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second valign-middle clearfix animate" data-anim-type="fadeInRight">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="~/assets/ImagesCompanyOverView/history.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section" style="padding-top:20px; padding-bottom:60px; ">
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class=" ">
                                    <div class="column_attr clearfix align_center">
                                        <h2 style="font-family:cinzel;padding:20px 0;">OUR TEAM</h2>
                                    </div>
                                    <div class="wrapper">
                                        <div class="sliding-background"></div>
                                    </div>
                                    <style>
                                        .wrapper {
                                            overflow: hidden;
                                        }

                                        .sliding-background {
                                            background: url(../../assets/Planeragroup/images/team-slider-group.jpg) repeat-x;
                                            height: 560px;
                                            width: 6076px;
                                            animation: slide 70s linear infinite;
                                        }

                                        @@keyframes slide {
                                            0% {
                                                transform: translate3d(0, 0, 0);
                                            }

                                            100% {
                                                transform: translate3d(-2692px, 0, 0);
                                            }
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column  column-margin-0px">
                                    <div class="column_attr clearfix align_center">
                                        <h2 style="padding:20px 0 20px 0;">
                                            OUR BUSINESSES
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" id="offer" style="padding-top:80px; padding-bottom:10px;  background-image:url(../../assets/Planeragroup/images/home-watchmaker-greybg.png); background-position:right top">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  column-margin-50px valign-top clearfix ourbusinessbox">
                            <div class="mcb-wrap-inner ">
                                <div class="column mcb-column one-third column_flat_box">
                                    <div class="flat_box">
                                        <div class="animate" data-anim-type="fadeIn">
                                            <a href="/planera/interior" target="_blank">
                                                <div class="photo_wrapper">
                                                    <div class="icon themebg">
                                                        <img src="~/assets/Planeragroup/images/h2-logo5.png" />
                                                    </div>
                                                    <img class="photo scale-with-grid" src="~/assets/Planeragroup/images/watchmaker-flatbox-bg3.png">
                                                </div>
                                                <div class="desc_wrapper">
                                                    <h4 style="color:white;">PLANERA INTERIOR AND ART</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-third column_flat_box">
                                    <div class="flat_box">
                                        <div class="animate" data-anim-type="fadeInLeft">
                                            <a href="/planera/activarbahrain" target="_blank">
                                                <div class="photo_wrapper">
                                                    <div class="icon themebg">
                                                        <img src="~/assets/Planeragroup/images/h2-logo6.png" />
                                                    </div>
                                                    <img class="photo scale-with-grid" src="~/assets/Planeragroup/images/watchmaker-flatbox-bg1.png">
                                                </div>
                                                <div class="desc_wrapper">
                                                    <h4 style="color:white;">ACTIVAR BAHRAIN</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-third column_flat_box">
                                    <div class="flat_box">
                                        <div class="animate" data-anim-type="fadeInRight">
                                            <a href="/planera/hermano-contracting" target="_blank">
                                                <div class="photo_wrapper">
                                                    <div class="icon themebg">
                                                        <img src="~/assets/Planeragroup/images/HermanoCon&land.png" />
                                                    </div>
                                                    <img class="photo scale-with-grid" src="~/assets/Planeragroup/images/watchmaker-flatbox-bg2.png">
                                                </div>
                                                <div class="desc_wrapper">
                                                    <h4 style="color:white;">
                                                        HERMANO CONTRACTING AND
                                                        LANDSCAPING
                                                    </h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one-third column_flat_box">
                                    <div class="flat_box">
                                        <div class="animate" data-anim-type="fadeInLeft">
                                            <a href="/planera/general-trading" target="_blank">
                                                <div class="photo_wrapper">
                                                    <div class="icon themebg">
                                                        <img src="~/assets/Planeragroup/images/h2-logo4.png" />
                                                    </div>
                                                    <img class="photo scale-with-grid" src="~/assets/Planeragroup/images/generaltrading.png">
                                                </div>
                                                <div class="desc_wrapper">
                                                    <h4 style="color:white;">PLANERA GENERAL TRADING</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-third column_flat_box">
                                    <div class="flat_box">
                                        <div class="animate" data-anim-type="fadeInRight">
                                            <a href="/planera/activardubai" target="_blank">
                                                <div class="photo_wrapper">
                                                    <div class="icon themebg">
                                                        <img src="~/assets/Planeragroup/images/h2-logo2.png" />
                                                    </div>
                                                    <img class="photo scale-with-grid" src="~/assets/Planeragroup/images/activardubai.png">
                                                </div>
                                                <div class="desc_wrapper">
                                                    <h4 style="color:white;">
                                                        ACTIVAR DUBAI
                                                    </h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-third column_flat_box">
                                    <div class="flat_box">
                                        <div class="animate" data-anim-type="fadeIn">
                                            <a href="/hermano/repair-maintenance" target="_blank">
                                                <div class="photo_wrapper">
                                                    <div class="icon themebg">
                                                        <img src="~/assets/Planeragroup/images/Hermanorepair&Main.png" />
                                                    </div>
                                                    <img class="photo scale-with-grid" src="~/assets/Planeragroup/images/hermano-repair.jpg">
                                                </div>
                                                <div class="desc_wrapper">
                                                    <h4 style="color:white;">
                                                        HERMANO REPAIR AND MAINTENANCE
                                                    </h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_wrapper clearfix">
                    <div class="sections_group">
                        <div class="entry-content">
                            <div class="section full-width" style="padding-top:0px; padding-bottom:0px; background-color:#2e3141">
                                <div class="section_wrapper clearfix">
                                    <div class="items_group clearfix">
                                        <!-- One full width row-->
                                        <div class="column one column_blog">
                                            <div class="column_filters">
                                                <div id="Filters" class="isotope-filters" data-parent="column_filters">
                                                    <div style="text-align:right;">
                                                        <ul class="filters_buttons">
                                                            @*<li class="label">
                                                                    Filter by
                                                                </li>*@
                                                            @*<li class="categories">
                                                                    <a class="open" href="#"><i class="icon-docs"></i>Categories<i class="icon-down-dir"></i></a>
                                                                </li>*@
                                                        </ul>
                                                        <div style="text-align:center;">
                                                            <h2 style="color:white; font-family:Cinzel"><strong>LATEST NEWS & EVENTS</strong></h2>
                                                        </div>
                                                    </div>
                                                    <div class="filters_wrapper">
                                                        <ul class="categories">
                                                            <li class="reset current-cat">
                                                                <a class="all" data-rel="*" href="#">Show all</a>
                                                            </li>
                                                            <li class="hot-news">
                                                                <a data-rel=".category-hot-news" href="#">Hot news</a>
                                                            </li>
                                                            <li class="lifestyle">
                                                                <a data-rel=".category-lifestyle" href="#">Lifestyle</a>
                                                            </li>
                                                            <li class="news">
                                                                <a data-rel=".category-news" href="#">News</a>
                                                            </li>
                                                            <li class="sport">
                                                                <a data-rel=".category-sport" href="#">Sport</a>
                                                            </li>
                                                            <li class="technology">
                                                                <a data-rel=".category-technology" href="#">Technology</a>
                                                            </li>
                                                            <li class="close">
                                                                <a href="#"><i class="icon-cancel"></i></a>
                                                            </li>
                                                        </ul>
                                                        <ul class="tags">
                                                            <li class="reset current-cat">
                                                                <a class="all" data-rel="*" href="#">Show all</a>
                                                            </li>
                                                            <li class="design">
                                                                <a data-rel=".tag-design" href="#">Design</a>
                                                            </li>
                                                            <li class="framework">
                                                                <a data-rel=".tag-framework" href="#">Framework</a>
                                                            </li>
                                                            <li class="grid">
                                                                <a data-rel=".tag-grid" href="#">Grid</a>
                                                            </li>
                                                            <li class="motion">
                                                                <a data-rel=".tag-motion" href="#">Motion</a>
                                                            </li>
                                                            <li class="themeforest">
                                                                <a data-rel=".tag-themeforest" href="#">Themeforest</a>
                                                            </li>
                                                            <li class="video">
                                                                <a data-rel=".tag-video" href="#">Video</a>
                                                            </li>
                                                            <li class="wordpress">
                                                                <a data-rel=".tag-wordpress" href="#">Wordpress</a>
                                                            </li>
                                                            <li class="close">
                                                                <a href="#"><i class="icon-cancel"></i></a>
                                                            </li>
                                                        </ul>
                                                        <ul class="authors">
                                                            <li class="reset current-cat">
                                                                <a class="all" data-rel="*" href="#">Show all</a>
                                                            </li>
                                                            <li class="admin">
                                                                <a data-rel=".author-admin" href="#">BeantownThemes</a>
                                                            </li>
                                                            <li class="close">
                                                                <a href="#"><i class="icon-cancel"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="blog_wrapper isotope_wrapper clearfix newsbox">
                                                    <div class="posts_group lm_wrapper col-4 masonry tiles isotope">
                                                        <div class="post-item isotope-item clearfix post format-standard has-post-thumbnail  category-lifestyle category-technology tag-video">
                                                            <div class="post-photo-wrapper scale-with-grid zoomEffect_2">
                                                                <img width="800" height="813" src="~/assets/Planeragroup/images/news1-s.jpg" class="scale-with-grid wp-post-image " />
                                                            </div>
                                                            <div class="post-desc-wrapper">
                                                                <div class="post-desc">
                                                                    <div class="post-title">
                                                                        <h2 class="entry-title small">
                                                                            <a href="/planera/newsevents">
                                                                                Activar Bahrain has received a shield from the Bahrain Paralympic Committee in dedication to its efforts.
                                                                            </a>
                                                                        </h2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="post-item isotope-item clearfix post format-standard has-post-thumbnail  category-lifestyle category-technology tag-video">
                                                            <div class="post-photo-wrapper scale-with-grid zoomEffect_2">
                                                                <img width="800" height="813" src="~/assets/Planeragroup/images/news2-s.jpg" class="scale-with-grid wp-post-image " />
                                                            </div>
                                                            <div class="post-desc-wrapper">
                                                                <div class="post-desc">
                                                                    <div class="post-title">
                                                                        <h2 class="entry-title small">
                                                                            <a href="/planera/newsevents">
                                                                                The President of the Planera Group, Mr.Omar Bukmal, honored Ms. Zahraa Hussain for her efforts throughout her tenure at Actifar Bahrain Public Relations.
                                                                            </a>
                                                                        </h2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="post-item isotope-item clearfix post format-standard has-post-thumbnail  category-lifestyle category-technology tag-video">
                                                            <div class="post-photo-wrapper scale-with-grid zoomEffect_2">
                                                                <img width="800" height="813" src="~/assets/Planeragroup/images/news3-s.jpg" class="scale-with-grid wp-post-image " />
                                                            </div>
                                                            <div class="post-desc-wrapper">
                                                                <div class="post-desc">
                                                                    <div class="post-title">
                                                                        <h2 class="entry-title small">
                                                                            <a href="/planera/newsevents">
                                                                                Planera Interior Design has handed over one of its design and implementation projects to the client.
                                                                            </a>
                                                                        </h2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="post-item isotope-item clearfix post format-standard has-post-thumbnail  category-lifestyle category-technology tag-video">
                                                            <div class="post-photo-wrapper scale-with-grid zoomEffect_2">
                                                                <img width="800" height="813" src="~/assets/Planeragroup/images/news4-s.jpg" class="scale-with-grid wp-post-image " />
                                                            </div>
                                                            <div class="post-desc-wrapper">
                                                                <div class="post-desc">
                                                                    <div class="post-title">
                                                                        <h2 class="entry-title small">

                                                                            <a href="/planera/newsevents">
                                                                                Planera Group has appointed Mr.Raad Ahmed as Acting General Manager at Hermano Contracting Company.
                                                                            </a>
                                                                        </h2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="post-item isotope-item clearfix post format-standard has-post-thumbnail  category-lifestyle category-technology tag-video">
                                                            <div class="post-photo-wrapper scale-with-grid zoomEffect_2">
                                                                <img width="800" height="813" src="~/assets/Planeragroup/images/event1-s.jpg" class="scale-with-grid wp-post-image " />
                                                            </div>
                                                            <div class="post-desc-wrapper">
                                                                <div class="post-desc">
                                                                    <div class="post-title">
                                                                        <h2 class="entry-title small">
                                                                            <a href="/planera/newsevents">
                                                                                Planera Group participated in the month of October to support breast cancer patients, coinciding with the Kingdom's celebrations of the International Day for Awareness against Breast Cancer
                                                                            </a>
                                                                        </h2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="post-item isotope-item clearfix post format-standard has-post-thumbnail  category-lifestyle category-technology tag-video">
                                                            <div class="post-photo-wrapper scale-with-grid zoomEffect_2">
                                                                <img width="800" height="813" src="~/assets/Planeragroup/images/event2-s.jpg" class="scale-with-grid wp-post-image " />
                                                            </div>
                                                            <div class="post-desc-wrapper">
                                                                <div class="post-desc">
                                                                    <div class="post-title">
                                                                        <h2 class="entry-title small">

                                                                            <a href="/planera/newsevents">
                                                                                Planera Group employees celebrated Christmas on the morning of Sunday, December 26, in an atmosphere full of joy, distribution of gifts and breakfast.
                                                                            </a>
                                                                        </h2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="post-item isotope-item clearfix post format-standard has-post-thumbnail  category-lifestyle category-technology tag-video">
                                                            <div class="post-photo-wrapper scale-with-grid zoomEffect_2">
                                                                <img width="800" height="813" src="~/assets/Planeragroup/images/event6-s.jpg" class="scale-with-grid wp-post-image " />
                                                            </div>
                                                            <div class="post-desc-wrapper">
                                                                <div class="post-desc">
                                                                    <div class="post-title">
                                                                        <h2 class="entry-title small">
                                                                            <a href="/planera/newsevents">
                                                                                Actifar Bahrain Public Relations Company visited the Bahrain Combat Games Council on Sunday, August 14, where it met with the CEO of the Council, Mr. Jaafar Ali.
                                                                            </a>
                                                                        </h2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="post-item isotope-item clearfix post format-standard has-post-thumbnail  category-lifestyle category-technology tag-video">
                                                            <div class="post-photo-wrapper scale-with-grid zoomEffect_2">
                                                                <img width="800" height="813" src="~/assets/Planeragroup/images/event3-s.jpg" class="scale-with-grid wp-post-image " />
                                                            </div>
                                                            <div class="post-desc-wrapper">
                                                                <div class="post-desc">
                                                                    <div class="post-title">
                                                                        <h2 class="entry-title small">
                                                                            <a href="/planera/newsevents">
                                                                                Planera Group organized the first meeting for all employees, where all company employees gathered for an Iftar meal, followed by some activities such as honoring, competitions, playing band and geraqoon on the ninth of the holy month of Ramadan
                                                                            </a>
                                                                        </h2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!--<div class="post-item isotope-item clearfix post format-standard has-post-thumbnail  category-technology tag-motion tag-video">
        <div class="date_label">
            May 7, 2014
        </div>
        <div class="post-photo-wrapper scale-with-grid zoomEffect_2">
            <img width="800" height="690" src="~/assets/Planeragroup/images/10.jpg" class="scale-with-grid wp-post-image" />
        </div>
        <div class="post-desc-wrapper">
            <div class="post-desc">
                <div class="post-head">
                    <div class="post-meta clearfix">
                        <div class="category">
                            <span class="cat-btn">Categories <i class="icon-down-dir"></i></span>
                            <div class="cat-wrapper">
                                <ul class="post-categories">
                                    <li>
                                        <a href="#" rel="category tag">Technology</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-title">
                    <h2 class="entry-title small"><a href="#">The Planera Group participated in the sports day</a></h2>
                </div>
                <div class="post-excerpt">
                    Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vella ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque penatibus et ultrices volutpat.
                </div>
            </div>
        </div>
    </div>
    <div class="post-item isotope-item clearfix   post format-standard  category-lifestyle  category-sport tag-design" style="background-color:#17bbce;">
        <div class="date_label">
            May 5, 2014
        </div>
        <div class="post-photo-wrapper scale-with-grid zoomEffect_2">
            <img width="800" height="813" src="~/assets/Planeragroup/images/11.jpg" class="scale-with-grid wp-post-image " />
        </div>
        <div class="post-desc-wrapper">
            <div class="post-desc">
                <div class="post-head">
                    <div class="post-meta clearfix">
                        <div class="category">
                            <span class="cat-btn">Categories <i class="icon-down-dir"></i></span>
                            <div class="cat-wrapper">
                                <ul class="post-categories">
                                    <li>
                                        <a href="#" rel="category tag">Lifestyle</a>
                                    </li>
                                    <li>
                                        <a href="#" rel="category tag">News</a>
                                    </li>
                                    <li>
                                        <a href="#" rel="category tag">Sport</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-title">
                    <h2 class="entry-title small"><a href="#">Planera Group employees celebrated Christmas.</a></h2>
                </div>
                <div class="post-excerpt">
                    Aenean ligula nunc, accumsan quam, lobortis fringilla, massa. Maecenas pellentesque dolor.
                </div>
            </div>
        </div>
    </div>
    <div class="post-item isotope-item clearfix  post format-standard " style="background-color:#f07145;">
        <div class="date_label">
            March 12, 2014
        </div>
        <div class="post-photo-wrapper scale-with-grid zoomEffect_2">
            <img width="800" height="813" src="~/assets/Planeragroup/images/13.jpg" class="scale-with-grid wp-post-image " />
        </div>
        <div class="post-desc-wrapper">
            <div class="post-desc">
                <div class="post-head">
                    <div class="post-meta clearfix">
                        <div class="category">
                            <span class="cat-btn">Categories <i class="icon-down-dir"></i></span>
                            <div class="cat-wrapper">
                                <ul class="post-categories">
                                    <li>
                                        <a href="#" rel="category tag">News</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-title">
                    <h2 class="entry-title small"><a href="#">The management team of the Bahrain Jujitsu Federation thanked Activar Bahrin for its excellence</a></h2>
                </div>
                <div class="post-excerpt">
                </div>
            </div>
        </div>
    </div>
    <div class="post-item isotope-item clearfix  post format-standard " style="background-color:#f07145;">
        <div class="date_label">
            March 12, 2014
        </div>
        <div class="post-photo-wrapper scale-with-grid zoomEffect_2">
            <img width="800" height="813" src="~/assets/Planeragroup/images/12.jpg" class="scale-with-grid wp-post-image " />
        </div>
        <div class="post-desc-wrapper">
            <div class="post-desc">
                <div class="post-head">
                    <div class="post-meta clearfix">
                        <div class="category">
                            <span class="cat-btn">Categories <i class="icon-down-dir"></i></span>
                            <div class="cat-wrapper">
                                <ul class="post-categories">
                                    <li>
                                        <a href="#" rel="category tag">News</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-title">
                    <h2 class="entry-title small"><a href="#">Activar Bahrin received a shield from the Bahrain olympics Committee</a></h2>
                </div>
                <div class="post-excerpt">

                </div>
            </div>
        </div>
    </div>
    <div class="post-item isotope-item clearfix post format-standard has-post-thumbnail  category-lifestyle category-sport tag-video">
        <div class="date_label">
            April 30, 2014
        </div>
        <div class="post-photo-wrapper scale-with-grid zoomEffect_2"></div>
        <div class="post-desc-wrapper">
            <div class="post-desc">
                <div class="post-head">
                    <div class="post-meta clearfix">
                        <div class="author-date">
                            <span class="vcard author post-author"><span class="label">Published by </span><i class="icon-user"></i> <span class="fn"><a href="#">BeantownThemes</a></span></span><span class="date"><span class="label">at </span><i class="icon-clock"></i> <span class="post-date updated">April 30, 2014</span></span>
                        </div>
                        <div class="category">
                            <span class="cat-btn">Categories <i class="icon-down-dir"></i></span>
                            <div class="cat-wrapper">
                                <ul class="post-categories">
                                    <li>
                                        <a href="#" rel="category tag">Lifestyle</a>
                                    </li>
                                    <li>
                                        <a href="#" rel="category tag">Sport</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-title">
                    <h2 class="entry-title small"><a href="#">Fusce lorem ligula</a></h2>
                </div>
                <div class="post-excerpt">
                    Donec est. Vivamus iaculis, diam eu arcu congue eleifend. Vestibulum commodo ligula ut augue. Maecenas pretium, diam id pharetra.
                </div>
            </div>
        </div>
    </div>
    <div class="post-item isotope-item clearfix  post format-standard " style="background-color:#f07145;">
        <div class="date_label">
            March 12, 2014
        </div>
        <div class="post-photo-wrapper scale-with-grid zoomEffect_2">
            <img width="800" height="813" src="~/assets/Planeragroup/images/2.jpg" class="scale-with-grid wp-post-image " />
        </div>
        <div class="post-desc-wrapper">
            <div class="post-desc">
                <div class="post-head">
                    <div class="post-meta clearfix">

                        <div class="category">
                            <span class="cat-btn">Categories <i class="icon-down-dir"></i></span>
                            <div class="cat-wrapper">
                                <ul class="post-categories">
                                    <li>
                                        <a href="#" rel="category tag">News</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-title">
                    <h2 class="entry-title small"><a href="#">The Planera Group participated in the sports day</a></h2>
                </div>
                <div class="post-excerpt">
                </div>
            </div>
        </div>
    </div>
    <div class="post-item isotope-item clearfix  post format-standard " style="background-color:#f07145;">
        <div class="date_label">
            March 12, 2014
        </div>
        <div class="post-photo-wrapper scale-with-grid zoomEffect_2">
            <img width="800" height="813" src="~/assets/Planeragroup/images/8.jpg" class="scale-with-grid wp-post-image " />
        </div>
        <div class="post-desc-wrapper">
            <div class="post-desc">
                <div class="post-head">
                    <div class="post-meta clearfix">-->
                                                        @*<div class="author-date">
            <span class="vcard author post-author"><span class="label">Published by </span><i class="icon-user"></i> <span class="fn"><a href="#">BeantownThemes</a></span></span><span class="date"><span class="label">at </span><i class="icon-clock"></i> <span class="post-date updated">March 12, 2014</span></span>
        </div>*@
                                                        <!--<div class="category">
                            <span class="cat-btn">Categories <i class="icon-down-dir"></i></span>
                            <div class="cat-wrapper">
                                <ul class="post-categories">
                                    <li>
                                        <a href="#" rel="category tag">News</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-title">
                    <h2 class="entry-title small"><a href="#">The Planera Group organized the first meeting of all employees</a></h2>
                </div>
                <div class="post-excerpt">

                </div>
            </div>
        </div>
    </div>-->
                                                        <!-- One full width row-->
                                                        <div class="column one pager_wrapper pager_lm" style="padding-top:50px;padding-bottom:50px;">
                                                            @*<a class="pager_load_more button button_js" href="@Url.Action("NewsEvents","Home")" style="background:#4D5063;color:white"><span class="button_icon"><i class="icon-layout"></i></span><span class="button_label">Load more</span></a>*@
                                                            <a class=" button button_js" href="@Url.Action("NewsEvents","Home")" style="background:#4D5063;color:white"><span class="button_icon"><i class="icon-layout"></i></span><span class="button_label">Load more</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section the_content no_content">
                                    <div class="section_wrapper">
                                        <div class="the_content_wrapper"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section highlight-right equal-height-wrap" style="padding-top:70px; padding-bottom:50px; background-color:#0F3584" data-parallax="3d">
                        <img class="mfn-parallax" src="~/assets/Planeragroup/images/home-bg.png" style="opacity:0">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one-sixth  valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_placeholder">
                                        <div class="placeholder">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap two-fifth valign-middle clearfix animate delay-2s" data-anim-type="fadeIn">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column five-sixth column_contact_box">
                                        <div class="get_in_touch" style="background-color:white;">
                                            <h3 style="color:#1a3f8c !important;">CONTACT US</h3>
                                            <div class="get_in_touch_wrapper">
                                                <ul>
                                                    <li class="address">
                                                        <span class="icon"><i class="icon-location"></i></span><span class="address_wrapper" style="color: #1a3f8c;">
                                                            Mandarine Business Center
                                                            <br>
                                                            Alseef District (Bahrain)
                                                        </span>
                                                    </li>
                                                    <li class="phone phone-1">
                                                        <span class="icon"><i class="icon-phone"></i></span>
                                                        <p>
                                                            <a href="tel:+97317004006" style="color:#1a3f8c !important;">+973 17004006</a>
                                                        </p>
                                                        <p>
                                                            <a href="tel:+97337750033" style="color:#1a3f8c !important;">+973 37750033 </a><br />
                                                            <a href="tel:+97337750044" style="color:#1a3f8c !important;">+973 37750044</a>
                                                        </p>
                                                    </li>
                                                    <li class="mail">
                                                        <span class="icon"><i class="icon-mail"></i></span>
                                                        <p style="color: #1a3f8c;">
                                                            <a href="mailto:info@planerabh.com" style="color:#1a3f8c !important;"><span>info@planerabh.com</span></a>
                                                        </p>
                                                    </li>
                                                    <li class="www">
                                                        <span class="icon"><i class="icon-link"></i></span>
                                                        <p style="color: #1a3f8c !important;">
                                                            <a target="_blank" href="http://www.planerabh.com/" style="color:#1a3f8c !important;">www.planerabh.com</a>
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap two-fifth valign-middle clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix" style="padding:30px 40px 30px 30px;">
                                            <h2 style="color:white; font-family:Cinzel;">
                                                OUR SOCIAL <br />LINKS
                                            </h2>
                                            <hr class="no_line" style="margin: 0 auto 10px">
                                            <p style="color:#9d9da8;font-size:22px">
                                                Connect us for the latest updates and upcoming projects
                                            </p>
                                            <div class="column_attr clearfix">
                                                <p style="font-size: 28px; line-height: 40px">
                                                    @*<a href="#">
                                                            <i class="icon-facebook" style="color:white;"></i>
                                                        </a>
                                                        <a href="#">
                                                            <i class="icon-twitter" style="color:white;"></i>
                                                        </a>*@
                                                    <a href="https://instagram.com/planera_group?igshid=NmNmNjAwNzg=" target="_blank" style="color:white;font-size:20px">
                                                        <i class="icon-instagram" style="color:white"></i> planera_group
                                                    </a>
                                                    @*<a href="#">
                                                            <i class="icon-youtube" style="color:white"></i>
                                                        </a>*@
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section full-width no-margin-h" id="contact" style="padding-top:0px; padding-bottom:0px; background-color:#0F3584">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:60px 5% 30px 5%">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix animate" data-anim-type="fadeInLeft">
                                            <h3 style="color:White; font-family:Cinzel">SEND A MESSAGE</h3>
                                            <div id="contactWrapper">
                                                <form id="contactform">
                                                    <!-- One Second (1/2) Column -->
                                                    <div class="column one-second">
                                                        <input placeholder="Your name" type="text" name="name" id="name" size="40" aria-required="true" aria-invalid="false" style="color:white !important;" required />
                                                    </div>
                                                    <!-- One Second (1/2) Column -->
                                                    <div class="column one-second">
                                                        <input placeholder="Your e-mail" type="email" name="email" id="email" size="40" aria-required="true" aria-invalid="false" style="color: white !important;" required />
                                                    </div>
                                                    <div class="column one">
                                                        <input placeholder="Subject" type="text" name="subject" id="subject" size="40" aria-invalid="false" style="color: white !important;" required />
                                                    </div>
                                                    <div class="column one">
                                                        <textarea placeholder="Message" name="Message" id="message" style="width:100%; color:white;" rows="10" aria-invalid="false" required></textarea>
                                                    </div>
                                                    <div class="column one">
                                                        <input type="button" value="Send A Message" id="submit" onclick="SendEmail();">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap one-second valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_map">
                                        <div class="google-map-wrapper no_border" style="margin-bottom:-8px;">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14314.83719313858!2d50.5347584!3d26.2386336!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x264bc01fa2bf4ca0!2sPlanera%20Group!5e0!3m2!1sen!2ssa!4v1649192418211!5m2!1sen!2ssa" width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var $ = jQuery;
         function SendEmail() {
            var dataType = 'application/json; charset=utf-8';
            var obj = {
                "Name": jQuery('#name').val(),
                "Email": jQuery('#email').val(),
                "Subject": jQuery('#subject').val(),
                "Message": jQuery('#message').val()
            }
            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("SendEmailAdminPlaneraGroup", "Email")',
                dataType: 'json',
                contentType: dataType,
                data: JSON.stringify(obj),
                success: function (result) {
                    if (result.Success == true) {
                        swal({
                            title: "We have received you query, our team will get back to you soon!",
                            //text: "",
                            type: "success"
                        });
                        ClearFields()
                    }
                    else {
                        //alert("Error Occured While Sending an Email")
                        swal({
                            title: "Error !",
                            text: "Error Occured While Sending an Email",
                            type: "error",
                            html: true,
                            showCancelButton: false,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Ok",
                            closeOnConfirm: false,
                        });
                        ClearFields()
                    }
                }
            });
        }
        function ClearFields() {
           jQuery('#name').val('');
           jQuery('#email').val('');
           jQuery('#subject').val('');
           jQuery('#message').val('');
        }
</script>