
@{
    Layout = "~/Views/Shared/_LayoutInterior.cshtml";
    //Layout = null;
}
<div class="sections_group">
    <div class="entry-content _arabic" style="background-color:black;">
        <div class="section full-width center dark flv_sections_53" style="        background-image: url(../../assets/PlaneraInterior/images/services-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;" data-stellar-background-ratio="0.5">
            <div class="section_wrapper clearfix">
                <div class="items_group clearfix"></div>
                <h2 class="mobView" style="opacity: 0.5;    font-size: 83.5px;    font-weight: bold;    font-style: normal;    color: rgba(255, 255, 255, 0.5);" data-translate="0ser01">
                    Services
                </h2>
            </div>
        </div>
        <div class="section mcb-section equal-height-wrap" style="padding-top:120px" id="interior">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one-second valign-middle clearfix animate" data-anim-type="fadeInLeft">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item scale-with-grid no_border">
                                <div class="image_wrapper radius">
                                    <div class="mask"></div><img class="scale-with-grid" src="~/assets/PlaneraInterior/images/intservice2.png">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap mcb-wrap one-second valign-middle clearfix animate" data-anim-type="fadeInRight" style="padding:0 0 0 7%">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix">

                                <img src="~/assets/PlaneraInterior/images/intsmall2.png" style="width:102px;height:99px;" />
                                <h3 style="color:white;" data-translate="0id01">Interior Design </h3>
                                <hr class="no_line" style="margin:0 auto 5px">
                                <p style="color:white;" data-translate="0wos01">
                                    We offer services for physical structures as well as personal and artistic designs such as paint color, roof shape and material, decks, patios, gardens, and more.
                                </p>
                                <hr class="no_line" style="margin:0 auto 15px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="exterior" class="section mcb-section equal-height-wrap" style="padding-top:80px">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one-second valign-middle clearfix animate" data-anim-type="fadeInLeft" style="padding:0 7% 0 0">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix">
                                <img src="~/assets/PlaneraInterior/images/ext.png" style="width:102px;height:99px;" />
                                <h3 style="color:white;" data-translate="0exd01">Exterior Design</h3>
                                <hr class="no_line" style="margin:0 auto 5px">
                                <p style="color:white;" data-translate="0ws01">
                                    Our designers have expertise to transform your project through art and science and enhance the interior design to achieve an aesthetically pleasing environment for the people using the space.
                                </p>
                                <hr class="no_line" style="margin:0 auto 15px">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap mcb-wrap one-second valign-middle clearfix  animate" data-anim-type="fadeInRight">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item scale-with-grid no_border">
                                <div class="image_wrapper radius">
                                    <div class="mask"></div><img class="scale-with-grid" src="~/assets/PlaneraInterior/images/exterior.png" style="border-radius:10px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="landscape" class="section mcb-section equal-height-wrap" style="padding-top:80px">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one-second valign-middle clearfix animate" data-anim-type="fadeInLeft">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item scale-with-grid no_border">
                                <div class="image_wrapper radius">
                                    <div class="mask"></div><img class="scale-with-grid" src="~/assets/PlaneraInterior/images/landscape1.png" style="border-radius:10px;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap mcb-wrap one-second valign-middle clearfix animate" data-anim-type="fadeInRight" style="padding:0 0 0 7%">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix">
                                <img src="~/assets/PlaneraInterior/images/landscape.png" style="width:102px;height:99px;" />
                                <h3 style="color:white;" data-translate="0ld01">Landscape Design</h3>
                                <hr class="no_line" style="margin:0 auto 5px">
                                <p style="color:white;" data-translate="0off01">
                                    Offering fascinating designs and artwork to promote culture and tradition and combine them with nature. Our contemporary concepts make a bridge between your aimed architecture and your garden design
                                </p>
                                <hr class="no_line" style="margin:0 auto 15px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="consulting" class="section mcb-section equal-height-wrap" style="padding-top:80px;padding-bottom:80px">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one-second valign-middle clearfix  animate" data-anim-type="fadeInLeft" style="padding:0 7% 0 0">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix">
                                <img src="~/assets/PlaneraInterior/images/consulting.png" style="width:102px;height:99px;" />
                                <h3 style="color:white;" data-translate="0ccs01">Consulting Conceptual Space & Design</h3>
                                <hr class="no_line" style="margin:0 auto 5px">
                                <p style="color:white;" data-translate="0gae01">
                                    Get an expert solution as per your need and space. We offer services for physical structures as well as personal and artistic designs such as paint color, roof shape and material, decks, patios, gardens, and more.
                                </p>
                                <hr class="no_line" style="margin:0 auto 15px">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap mcb-wrap one-second valign-middle clearfix animate" data-anim-type="fadeInRight">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item scale-with-grid no_border">
                                <div class="image_wrapper radius">
                                    <div class="mask"></div><img class="scale-with-grid" src="~/assets/PlaneraInterior/images/consult.png" style="border-radius:10px;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="supervising" class="section mcb-section equal-height-wrap" style="padding-top:20px;padding-bottom:80px;">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one-second valign-middle clearfix animate" data-anim-type="fadeInLeft">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item scale-with-grid no_border">
                                <div class="image_wrapper radius">
                                    <div class="mask"></div><img class="scale-with-grid" src="~/assets/PlaneraInterior/images/supervising1.png" style="border-radius:10px;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap mcb-wrap one-second valign-middle clearfix animate" data-anim-type="fadeInRight" style="padding:0 0 0 7%">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix">
                                <img src="~/assets/PlaneraInterior/images/supervising.png" style="width:102px;height:99px;" />
                                <h3 style="color:white;" data-translate="0sse01">Supervising Site Execution</h3>
                                <hr class="no_line" style="margin:0 auto 5px">
                                <p style="color:white;" data-translate="0syw01">
                                    Share your Workload; Hire our services to supervise your projects to minimize your hidden risks. We offer supervision services for small and large scale of businesses or projects
                                </p>
                                <hr class="no_line" style="margin:0 auto 15px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="furniture" class="section mcb-section equal-height-wrap" style="padding-top:80px;padding-bottom:80px">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one-second valign-middle clearfix  animate" data-anim-type="fadeInLeft" style="padding:0 7% 0 0">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix">
                                <img src="~/assets/PlaneraInterior/images/lights.png" style="width:102px;height:99px;" />
                                <h3 style="color:white;" data-translate="0fls01">
                                    Furniture & Lights Selection
                                </h3>
                                <hr class="no_line" style="margin:0 auto 5px">
                                <p style="color:white;" data-translate="0glc01">
                                    Good lighting changes and transforms a space, Our Creative team provides exclusive furniture and lighting designs which will impact and enhance the ambiance of your space
                                </p>
                                <hr class="no_line" style="margin:0 auto 15px">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap mcb-wrap one-second valign-middle clearfix animate" data-anim-type="fadeInRight">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item scale-with-grid no_border">
                                <div class="image_wrapper radius">
                                    <div class="mask"></div><img class="scale-with-grid" src="~/assets/PlaneraInterior/images/lights1.png" style="border-radius:10px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section mcb-section _arabic" style="padding-top:50px; padding-bottom:50px">
        <div class="section_wrapper mcb-section-inner">
            <div class="wrap mcb-wrap one valign-top clearfix">
                <div class="mcb-wrap-inner">
                    <div class="column mcb-column one column_column">
                        <div class="column_attr clearfix align_center" style="background-image: url('../../assets/PlaneraInterior/images/home_architect3_about3.png'); background-repeat: no-repeat; background-position: right bottom; padding: 80px 20% 65px; border: 20px solid #1f438f; border-radius: 6px">
                            <h3 style="font-weight: 300" data-translate="0yh01">Your home should tell the story of who you are, and be a collection of what you love.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        jQuery('#servicespage').css("background","rgba(238 ,238 ,238 ,0.4)");
    })
</script>