
@{
    Layout = "~/Views/Shared/_LayoutInterior.cshtml";
    //Layout = null;
}
<div class="sections_group">
    <div class="entry-content" style="background-color:black;">
        <div class="section full-width center dark flv_sections_53" style="        background-image: url(../../assets/ImagesPlaneraInterior/services-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;" data-stellar-background-ratio="0.5">
            <div class="section_wrapper clearfix">
                <div class="items_group clearfix"></div>
                <h2 class="mobView" style="opacity: 0.5;    font-size: 83.5px;    font-weight: bold;    font-style: normal;    color: rgba(255, 255, 255, 0.5);">
                    Services
                </h2>
            </div>
        </div>
        <div class="section mcb-section equal-height-wrap" style="padding-top:120px" id="generaltrade">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one-second valign-middle clearfix animate" data-anim-type="fadeInLeft">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item scale-with-grid no_border">
                                <div class="image_wrapper radius">
                                    <a href="#">
                                        <div class="mask"></div><img class="scale-with-grid" src="~/assets/ImagesPlaneraInterior/intservice2.png" >

                                    </a>
                                    <div class="image_links">
                                        <a href="#" class="link"><i class="icon-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap mcb-wrap one-second valign-middle clearfix animate" data-anim-type="fadeInRight" style="padding:0 0 0 7%">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix">
                                
                                <img src="~/assets/ImagesPlaneraInterior/intsmall2.png" style="width:102px;height:99px;" />
                                <h3 style="color:white;">Interior Design </h3>
                                <hr class="no_line" style="margin:0 auto 5px">
                                <p style="color:white;">
                                    Designing and reshaping the architectural elements of the outside-facing components of your building. We offer services for physical structures as well as personal and artistic designs such as paint color, roof shape and material, decks, patios, gardens, and more.
                                </p>

                                <hr class="no_line" style="margin:0 auto 15px">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section mcb-section equal-height-wrap" style="padding-top:80px">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one-second valign-middle clearfix animate" data-anim-type="fadeInLeft" style="padding:0 7% 0 0">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix">
                                <img src="~/assets/ImagesPlaneraInterior/ext.png" style="width:102px;height:99px;" />
                                <h3 style="color:white;">Exterior Design</h3>
                                <hr class="no_line" style="margin:0 auto 5px">
                                <p style="color:white;">
                                    Transform through art and science and enhance the interior to achieve an aesthetically pleasing environment for the people using the space.
                                    Designing and reshaping the architectural elements of the outside-facing components of your building.
                                </p>

                                <hr class="no_line" style="margin:0 auto 15px">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap mcb-wrap one-second valign-middle clearfix  animate" data-anim-type="fadeInRight">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item scale-with-grid no_border">
                                <div class="image_wrapper radius">
                                    <a href="#">
                                        <div class="mask"></div><img class="scale-with-grid" src="~/assets/ImagesPlaneraInterior/exterior.png" style="border-radius:10px;">

                                    </a>
                                    <div class="image_links">
                                        <a href="#" class="link"><i class="icon-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section mcb-section equal-height-wrap" style="padding-top:80px">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one-second valign-middle clearfix animate" data-anim-type="fadeInLeft">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item scale-with-grid no_border">
                                <div class="image_wrapper radius">
                                    <a href="#">
                                        <div class="mask"></div><img class="scale-with-grid" src="~/assets/ImagesPlaneraInterior/landscape1.png"style="border-radius:10px;">

                                    </a>
                                    <div class="image_links">
                                        <a href="#" class="link"><i class="icon-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap mcb-wrap one-second valign-middle clearfix animate" data-anim-type="fadeInRight" style="padding:0 0 0 7%">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix">
                                <img src="~/assets/ImagesPlaneraInterior/landscape.png" style="width:102px;height:99px;" />
                                <h3 style="color:white;">Landscape Design</h3>
                                <hr class="no_line" style="margin:0 auto 5px">
                                <p style="color:white;">
                                    Create fascinating designs and artwork to promote culture and tradition and combine them with nature. Our contemporary concepts make a bridge between your aimed architecture and your garden design
                                </p>

                                <hr class="no_line" style="margin:0 auto 15px">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section mcb-section equal-height-wrap" style="padding-top:80px;padding-bottom:80px">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one-second valign-middle clearfix  animate" data-anim-type="fadeInLeft" style="padding:0 7% 0 0">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix">
                                
                                <img src="~/assets/ImagesPlaneraInterior/consulting.png" style="width:102px;height:99px;" />
                                <h3 style="color:white;">Consulting Conceptual Space & Design</h3>
                                <hr class="no_line" style="margin:0 auto 5px">
                                <p style="color:white;">
                                    Our Creative team provides exclusive furniture and lighting designs which will impact and enhance the ambiance as per the client’s needs and desires.
                                    We offer services for physical structures as well as personal and artistic designs such as paint color, roof shape and material, decks, patios, gardens, and more.
                                </p>

                                <hr class="no_line" style="margin:0 auto 15px">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap mcb-wrap one-second valign-middle clearfix animate" data-anim-type="fadeInRight">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item scale-with-grid no_border">
                                <div class="image_wrapper radius">
                                    <a href="#">
                                        <div class="mask"></div><img class="scale-with-grid" src="~/assets/ImagesPlaneraInterior/consult133.png"style="border-radius:10px;">

                                    </a>
                                    <div class="image_links">
                                        <a href="#" class="link"><i class="icon-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section mcb-section equal-height-wrap" style="padding-top:20px;padding-bottom:80px;">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one-second valign-middle clearfix animate" data-anim-type="fadeInLeft">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item scale-with-grid no_border">
                                <div class="image_wrapper radius">
                                    <a href="#">
                                        <div class="mask"></div><img class="scale-with-grid" src="~/assets/ImagesPlaneraInterior/supervising1.png"style="border-radius:10px;">

                                    </a>
                                    <div class="image_links">
                                        <a href="#" class="link"><i class="icon-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap mcb-wrap one-second valign-middle clearfix animate" data-anim-type="fadeInRight" style="padding:0 0 0 7%">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix">
                                <img src="~/assets/ImagesPlaneraInterior/supervising.png" style="width:102px;height:99px;" />
                                <h3 style="color:white;">Supervising Site Execution</h3>
                                <hr class="no_line" style="margin:0 auto 5px">
                                <p style="color:white;">
                                    Offer digital art services to make animations, photographs, illustrations, videos, and digital paintings to look your place different
                                </p>

                                <hr class="no_line" style="margin:0 auto 15px">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section mcb-section equal-height-wrap" style="padding-top:80px;padding-bottom:80px">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one-second valign-middle clearfix  animate" data-anim-type="fadeInLeft" style="padding:0 7% 0 0">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix">
                                <img src="~/assets/ImagesPlaneraInterior/lights.png" style="width:102px;height:99px;" />
                                <h3 style="color:white;">
                                    Furniture & Lights Selection
                                </h3>
                                <hr class="no_line" style="margin:0 auto 5px">
                                <p style="color:white;">
                                    Our Creative team provides exclusive furniture and lighting designs which will impact and enhance the ambiance as per the client’s needs and desires.
                                </p>

                                <hr class="no_line" style="margin:0 auto 15px">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap mcb-wrap one-second valign-middle clearfix animate" data-anim-type="fadeInRight">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item scale-with-grid no_border">
                                <div class="image_wrapper radius">
                                    <a href="#">
                                        <div class="mask"></div><img class="scale-with-grid" src="~/assets/ImagesPlaneraInterior/lights1.png"style="border-radius:10px;">

                                    </a>
                                    <div class="image_links">
                                        <a href="#" class="link"><i class="icon-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section mcb-section" style="padding-top:50px; padding-bottom:50px">
        <div class="section_wrapper mcb-section-inner">
            <div class="wrap mcb-wrap one valign-top clearfix">
                <div class="mcb-wrap-inner">
                    <div class="column mcb-column one column_column">
                        <div class="column_attr clearfix align_center" style="background-image: url('../../assets/ImagesPlaneraInterior/home_architect3_about3.png'); background-repeat: no-repeat; background-position: right bottom; padding: 80px 20% 65px; border: 20px solid #1f438f; border-radius: 6px">
                            <h3 style="font-weight: 300">Your home should tell the story of who you are, and be a collection of what you love</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>