@{
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js">
<!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Planera Holding</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/content/cityhall/images/favicon.ico">
    <!-- FONTS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Barlow+Condensed:100,300,400,400italic,500,600,700,700italic'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Barlow:300,400,400italic,500,700,700italic,900'>

    <!-- CSS -->
    <link rel='stylesheet' href='~/assets/css/global.css'>
    <link rel='stylesheet' href='~/assets/content/cityhall/css/structure.css'>
    <link rel='stylesheet' href='~/assets/content/cityhall/css/cityhall.css'>
    <link rel='stylesheet' href='~/assets/content/cityhall/css/custom.css'>
    <!-- Revolution Slider -->
    <link rel="stylesheet" href="~/assets/plugins/rs-plugin-6.custom/css/rs6.css">
    <style>
        .businesses .column {
            margin: 0%;
        }

        .company-box, .company-box2 {
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
            margin: auto;
            right: 0;
        }

        .cb-para {
            color: white;
            line-height: 1;
            padding:0 10px;
        }

        .cb-button {
            background-color: #1f438f !important;
            color: white !important;
            border: 1px solid white !important;
            padding: 5px 0 !important;
        }
        .desc_img .scale-with-grid{
            padding: 15px 10px 10px 10px;
        }

        img {
            transition: transform .7s ease-in-out;
        }



        @@font-face {
            font-family: 'HelveticaNeueLTCom-LtEx';
            src: url('../../assets/fonts/Main/HelveticaNeueLTCom-LtEx.ttf') format('truetype');
        }
    * { font-family: "HelveticaNeueLTCom-LtEx" !important; }

 
    </style>
</head>

<body class="home page template-slider  layout-full-width if-border-hide no-content-padding header-classic header-fw minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-left menu-link-color menuo-right menuo-no-borders mobile-tb-hide mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-sticky">
    <div id="Wrapper">
        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="entry-content">
                        <div class="section mcb-section equal-height-wrap full-width">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap one-third button-round valign-middle clearfix " style="padding:25px 35px; background-size: cover;background-image:url(../../assets/images/MainPage/bg-side1.jpg)">
                                    <div class="mcb-wrap-inner spin">
                                        <div class="column mcb-column one column_column">
                                            <div class="column_attr clearfix">
                                                <a href="@Url.Action("Home","Home")"><img src="~/assets/images/MainPage/logo-pg.png" /></a>
                                                <h5 style="color: #fff;padding-top:50px;font-size:22px;" > Planera Holding was established in 2019 in the field of construction.</h5>
                                                <hr class="no_line" style="margin:0 auto 10px">
                                                <p style="color: #fff;font-size:22px;">
                                                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursu

                                                </p>
                                                <a class="button button_size_2 button_js" href="/planera/home" style="background-color:#ffffff!important;color:#2e2821;"><span class="button_label">View Site</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap two-third valign-top bg-cover clearfix businesses" style="background-color:#eeeeee;">
                                    <div class="section_wrapper clearfix">
                                        <div class="items_group clearfix">
                                            <div class="column one-third column_zoom_box mb-0">
                                                <div class="zoom_box">
                                                    <a href="/planera/activarbahrain">
                                                        <div class="photo">
                                                            <img class="scale-with-grid" src="~/assets/images/MainPage/bg1.jpg" />
                                                            <img class="company-box" src="~/assets/images/MainPage/activarbh.png" />
                                                        </div>
                                                        <div class="desc" style="background-color: #b58f57;">
                                                            <div class="desc_wrap">
                                                                <div class="desc_img">
                                                                    <img class="scale-with-grid" src="~/assets/images/MainPage/activarbh_H.png">
                                                                </div>
                                                                <p class="cb-para">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursu</p>
                                                                <a class="button button_small cb-button" href="/planera/activarbahrain">
                                                                    <span class="button_label">View More</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="column one-third column_zoom_box mb-0">
                                                <div class="zoom_box">
                                                    <a href="/planera/interior">
                                                        <div class="photo">
                                                            <img class="scale-with-grid" src="~/assets/images/MainPage/bg1.jpg" />
                                                            <img class="company-box" src="~/assets/images/mainpage/planerainterior.png" />
                                                        </div>
                                                        <div class="desc" style="background-color: #1f438f;">
                                                            <div class="desc_wrap">
                                                                <div class="desc_img">
                                                                    <img class="scale-with-grid" src="~/assets/images/mainpage/planerainterior_H.png">
                                                                </div>
                                                                <p class="cb-para">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursu</p>
                                                                <a class="button button_small cb-button" href="/planera/interior">
                                                                    <span class="button_label">View More</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="column one-third column_zoom_box mb-0">
                                                <div class="zoom_box">
                                                    <a href="/hermano/contractor">
                                                        <div class="photo">
                                                            <img class="scale-with-grid" src="~/assets/images/MainPage/bg4.jpg" />
                                                            <img class="company-box" src="~/assets/images/mainpage/hermanocontracting.png" />
                                                        </div>
                                                        <div class="desc" style="background-color: #056b38;">
                                                            <div class="desc_wrap">
                                                                <div class="desc_img">
                                                                    <img class="scale-with-grid" src="~/assets/images/mainpage/hermanocontracting_H.png">
                                                                </div>
                                                                <p class="cb-para">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursu</p>
                                                                <a class="button button_small cb-button" href="/hermano/contractor">
                                                                    <span class="button_label">View More</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="column one-second column_zoom_box mb-0">
                                                <div class="zoom_box">
                                                    <a href="/planera/general-trading">
                                                        <div class="photo">
                                                            <img class="scale-with-grid" src="~/assets/images/MainPage/bg2.jpg" />
                                                            <img class="company-box2" src="~/assets/images/mainpage/planerageneral.png" />
                                                        </div>
                                                        <div class="desc" style="background-color: #1f438f;">
                                                            <div class="desc_wrap">
                                                                <div class="desc_img">
                                                                    <img class="scale-with-grid" src="~/assets/images/mainpage/planerageneral_H.png">
                                                                </div>
                                                                <p class="cb-para">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursu</p>
                                                                <a class="button button_small cb-button" href="/planera/general-trading">
                                                                    <span class="button_label">View More</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="column one-second column_zoom_box mb-0">
                                                <div class="zoom_box">
                                                    <a href="/hermano/repair-maintenance">
                                                        <div class="photo">
                                                            <img class="scale-with-grid" src="~/assets/images/MainPage/bg5.jpg" />
                                                            <img class="company-box2" src="~/assets/images/mainpage/hermanorepair.png" />
                                                        </div>
                                                        <div class="desc" style="background-color: #056b38;">
                                                            <div class="desc_wrap">
                                                                <div class="desc_img">
                                                                    <img class="scale-with-grid" src="~/assets/images/mainpage/hermanorepair_H.png">
                                                                </div>
                                                                <p class="cb-para">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursu</p>
                                                                <a class="button button_small cb-button" href="/hermano/repair-maintenance">
                                                                    <span class="button_label">View More</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="column one-second column_zoom_box mb-0">
                                                <div class="zoom_box">
                                                    <a href="/planera/construction">
                                                        <div class="photo">
                                                            <img class="scale-with-grid" src="~/assets/images/MainPage/bg6.jpg" />
                                                            <img class="company-box2" src="~/assets/images/mainpage/planeraconstruction.png" />
                                                        </div>
                                                        <div class="desc" style="background-color: #1f438f;">
                                                            <div class="desc_wrap">
                                                                <div class="desc_img">
                                                                    <img class="scale-with-grid" src="~/assets/images/mainpage/planeraconstruction_H.png">
                                                                </div>
                                                                <p class="cb-para">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursu</p>
                                                                <a class="button button_small cb-button" href="/planera/construction">
                                                                    <span class="button_label">View More</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="column one-second column_zoom_box mb-0">
                                                <div class="zoom_box">
                                                    <a href="/planera/activardubai">
                                                        <div class="photo">
                                                            <img class="scale-with-grid" src="~/assets/images/MainPage/bg3.jpg" />
                                                            <img class="company-box2" src="~/assets/images/mainpage/activardubai.png" />
                                                        </div>
                                                        <div class="desc" style="background-color: #c92b31;">
                                                            <div class="desc_wrap">
                                                                <div class="desc_img">
                                                                    <img class="scale-with-grid" src="~/assets/images/mainpage/activardubai_H.png">
                                                                </div>
                                                                <p class="cb-para">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursu</p>
                                                                <a class="button button_small cb-button" href="/planera/activardubai">
                                                                    <span class="button_label">View More</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="body_overlay"></div>
    <!-- JS -->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/jquery-migrate-3.3.2.js"></script>
    <script src="~/assets/js/mfn.menu.js"></script>
    <script src="~/assets/js/jquery.plugins.js"></script>
    <script src="~/assets/js/jquery.jplayer.min.js"></script>
    <script src="~/assets/js/animations/animations.js"></script>
    <script src="~/assets/js/translate3d.js"></script>
    <script src="~/assets/js/scripts.js"></script>
    <script src="~/assets/plugins/rs-plugin-6.custom/js/revolution.tools.min.js"></script>
    <script src="~/assets/plugins/rs-plugin-6.custom/js/rs6.min.js"></script>
    <script>
        var revapi1, tpj;
        jQuery(function () {
            tpj = jQuery;
            if (tpj("#rev_slider_1_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_1_1");
            } else {
                revapi1 = tpj("#rev_slider_1_1").show().revolution({
                    sliderLayout: "fullwidth",
                    duration: "1500ms",
                    visibilityLevels: "1240,1024,778,480",
                    gridwidth: 1240,
                    gridheight: 800,
                    spinner: "spinner13",
                    spinnerclr: "#1f438f",
                    editorheight: "800,768,960,720",
                    responsiveLevels: "1240,1024,778,480",
                    disableProgressBar: "on",
                    navigation: {
                        onHoverStop: false
                    },
                    fallbacks: {
                        allowHTML5AutoPlayOnAndroid: true
                    },
                });
            }
        });
    </script>
</body>
</html>