
@{
    //Layout = null;
    Layout = "~/Views/Shared/_Layoutv2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PlaneraCareer</title>

    <!-- careers -->
    <link href="images/favicon.png" rel="icon">



    <!-- CSS -->
    <link rel='stylesheet' href='~/assets/css/global.css'>
    <link rel='stylesheet' href='~/assets/csshome/structure.css'>
    <link rel='stylesheet' href='~/assets/csshome/firm.css'>
    <link rel='stylesheet' href='~/assets/csshome/custom.css'>


    <!--plugin-css-->
    <link href="~/assets/cssplaneracareer/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/cssplaneracareer/plugin.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- template-style-->
    <link href="~/assets/cssplaneracareer/style.css" rel="stylesheet">
    <link href="~/assets/cssplaneracareer/responsive.css" rel="stylesheet">
    <link href="~/assets/cssplaneracareer/darkmode.css" rel="stylesheet">

    <style>
        .accordion .acc-icon:after {
            font-family: "Font Awesome 5 Free";
            content: "\f068";
            font-weight: bold;
            position: absolute;
            font-size: 14px;
            right: 5px;
            top: 5px;
            color: #050748;
            text-align: right;
        }
        .highlight-left:after, .highlight-right:after {
            background: #0F3584 !important;
        }
    </style>
</head>
<body class="home layout-full-width nice-scroll-on mobile-tb-left button-flat no-content-padding no-table-hover header-stack header-center minimalist-header-no sticky-header sticky-white ab-hide subheader-both-center menu-line-below-80-1 menuo-no-borders footer-copy-center tr-header tr-menu tr-content">
    @*<div id="Wrapper">*@

    <!--<div id="Header_wrapper">-->
    <!-- Header -->
    <!--<header id="Header">-->
    <!-- Header -  Logo and Menu area -->
    <!--<div id="Top_bar">
        <div class="container">
            <div class="column one">
                <div class="top_bar_left clearfix">-->
    <!-- Logo-->
    <!--<div class="logo">
        <a id="logo" href="/planera/home" title="logo">
            <img class="logo-main scale-with-grid" src="~/assets/ImagesHome/logo-pg.png" />
            <img class="logo-sticky scale-with-grid" src="~/assets/ImagesHome/logo-pg.png">
            <img class="logo-mobile scale-with-grid" src="~/assets/ImagesHome/logo-pg.png">
        </a>
    </div>-->
    <!-- Main menu-->
    <!--<div class="menu_wrapper">
        <nav id="menu" class="menu-main-menu-container">
            <ul id="menu-main-menu" class="menu">
                <li class="current_page_item">
                    <a href="#"><span>Company Overview</span></a>
                </li>

                <li>
                    <a href="#"><span style="color:white;">Our Businesses</span></a>
                    <ul class="sub-menu">
                        <li>
                            <a href="/home/homev2" target="_blank"><span>Home Version 2</span></a>
                        </li>
                        <li>
                            <a href="/planera/activarbahrain" target="_blank"><span>Activar Bahrain</span></a>
                        </li>
                        <li>
                            <a href="/planera/interior" target="_blank"><span>Planera Interior</span></a>
                        </li>
                        <li>
                            <a href="/hermano/contractor" target="_blank"><span>Hermano Contracting & Landsoaping</span></a>
                        </li>
                        <li>
                            <a href="/planera/general-trading" target="_blank"><span>Planera Trading</span></a>
                        </li>
                        <li>
                            <a href="/hermano/repair-maintenance" target="_blank"><span>Hermano Repair & Maintenance</span></a>
                        </li>
                        <li>
                            <a href="/planera/construction" target="_blank"><span>Planera Construction</span></a>
                        </li>
                        <li>
                            <a href="/planera/activardubai" target="_blank"><span>Activar Dubai</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span style="color:white;">News &#038; Event</span></a>
                </li>
                <li>
                    <a href="/planera/career"><span style="color:white;">Careers</span></a>
                </li>
                <li>
                    <a href="/planera/contact"><span style="color:white;">Get in Touch</span></a>
                </li>

            </ul>
        </nav>
        <a class="responsive-menu-toggle" href="#"><i class="icon-menu"></i></a>
    </div>-->
    <!-- Secondary menu area - only for certain pages -->
    <!--<div class="secondary_menu_wrapper"></div>-->
    <!-- Banner area - only for certain pages-->
    <!--<div class="banner_wrapper"></div>-->
    <!-- Header Searchform area-->
    <!--<div class="search_wrapper">
                                <form method="get">
                                    <i class="icon_search icon-search"></i><a href="#" class="icon_close"><i class="icon-cancel"></i></a>
                                    <input type="text" class="field" name="s" id="s" placeholder="Enter your search" />
                                    <input type="submit" class="submit" value="" style="display:none;" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>-->
    <!--Mobile contact-->
    <div class="popup-modal1">
        <div class="modal" id="menu-popup">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="common-heading">
                            <h4 class="mt0 mb0">Write a Message</h4>
                        </div>
                        <button type="button" class="closes" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-block fdgn2 mt10 mb10">
                            <form action="#" method="post" name="feedback-form">
                                <div class="fieldsets row">
                                    <div class="col-md-12"><input type="text" placeholder="Full Name" name="name"></div>
                                    <div class="col-md-12"><input type="email" placeholder="Email Address" name="email"></div>
                                    <div class="col-md-12"><input type="number" placeholder="Contact Number" name="phone"></div>
                                    <div class="col-md-12"><input type="text" placeholder="Subject" name="subject"></div>
                                    <div class="col-md-12"><textarea placeholder="Message" name="message"></textarea></div>
                                </div>
                                <div class="fieldsets mt20 pb20">
                                    <button type="submit" name="submit" class="lnk btn-main bg-btn" data-dismiss="modal">Submit <i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Mobile contact-->
    <!--End Header -->
    <!--Breadcrumb Area-->
    <section class="breadcrumb-area banner-6">
        <div class="text-block" style="padding-top:270px; background-color:none;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 v-center">
                        <div class="bread-inner">

                            <div class="bread-title wow animate fadeIn" data-wow-delay="1s">
                                @*<h1 style="color:white;">Job Openings</h1>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Breadcrumb Area-->
    <!--Start About-->
    <section class="about-agencys pad-tb block-1 bg-gradient5" style=" padding-top: 70px; padding-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="common-heading text-l animate fadeInDown delay-1s">
                        <h2 class="mb20  text-center" style="color:#1f438f;">Perks To Work With Planera</h2>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End About-->
    <!--Start Why Choose-->
    <section class="service-block pad-tb " style="padding-top:20px;padding-bottom:50px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="common-heading ptag">

                        <p class="mb30">Donec metus lorem, vulputate at sapien sit amet, auctor iaculis lorem. In vel hendrerit nisi. Vestibulum eget risus velit.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 mt30  wow fadeIn" data-wow-delay=".5s">
                    <div class="s-block wide-sblock">
                        <div class="s-card-icon"><img src="~/assets/ImagesPlaneraCareer/teama.svg" alt="service" class="img-fluid"></div>
                        <div class="s-block-content">
                            <h4>Reliable Service. In House Team</h4>
                            <p>In vel hendrerit nisi. Vestibulum eget risus velit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt30 wow fadeIn" data-wow-delay="1s">
                    <div class="s-block wide-sblock">
                        <div class="s-card-icon"><img src="~/assets/ImagesPlaneraCareer/link.svg" alt="service" class="img-fluid"></div>
                        <div class="s-block-content">
                            <h4>Trusted by People Like You</h4>
                            <p>In vel hendrerit nisi. Vestibulum eget risus velit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt30 wow fadeIn" data-wow-delay="1.7s">
                    <div class="s-block wide-sblock">
                        <div class="s-card-icon"><img src="~/assets/ImagesPlaneraCareer/tech.svg" alt="service" class="img-fluid"></div>
                        <div class="s-block-content">
                            <h4>Complete Technical Competency</h4>
                            <p>In vel hendrerit nisi. Vestibulum eget risus velit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt30 wow fadeIn" data-wow-delay="2s">
                    <div class="s-block wide-sblock">
                        <div class="s-card-icon"><img src="~/assets/ImagesPlaneraCareer/hi.svg" alt="service" class="img-fluid"></div>
                        <div class="s-block-content">
                            <h4>Friendly & Cordial in Nature</h4>
                            <p>In vel hendrerit nisi. Vestibulum eget risus velit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt30 animate wow fadeIn" data-wow-delay=".5s">
                    <div class="s-block wide-sblock">
                        <div class="s-card-icon"><img src="~/assets/ImagesPlaneraCareer/badge.svg" alt="service" class="img-fluid"></div>
                        <div class="s-block-content">
                            <h4>Excellent Quality Delivered on Time</h4>
                            <p>In vel hendrerit nisi. Vestibulum eget risus velit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt30 wow fadeIn" data-wow-delay="1.7s">
                    <div class="s-block wide-sblock">
                        <div class="s-card-icon"><img src="~/assets/ImagesPlaneraCareer/tin.svg" alt="service" class="img-fluid"></div>
                        <div class="s-block-content">
                            <h4>Effective & Continuous Communication</h4>
                            <p>In vel hendrerit nisi. Vestibulum eget risus velit.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--End Why Choose-->
    <!--Start Enquire Form-->
    <section class="contact-page pad-tb" style="padding-top:50px;" id="jobs">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="common-heading ptag">

                        <h2>Current Openings</h2>
                        <p class="mb60">08 Sep 2020 Latest Jobs</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="career-card-div">
                        <div id="accordion" class="accordion">
                            <div class="card-2">
                                <div class="card-header" id="acc1">
                                    <button class="btn btn-link btn-block text-left acc-icon" type="button" data-toggle="collapse" data-target="#collapse-a" aria-expanded="true" aria-controls="collapse-a">
                                        Web & Visual Designer - 2 Post
                                    </button>
                                </div>
                                <div id="collapse-a" class="card-body collapse show p0" aria-labelledby="acc1" data-parent="#accordion">
                                    <div class="data-reqs">
                                        <h5 class="pt20 pb20">Overview</h5>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                        <h5 class="pt20 pb20">Required experience</h5>
                                        <p>5 Years Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                        <h4 class="pb20 pt20">Skills Required:</h4>
                                        <ul class="list-ul ul-check">
                                            <li>Deep familiarity with Core PHP and Laravel</li>
                                            <li>Experience of Ajax &amp; Jquery</li>
                                            <li>Good understanding of JSON &amp; third-party libraries and APIs</li>
                                            <li>Should be able to understand entire development life cycle concept. (Design, build, deploy, test, deploy online &amp; support)</li>
                                            <li>Strong knowledge in Web Services &amp; API's, LBS, Social Network Integration etc.</li>
                                            <li>Strong knowledge in database (Mysql)</li>
                                            <li>Good Knowledge in Google APIs</li>
                                            <li>Good understanding of MVC concepts and design patterns</li>
                                            <li>Strong object oriented programming and design skills</li>
                                            <li>Knowledge in versioning Tools that includes like trunk, branch, export, import and copy will be an added advantage</li>
                                        </ul>
                                        <a href="#" style="background-color: #1f438f !important;border-radius:0px;font-size:23px;" class="btn-main mt20" data-toggle="modal" data-target="#modalform"><b>Apply Now</b></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-2 mt30">
                                <div class="card-header" id="acc2">
                                    <button class="btn btn-link btn-block text-left acc-icon collapsed" type="button" data-toggle="collapse" data-target="#collapse-b" aria-expanded="true" aria-controls="collapse-a">
                                        Head of UX and Design - 3 Post
                                    </button>
                                </div>
                                <div id="collapse-b" class="card-body collapse p0" aria-labelledby="acc2" data-parent="#accordion">
                                    <div class="data-reqs">
                                        <h5 class="pt20 pb20">Overview</h5>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                        <h5 class="pt20 pb20">Required experience</h5>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                        <h4 class="pb20 pt20">Skills Required:</h4>
                                        <ul class="list-ul ul-check">
                                            <li>Deep familiarity with Core PHP and Laravel</li>
                                            <li>Experience of Ajax &amp; Jquery</li>
                                            <li>Good understanding of JSON &amp; third-party libraries and APIs</li>
                                            <li>Should be able to understand entire development life cycle concept. (Design, build, deploy, test, deploy online &amp; support)</li>
                                            <li>Strong knowledge in Web Services &amp; API's, LBS, Social Network Integration etc.</li>
                                            <li>Strong knowledge in database (Mysql)</li>
                                            <li>Good Knowledge in Google APIs</li>
                                            <li>Good understanding of MVC concepts and design patterns</li>
                                            <li>Strong object oriented programming and design skills</li>
                                            <li>Knowledge in versioning Tools that includes like trunk, branch, export, import and copy will be an added advantage</li>
                                        </ul>
                                        <a href="#" style="background-color: #1f438f !important;border-radius:0px;font-size:23px;" class="btn-main mt20" data-toggle="modal" data-target="#modalform"><b>Apply Now</b></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Enquire Form-->
    <div class="popup-modals">
        <div class="modal" id="modalform">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="common-heading">
                            <h4 class="mt0 mb0">Apply Now</h4>
                        </div>
                        <button type="button" class="closes" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body pt40 pb60">
                        <div class="form-block fdgn2">
                            <form id="contact-form" method="post" action="#">
                                <div class="fieldsets row">
                                    <div class="col-md-6 form-group"><input id="form_name" type="text" name="name" placeholder="Enter your name *" required="required"> </div>
                                    <div class="col-md-6 form-group"><input id="form_email" type="email" name="email" placeholder="Enter your email *" required="required"> </div>
                                </div>
                                <div class="fieldsets row">
                                    <div class="col-md-6 form-group"><input id="form_phone" type="text" name="phone" placeholder="Enter your Phone No *" required="required">	</div>
                                    <div class="col-md-6 form-group">
                                        <select id="form_need" name="need" required="required">
                                            <option value="">Select Post</option>
                                            <option value="Graphic Design">Graphic Design</option>
                                            <option value="Web Design">Web Design</option>
                                            <option value="App Design">App Design</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="fieldsets form-group"> <textarea id="form_message" name="message" placeholder="Message *" rows="4" required="required"></textarea> </div>
                                <div class="fieldsets- row">
                                    <div class="col-md-12 form-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input mb0" id="customFile">
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                        </div>
                                        <p><small>Please upload maximum 5 files Only pdf, docx and doc files.</small></p>
                                    </div>
                                </div>
                                <div class="fieldsets mt20">
                                    <button type="submit" class="lnk btn-main bg-btn">Submit Application<span class="circle"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section mcb-section highlight-right equal-height-wrap" style="padding-top:70px; padding-bottom:50px; background-color:#0F3584 !important;" data-parallax="3d">

        <img class="mfn-parallax" src="~/assets/HomeV2/images/home-bg.png" style="opacity:0">
        <div class="section_wrapper mcb-section-inner">
            <div class="wrap mcb-wrap one-sixth  valign-top clearfix">
                <div class="mcb-wrap-inner">
                    <div class="column mcb-column one column_placeholder">
                        <div class="placeholder">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap mcb-wrap two-fifth valign-middle clearfix animate delay-2s" data-anim-type="fadeIn">
                <div class="mcb-wrap-inner">
                    <div class="column mcb-column five-sixth column_contact_box">
                        <div class="get_in_touch" style="background-color:white;">
                            <h3 style="color:#1a3f8c !important;">CONTACT US</h3>
                            <div class="get_in_touch_wrapper">
                                <ul>
                                    <li class="address">
                                        <span class="icon"><i class="icon-location"></i></span><span class="address_wrapper" style="color: #1a3f8c;">
                                            Mandarine business center
                                            <br>
                                            Alseef district (Bahrain)
                                        </span>
                                    </li>
                                    <li class="phone phone-1">
                                        <span class="icon"><i class="icon-phone"></i></span>

                                        <p>
                                            <a href="tel:+97317004006" style="color:#1a3f8c !important;">+973 17004006 | +973 37750033</a>
                                        </p>

                                    </li>
                                    <li class="mail">
                                        <span class="icon"><i class="icon-mail"></i></span>
                                        <p style="color: #1a3f8c;">
                                            <a href="mailto:info@planerabh.com" style="color:#1a3f8c !important;"><span>info@planerabh.com</span></a>
                                        </p>
                                    </li>
                                    <li class="www">
                                        <span class="icon"><i class="icon-link"></i></span>
                                        <p style="color: #1a3f8c !important;">
                                            <a target="_blank" href="http://www.planerabh.com/" style="color:#1a3f8c !important;">www.planerabh.com</a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap mcb-wrap two-fifth valign-middle clearfix">
                <div class="mcb-wrap-inner">
                    <div class="column mcb-column one column_column">
                        <div class="column_attr clearfix" style="padding:30px 40px 30px 30px;">
                            <h2 style="color:white; font-family:Cinzel;">
                                OUR SOCIAL <br />LINKS
                            </h2>
                            <hr class="no_line" style="margin: 0 auto 10px">
                            <h5 style="color:#9d9da8;">
                                We  offers multiple services to its clients due to its wide range of companies
                                and brands it houses
                            </h5>
                            <div class="column_attr clearfix">
                                <p style="font-size: 28px; line-height: 40px">
                                    <a href="#">
                                        <i class="icon-facebook" style="color:white;"></i>
                                    </a>
                                    <a href="#">
                                        <i class="icon-twitter" style="color:white;"></i>
                                    </a>
                                    <a href="#">
                                        <i class="icon-instagram" style="color:white"></i>
                                    </a>
                                    <a href="#">
                                        <i class="icon-youtube" style="color:white"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section mcb-section full-width no-margin-h" id="contact" style="padding-top:0px; padding-bottom:0px; background-color:#0F3584">
        <div class="section_wrapper mcb-section-inner">
            <div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:60px 5% 30px 5%">
                <div class="mcb-wrap-inner">
                    <div class="column mcb-column one column_column">
                        <div class="column_attr clearfix animate" data-anim-type="fadeInLeft">
                            <h3 style="color:White; font-family:Cinzel">SEND A MESSAGE</h3>
                            <div id="contactWrapper">
                                <form id="contactform">
                                    <!-- One Second (1/2) Column -->
                                    <div class="column one-second">
                                        <input placeholder="Your name" type="text" name="name" id="name" size="40" aria-required="true" aria-invalid="false" style="color:white !important;" required />
                                    </div>
                                    <!-- One Second (1/2) Column -->
                                    <div class="column one-second">
                                        <input placeholder="Your e-mail" type="email" name="email" id="email" size="40" aria-required="true" aria-invalid="false" style="color: white !important;" required />
                                    </div>
                                    <div class="column one">
                                        <input placeholder="Subject" type="text" name="subject" id="subject" size="40" aria-invalid="false" style="color: white !important;" required />
                                    </div>
                                    <div class="column one">
                                        <textarea placeholder="Message" name="Message" id="message" style="width:100%; color:white;" rows="10" aria-invalid="false" required></textarea>
                                    </div>
                                    <div class="column one">
                                        <input type="button" value="Send A Message" id="submit" onclick="SendEmail();">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap mcb-wrap one-second valign-top clearfix">
                <div class="mcb-wrap-inner">
                    <div class="column mcb-column one column_map">
                        <img src="~/assets/ImagesPlaneraCareer/careers-img.png" />

                    </div>
                </div>
            </div>
        </div>
    </div>

    @*</div>*@


    <script src="~/assets/js/jsplaneracareer/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/assets/js/jsplaneracareer/jquery.min.js"></script>
    <script src="~/assets/js/jsplaneracareer/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jsplaneracareer/plugin.min.js"></script>
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/jquery-migrate-3.3.2.js"></script>

    <script src="~/assets/js/mfn.menu.js"></script>
    <script src="~/assets/js/jquery.plugins.js"></script>
    <script src="~/assets/js/jquery.jplayer.min.js"></script>
    <script src="~/assets/js/animations/animations.js"></script>
    <script src="~/assets/js/translate3d.js"></script>
    <script src="~/assets/js/scripts.js"></script>

    <script>
        jQuery(window).on('load', function () {
            var retina = window.devicePixelRatio > 1 ? true : false;
            if (retina) {
                var retinaEl = jQuery("#logo img.logo-main");
                var retinaLogoW = retinaEl.width();
                var retinaLogoH = retinaEl.height();
                retinaEl.attr("src", "../../assets/ImagesHome/logo-pg.png").width(retinaLogoW).height(retinaLogoH);
                var stickyEl = jQuery("#logo img.logo-sticky");
                var stickyLogoW = stickyEl.width();
                var stickyLogoH = stickyEl.height();
                stickyEl.attr("src", "../../assets/ImagesHome/logo-pg.png").width(stickyLogoW).height(stickyLogoH);
                var mobileEl = jQuery("#logo img.logo-mobile");
                var mobileLogoW = mobileEl.width();
                var mobileLogoH = mobileEl.height();
                mobileEl.attr("src", "../../assets/ImagesHome/logo-pg.png").width(mobileLogoW).height(mobileLogoH);
            }
        });


        //careers
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
                                                    //careers
    </script>
</body>
</html>
