@{
    ViewBag.Title = "PlaneraCareer";
    Layout = "~/Views/Shared/_Layoutv2.cshtml";
}
<link href="~/assets/Planeragroup/css/bootstrap.min.css" rel="stylesheet">
<link href="~/assets/Planeragroup/css/style.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
<style>
    #contactform .column input, #contactform .column textarea {
        border-color: black;
    }

    .column input, textarea {
        background-color: white;
    }

    .s-card-icon {
        margin-bottom: 0px !important;
    }

    .s-block-content h4 {
        font-size: 18px !important;
    }

    h1, h2, h3, h4, h5 {
        font-family: "Cinzel" !important;
    }

    /*@@font-face {
        font-family: 'Montserrat-Regular';
        src: url('../../assets/Planeragroup/css/fonts.css') format('truetype');
    }*/

    p {
        font-family: "Montserrat", Arial, Tahoma, sans-serif;
    }

   
</style>
<!--Breadcrumb Area-->
<section class="breadcrumb-area banner-6" style="padding: 420px 0px 90px 0px;">
    <div class="text-block" style="padding-top:270px; background-color:none;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 v-center">
                    <div class="bread-inner">
                        <div class="bread-title wow animate fadeIn" data-wow-delay="1s">
                            @*<h1 style="color:white;">Job Openings</h1>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Breadcrumb Area-->
<!--Start About-->
<section class="about-agencys pad-tb block-1 bg-gradient5" style=" padding-top: 70px; padding-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="common-heading text-l animate fadeInDown delay-1s">
                    <h2 class="mb20  text-center" style="color:#1f438f;font-family:Cinzel" data-translate="0ptw01">Perks To Work With Planera</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About-->
<!--Start Why Choose-->
<section class="service-block pad-tb " style="padding-top:20px;padding-bottom:50px;background: white;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 mt30  wow fadeIn" data-wow-delay=".5s">
                <div class="s-block wide-sblock _arabic _arwidth">
                    <div class="s-card-icon"><img src="~/assets/Planeragroup/images/teama.svg" alt="service" class="img-fluid"></div>
                    <div class="s-block-content">
                        <h4 data-translate="0ohs01">One Hub Solution and One Point of Contact</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt30 wow fadeIn" data-wow-delay="1s">
                <div class="s-block wide-sblock _arabic _arwidth">
                    <div class="s-card-icon"><img src="~/assets/Planeragroup/images/link.svg" alt="service" class="img-fluid"></div>
                    <div class="s-block-content">
                        <h4 data-translate="0ms01">More Satisfied work with Less Coordination</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt30 wow fadeIn" data-wow-delay="1.7s">
                <div class="s-block wide-sblock _arabic _arwidth">
                    <div class="s-card-icon"><img src="~/assets/Planeragroup/images/tech.svg" alt="service" class="img-fluid"></div>
                    <div class="s-block-content">
                        <h4 data-translate="0kp01">Keep Up with Competitors with technical competency</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt30 wow fadeIn" data-wow-delay="2s">
                <div class="s-block wide-sblock _arabic _arwidth">
                    <div class="s-card-icon"><img src="~/assets/Planeragroup/images/hi.svg" alt="service" class="img-fluid"></div>
                    <div class="s-block-content">
                        <h4 data-translate="0tt01">Trained and Transformed</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt30 animate wow fadeIn" data-wow-delay=".5s">
                <div class="s-block wide-sblock _arabic _arwidth">
                    <div class="s-card-icon"><img src="~/assets/Planeragroup/images/badge.svg" alt="service" class="img-fluid"></div>
                    <div class="s-block-content">
                        <h4 data-translate="0wp01">Well Planned and properly executed</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt30 wow fadeIn" data-wow-delay="1.7s">
                <div class="s-block wide-sblock _arabic _arwidth">
                    <div class="s-card-icon"><img src="~/assets/Planeragroup/images/tin.svg" alt="service" class="img-fluid"></div>
                    <div class="s-block-content">
                        <h4 data-translate="0es01">Efficient and Satisfying work</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Why Choose-->
<!--Start Enquire Form-->
<section class="contact-page pad-tb" style="padding-top:50px;" id="jobs">
    <div class="container">
        <div class="row align-items-center _arabic _arabic-text">
            <div class="col-lg-6  ">
                <h2 style="color:#1f438f;font-family:Cinzel;padding-bottom:25px" data-translate="0co01">CURRENT OPENING</h2>
                @*<h4  style="font-family:Montserrat-Regular;padding-bottom:32px">Currently we do not have any open positions, however if you are interested in possible future opportunities</h4>
                    <p>please send your CV to jobs@planerabh.com or upload your resume here. We will be in touch if a role becomes available that matches your skills and experiences.</p>*@
                <p class="padding-left padding-right" data-translate="0em01" style="text-align: justify; font-family: Montserrat;padding-bottom:25px; padding-right: 25px; font-size: 18px;">Please send your CV to <a href="mailto:jobs@planerabh.com" style="text-decoration:underline;">jobs@planerabh.com</a> or upload your resume here. We will be in touch if a role becomes available that matches your skills and experiences.</p>
            </div>
            <div class="col-lg-6">
                <h3 class="pt20 _arabic" data-translate="0syr01">Submit Your Resume</h3>
                <div class="column_attr" style="margin-top:25px">
                    <div id="contactWrapper">
                        <form id="contactform">
                            <!-- One Third (1/3) Column -->
                            <div class="column one-second">
                                <label style="font-family: Montserrat" data-translate="0fc09">Name:</label><span>
                                    <input type="text" name="name" id="name" size="40" aria-required="true" aria-invalid="false" />
                                </span>
                            </div>
                            <!-- One Third (1/3) Column -->
                            <div class="column one-second">
                                <label style="font-family: Montserrat" data-translate="000co20">E-mail address:</label><span>
                                    <input type="email" name="email" id="email" size="40" aria-required="true" aria-invalid="false" />
                                </span>
                            </div>
                            <div class="column one">
                                <label style="font-family: Montserrat" data-translate="0uyr01">Upload Your Resume:</label>
                                <input style="padding: 1px;" class="form-control form-control-sm" id="formFileSm" type="file" placeholder="upload your resume">
                            </div>
                            <div class="column one">
                                <label style="font-family: Montserrat" data-translate="0fc013">Message:</label><span>
                                    <textarea name="body" id="message" class="flv_style_38" rows="10" aria-invalid="false"></textarea>
                                </span>
                            </div>
                            <div class="column one">
                                @*<input type="button" value="Submit" id="submit" onClick="SendEmail();" style="border: solid 1px #fff; background-color: #c07757; color: #fff;; width: 160px; margin: 0;">*@
                                <button id="submit" onClick="SendEmail();" style="border: solid 1px #fff; background-color: #c07757; color: #fff;; width: 160px; margin: 0;" data-translate="000co30">SUBMIT</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Enquire Form-->
<div class="section mcb-section highlight-right equal-height-wrap" style="padding-top:70px; padding-bottom:50px; background-color:#0F3584" data-parallax="3d">
    <img class="mfn-parallax" src="~/assets/Planeragroup/images/home-bg.png" style="opacity:0">
    <div class="section_wrapper mcb-section-inner">
        <div class="wrap mcb-wrap one-sixth  valign-top clearfix">
            <div class="mcb-wrap-inner">
                <div class="column mcb-column one column_placeholder">
                    <div class="placeholder">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap mcb-wrap two-fifth valign-middle clearfix animate delay-2s" data-anim-type="fadeIn">
            <div class="mcb-wrap-inner">
                <div class="column mcb-column five-sixth column_contact_box">
                    <div class="get_in_touch" style="background-color:white;">
                        <h3 style="color:#1a3f8c !important;" data-translate="">CONTACT US</h3>
                        <div class="get_in_touch_wrapper">
                            <ul>
                                <li class="address _arabic _arabic-text">
                                    <span class="icon"><i class="icon-location"></i></span>
                                    <span class="address_wrapper" style="color: #1a3f8c;" data-translate="0md01">
                                        Mandarine Business Center
                                    </span>
                                    <span class="address_wrapper" style="color: #1a3f8c;" data-translate="0ba01">
                                        Alseef District (Bahrain)
                                    </span>
                                </li>
                                <li class="phone phone-1 _arabic _arabic-text">
                                    <span class="icon"><i class="icon-phone"></i></span>
                                    <p>
                                        <a href="tel:+97317004006" style="color:#1a3f8c !important;">+973 17004006</a>
                                    </p>
                                    <p>
                                        <a href="tel:+97337750033" style="color:#1a3f8c !important;">+973 37750033 </a><br />
                                        <a href="tel:+97337750044" style="color:#1a3f8c !important;">+973 37750044</a>
                                    </p>
                                </li>
                                <li class="mail">
                                    <span class="icon"><i class="icon-mail"></i></span>
                                    <p class="_arabic _arabic-text" style="color: #1a3f8c;" >
                                        <a href="mailto:info@planerabh.com" style="color:#1a3f8c !important;"><span>info@planerabh.com</span></a>
                                    </p>
                                </li>
                                <li class="www">
                                    <span class="icon"><i class="icon-link"></i></span>
                                    <p class="_arabic _arabic-text" style="color: #1a3f8c !important;">
                                        <a target="_blank" href="http://www.planerabh.com/" style="color:#1a3f8c !important;">www.planerabh.com</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap mcb-wrap two-fifth valign-middle clearfix">
            <div class="mcb-wrap-inner">
                <div class="column mcb-column one column_column">
                    <div class="column_attr clearfix" style="padding:30px 40px 30px 30px;">
                        <h2 class="_arabic _arabic-text" style="color:white; font-family:Cinzel;" data-translate="0osl01">
                            OUR SOCIAL <br />LINKS
                        </h2>
                        <hr class="no_line" style="margin: 0 auto 10px">
                        <p class="pb20 _arabic-text" style="color:#9d9da8;font-size:22px" data-translate="0cuf01">
                            Connect us for the latest updates and upcoming projects
                        </p>
                        <div class="column_attr clearfix">
                            <p class="_arabic _arabic-text" style="font-size: 28px; line-height: 40px">
                                @*<a href="#">
                                        <i class="icon-facebook" style="color:white;"></i>
                                    </a>
                                    <a href="#">
                                        <i class="icon-twitter" style="color:white;"></i>
                                    </a>*@
                                <a href="https://instagram.com/planera_group?igshid=NmNmNjAwNzg=" target="_blank" style="color:white;font-size:20px">
                                    <i class="icon-instagram" style="color:white"></i> planera_group
                                </a>
                                @*<a href="#">
                                        <i class="icon-youtube" style="color:white"></i>
                                    </a>*@
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function SendEmail() {
        var $ = jQuery;
        if (window.FormData !== undefined) {

            var fileUpload = jQuery("#formFileSm").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            // Adding one more key to FormData object
            fileData.append('Name', jQuery('#name').val());
            fileData.append('Subject', jQuery('#subject').val());
            fileData.append('Email', jQuery('#email').val());
            fileData.append('Message', jQuery('#message').val());
            jQuery.ajax({
                url: '@Url.Action("SendEmailPGCareer", "Email")',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    if (result.Success == true) {
                        //alert("Email Has been Sent")
                        swal({
                            title: "We have received you query, our team will get back to you soon!",
                            //text: "",
                            type: "success"
                        });
                        ClearFields()
                    }
                    else {
                        //alert("Error Occured While Sending an Email")
                        swal({
                            title: "Error !",
                            text: "Error Occured While Sending an Email",
                            type: "error",
                            html: true,
                            showCancelButton: false,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Ok",
                            closeOnConfirm: false,
                        });
                        ClearFields()
                    }
                },
                error: function (err) {
                    swal({
                        title: "Error !",
                        text: "Error Occured While Sending an Email",
                        type: "error",
                        html: true,
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Ok",
                        closeOnConfirm: false,
                    });
                    ClearFields()
                }
            });
        } else {
            alert("FormData is not supported.");
        }


        }
        function ClearFields() {
            jQuery('#name').val('');
            jQuery('#email').val('');
            jQuery('#subject').val('');
            jQuery('#message').val('');
        }
</script>