
@{
    ViewBag.Title = "NewsEvents";
    Layout = "~/Views/Shared/_LayoutInterior.cshtml";
}
<div class="mfn-main-slider" id="mfn-rev-slider">
    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-source="gallery" style="background:#e9e9ea;padding:0px;">
        <div id="rev_slider_1_1" class="rev_slider fullscreenbanner" style="display:none;">
            <ul>
                <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeIn" data-easeout="Power3.easeOut" data-masterspeed="5" data-delay="3500" data-rotate="0" data-saveperformance="off"
                    data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <img src="/assets/ImagesPlaneraInterior/-e-banner1.jpg" data-bgposition="center center" data-kenburns="on" data-duration="5000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="170" data-rotatestart="0" data-rotateend="0" data-blurstart="0"
                         data-blurend="0" data-offsetstart="0 0" data-offsetend="0 -40" data-bgparallax="4" class="rev-slidebg">
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-width="auto" data-height="auto" data-transform_idle="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 60px; line-height: 60px; font-weight: 600; color: rgba(255, 255, 255, 0.5);border-color:rgba(255, 255, 255, 1.00);">
                        <span style="font-size:80px;">We Are Passionate</span>
                    </div>
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 50px; line-height: 60px; font-weight: 300; color: rgba(255, 255, 255, 0.5);border-color:rgba(255, 255, 255, 1.00);">
                        <br /><br /><br /><span> Visual Capabilities </span>
                    </div>
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-4" data-x="left" data-y="bottom" data-voffset="59" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 20px; line-height: 60px;  color: rgba(255, 255, 255, 1.00); border-color:rgba(255, 255, 255, 1.00);">
                        <a href="/interior/project"> See our Projects ></a><br />
                    </div>
                    <div class="tp-caption tp-resizeme" id="slide-1-layer-5" data-x="right" data-hoffset="20" data-y="bottom" data-voffset="53" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-responsive_offset="on" style="z-index: 9;">
                       
                        <a href="https://www.instagram.com/planera.interior/" target="_blank"><img src="~/assets/content/interiorv2/images/interiInsta.png" style="width:50px;height:50px;" /></a>
                    </div>
                </li>
                <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeIn" data-easeout="Power3.easeOut" data-masterspeed="5" data-delay="3500" data-rotate="0" data-saveperformance="off"
                    data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <img src="/assets/ImagesPlaneraInterior/-e-banner2.jpg" data-bgposition="center center" data-kenburns="on" data-duration="5000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="170" data-rotatestart="0" data-rotateend="0" data-blurstart="0"
                         data-blurend="0" data-offsetstart="0 0" data-offsetend="10 20" data-bgparallax="4" class="rev-slidebg">
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-width="auto" data-height="auto" data-transform_idle="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 60px; line-height: 60px; font-weight: 600; color: rgba(255, 255, 255, 0.5);border-color:rgba(255, 255, 255, 1.00);">
                        <span style="font-size:80px;">Our Executions</span>
                    </div>
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 50px; line-height: 60px; font-weight: 300; color: rgba(255, 255, 255, 0.5);border-color:rgba(255, 255, 255, 1.00);">
                        <br /><br /><br /><span> Make A Difference </span>
                    </div>
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-4" data-x="left" data-y="bottom" data-voffset="59" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 20px; line-height: 60px;  color: rgba(255, 255, 255, 1.00); border-color:rgba(255, 255, 255, 1.00);">
                        <a href="/interior/project"> See our Projects ></a><br />
                    </div>
                    <div class="tp-caption tp-resizeme" id="slide-1-layer-5" data-x="right" data-hoffset="20" data-y="bottom" data-voffset="53" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-responsive_offset="on" style="z-index: 9;">
                        
                        <a href="https://www.instagram.com/planera.interior/" target="_blank"><img src="~/assets/content/interiorv2/images/interiInsta.png" style="width:50px;height:50px;" /></a>
                    </div>
                </li>
                <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeIn" data-easeout="Power3.easeOut" data-masterspeed="5" data-delay="3500" data-rotate="0" data-saveperformance="off"
                    data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <img src="/assets/ImagesPlaneraInterior/-e-banner3.jpg" data-bgposition="center center" data-kenburns="on" data-duration="5000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="170" data-rotatestart="0" data-rotateend="0" data-blurstart="0"
                         data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="4" class="rev-slidebg">
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-width="auto" data-height="auto" data-transform_idle="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 60px; line-height: 60px; font-weight: 600; color: rgba(255, 255, 255, 0.5);border-color:rgba(255, 255, 255, 1.00);">
                        <span style="font-size:80px;">We Dont Renovate</span>
                    </div>
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 50px; line-height: 60px; font-weight: 300; color: rgba(255, 255, 255, 0.5);border-color:rgba(255, 255, 255, 1.00);">
                        <br /><br /><br /><span> We Transform </span>
                    </div>
                    
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-4" data-x="left" data-y="bottom" data-voffset="59" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 20px; line-height: 60px;  color: rgba(255, 255, 255, 1.00); border-color:rgba(255, 255, 255, 1.00);">
                        <a href="/interior/project"> See our Projects ></a><br />
                    </div>
                    <div class="tp-caption tp-resizeme" id="slide-1-layer-5" data-x="right" data-hoffset="20" data-y="bottom" data-voffset="53" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-responsive_offset="on" style="z-index: 9;">
                        
                        <a href="https://www.instagram.com/planera.interior/" target="_blank"><img src="~/assets/content/interiorv2/images/interiInsta.png" style="width:50px;height:50px;" /></a>
                    </div>
                </li>
                <li data-index="rs-4" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeIn" data-easeout="Power3.easeOut" data-masterspeed="5" data-delay="3500" data-rotate="0" data-saveperformance="off"
                    data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <img src="/assets/ImagesPlaneraInterior/-e-banner5.jpg" data-bgposition="center top" data-kenburns="on" data-duration="5000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="170" data-rotatestart="0" data-rotateend="0" data-blurstart="0"
                         data-blurend="0" data-offsetstart="0 0" data-offsetend="0 -40" data-bgparallax="4" class="rev-slidebg">
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-width="auto" data-height="auto" data-transform_idle="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 60px; line-height: 60px; font-weight: 600; color: rgba(255, 255, 255, 0.5);border-color:rgba(255, 255, 255, 1.00);">
                        <span style="font-size:80px;">We Are Passionate</span>
                    </div>
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 50px; line-height: 60px; font-weight: 300; color: rgba(255, 255, 255, 0.5);border-color:rgba(255, 255, 255, 1.00);">
                        <br /><br /><br /><span>To Style Your Space </span>
                    </div>
                   
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-4" data-x="left" data-y="bottom" data-voffset="59" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 20px; line-height: 60px;  color: rgba(255, 255, 255, 1.00); border-color:rgba(255, 255, 255, 1.00);">
                        <a href="/interior/project"> See our Projects ></a><br />
                    </div>
                    <div class="tp-caption tp-resizeme" id="slide-1-layer-5" data-x="right" data-hoffset="20" data-y="bottom" data-voffset="53" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="" data-transform_out="" data-start="" data-responsive_offset="on" style="z-index: 9;">
                        
                        <a href="https://www.instagram.com/planera.interior/" target="_blank"><img src="~/assets/content/interiorv2/images/interiInsta.png" style="width:50px;height:50px;" /></a>
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
</div>

<!--<div class="mfn-main-slider" id="mfn-rev-slider">
    <div id="rev_slider_1_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container sections_style_1">
        <div id="rev_slider_1_2" class="rev_slider fullwidthabanner tp-overflow-hidden" data-version="5.0.4.1">
            <ul>
                <li data-index="rs-1" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-description="">
                    <img src="/assets/content/interiorv2/images/interiorbg.png" width="1920" height="1000" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="x:left;skX:45px;s:500;e:Power4.easeOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 60px; line-height: 60px; font-weight: 600; color: rgba(255, 255, 255, 0.5);border-color:rgba(255, 255, 255, 1.00);">
                        <span style="font-size:80px;">Expand Your</span>-->
@*<br><span style="font-size:60px;font-weight:300 !important;"> Visual Capabilities </span>*@
<!--</div>
<div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="x:left;skX:45px;s:500;e:Power4.easeOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 50px; line-height: 60px; font-weight: 300; color: rgba(255, 255, 255, 0.5);border-color:rgba(255, 255, 255, 1.00);">
    <br /><br /><br /><span> Visual Capabilities </span>
</div>

<div class="tp-caption tp-resizeme" id="slide-1-layer-3" data-x="center" data-hoffset="0" data-y="bottom" data-voffset="-10" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="y:50px;opacity:0;s:800;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="1300" data-responsive_offset="on" style="z-index: 7;">-->
@*<img src="~/assets/content/interiorv2/images/home_app_slider_bg_black60.png" width="1920" height="180">*@
<!--</div>
                    <div class="tp-caption app_large_white tp-resizeme" id="slide-1-layer-4" data-x="left" data-y="bottom" data-voffset="59" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="x:-50px;opacity:0;s:600;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="2000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 20px; line-height: 60px;  color: rgba(255, 255, 255, 1.00); border-color:rgba(255, 255, 255, 1.00);">
                        <a href="/interior/project"> See our Projects ></a><br />
                    </div>


                    <div class="tp-caption tp-resizeme" id="slide-1-layer-5" data-x="right" data-hoffset="20" data-y="bottom" data-voffset="53" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="x:50px;opacity:0;s:600;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="2000" data-responsive_offset="on" style="z-index: 9;">

                        <a><img src="~/assets/content/interiorv2/images/interiFB.png" style="width:50px;height:50px;" /></a>
                        <a href="https://www.instagram.com/planera.interior/" target="_blank"><img src="~/assets/content/interiorv2/images/interiInsta.png" style="width:50px;height:50px;" /></a>
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom flv_viz_hid"></div>
        </div>
    </div>
</div>-->
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group" style="background: black;">
            <div class="entry-content">
                <div class="section mcb-section" style="padding-top:140px; padding-bottom:60px; background-image:url(../../assets/content/interiorv2/images/home_architect3_sectionbg2.png); background-repeat:no-repeat; background-position:center top">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap two-fifth valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column  column-margin-0px">
                                    <div class="column_attr clearfix" style="background-color:#000;">
                                        <div style="width: 150px; height: 3px; background: #ddd"></div>
                                        <hr class="no_line" style="margin:0 auto 140px">
                                        <h2 style="color:white">
                                            Planera Interior Design

                                        </h2>
                                        <div class="column two-third">
                                            <h5 style="color:white;text-justify">
                                                We offer Designing and Execution Services for Residential and Commercial projects.
                                            </h5>
                                            <p style="font-size:16px">
                                                Our primary aim is to create designs by focusing on the aesthetic side and ensuring the execution of our work with full perfection.
                                            </p>
                                            <p style="font-size:16px">
                                                Our designs are made by professionals and we are passionate to meet the aspiration of our customers.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section mcb-section highlight-left" style="padding-top:0px; padding-bottom:0px; background-color:#000;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-second valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix" style="padding:147px 10% 118px 30px">
                                        <h5 style="color: #fff">
                                            Our Services
                                            <div style="display: inline-block; width: 80px; height: 1px; background: #515150; position: relative; margin-left: 20px; top: -5px"></div>
                                        </h5>
                                        <h2 style="color: #fff">What We Can Do</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" style="padding-top:0px; padding-bottom:60px; background-color:#000; background-image:url(../../assets/content/interiorv2/images/home_architect3_sectionbg1.png); background-repeat:no-repeat; background-position:center top">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one valign-top move-up clearfix" style="margin-top:-100px" data-mobile="no-up">
                            <div class="mcb-wrap-inner interiorservice">
                                <div class="column mcb-column one-third column_hover_color">
                                    <div class="hover_color align_left" style="background:black;color:white; border-radius: 6px; overflow: hidden;" ontouchstart="this.classList.toggle('hover')">
                                        <div class="hover_color_bg" style="background:#ddd">
                                            <a href="/interior/services#generaltrade">
                                                <div class="hover_color_wrapper" style="padding:50px 40px">
                                                    <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                        <div class="image_wrapper">
                                                            <img class="scale-with-grid" src="~/assets/ImagesPlaneraInterior/hp-s-1.png" style="width:100px;height:84px;">
                                                        </div>
                                                    </div>
                                                    <hr class="no_line" style="margin:0 auto 45px">
                                                    <h4>Interior Design</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-third column_hover_color">
                                    <div class="hover_color align_left" style="background:#d5d5d5;border-radius: 6px; overflow: hidden;" ontouchstart="this.classList.toggle('hover')">
                                        <div class="hover_color_bg" style="background:#ddd">
                                            <a href="#">
                                                <div class="hover_color_wrapper" style="padding:50px 40px">
                                                    <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                        <div class="image_wrapper">
                                                            <img class="scale-with-grid" src="~/assets/ImagesPlaneraInterior/hp-s-2.png" style="width:100px;height:84px;">
                                                        </div>
                                                    </div>
                                                    <hr class="no_line" style="margin:0 auto 45px">
                                                    <h4>Exterior Design</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-third column_hover_color">
                                    <div class="hover_color align_left" style="background:#d5d5d5;border-radius: 6px; overflow: hidden;" ontouchstart="this.classList.toggle('hover')">
                                        <div class="hover_color_bg" style="background:#ddd">
                                            <a href="#">
                                                <div class="hover_color_wrapper" style="padding:50px 40px">
                                                    <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                        <div class="image_wrapper">
                                                            <img class="scale-with-grid" src="~/assets/ImagesPlaneraInterior/hp-s-3.png" style="width:100px;height:84px;">
                                                        </div>
                                                    </div>
                                                    <hr class="no_line" style="margin:0 auto 45px">
                                                    <h4>Landscape Design</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_divider">
                                    <hr class="no_line">
                                </div>
                                <div class="column mcb-column one-third column_hover_color">
                                    <div class="hover_color align_left" style="background:#d5d5d5;border-radius: 6px; overflow: hidden;" ontouchstart="this.classList.toggle('hover')">
                                        <div class="hover_color_bg" style="background:#ddd">
                                            <a href="#">
                                                <div class="hover_color_wrapper" style="padding:35px 40px">
                                                    <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                        <div class="image_wrapper">
                                                            <img class="scale-with-grid" src="~/assets/ImagesPlaneraInterior/hp-s-4.png" style="width:100px;height:85px;">
                                                        </div>
                                                    </div>
                                                    <hr class="no_line" style="margin:0 auto 45px">
                                                    <h4>
                                                       Consulting Conceptual Space & Design
                                                    </h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-third column_hover_color">
                                    <div class="hover_color align_left" style="background:#d5d5d5;border-radius: 6px; overflow: hidden;" ontouchstart="this.classList.toggle('hover')">
                                        <div class="hover_color_bg" style="background:#ddd">
                                            <a href="#">
                                                <div class="hover_color_wrapper" style="padding:50px 40px">
                                                    <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                        <div class="image_wrapper">
                                                            <img class="scale-with-grid" src="~/assets/ImagesPlaneraInterior/hp-s-5.png" style="width:100px;height:86px;">
                                                        </div>
                                                    </div>
                                                    <hr class="no_line" style="margin:0 auto 45px">
                                                    <h4>
                                                        Supervising Site Execution
                                                    </h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-third column_hover_color">
                                    <div class="hover_color align_left" style="background:#d5d5d5;border-radius: 6px; overflow: hidden;" ontouchstart="this.classList.toggle('hover')">
                                        <div class="hover_color_bg" style="background:#ddd">
                                            <a href="#">
                                                <div class="hover_color_wrapper" style="padding:50px 40px">
                                                    <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                        <div class="image_wrapper">
                                                            <img class="scale-with-grid" src="~/assets/ImagesPlaneraInterior/hp-s-6.png" style="width:100px;height:84px;">
                                                        </div>
                                                    </div>
                                                    <hr class="no_line" style="margin:0 auto 16px">
                                                    <h4>
                                                        Furniture & Lights Selection
                                                    </h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" style="padding-top:150px; padding-bottom:130px">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one-fifth column_placeholder">
                                    <div class="placeholder">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="column mcb-column four-fifth column_column animate" data-anim-type="fadeInRight">
                                    <div class="column_attr clearfix" style="padding:100px 8% 65px 45%; border: 20px solid #fff; border-radius: 6px">
                                        <h2 style="color:white">Our Vision</h2>
                                        <hr class="no_line" style="margin:0 auto 10px">
                                        <p style="color:#aaaaaa;font-size:17px;text-align:justify">
                                            We aim to sketch your imagination through the ultimate form of sophistication. We design your lifestyle. we are passionate to meet the aspiration of our customers.
                                        </p>
                                        <hr class="no_line" style="margin:0 auto 20px">
                                        <a class="button  button_size_2 button_js" href="/interior/contact" style="background:#ddd;color:#515150;font-size:16px"><span class="button_label">Inquire Now</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second valign-top move-up clearfix animate" data-anim-type="fadeInLeft" style="margin-top:-580px" data-mobile="no-up">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="~/assets/content/interiorv2/images/home_architect3_pic1.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @Html.Partial("~/Views/Home/_PI-ImgSlider.cshtml")
                <div class="section mcb-section" style="padding-top:30px; padding-bottom:30px">
                    <div class="section_wrapper mcb-section-inner">
                        @*<div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:0 1%">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item scale-with-grid aligncenter no_border hover-disable">
                                <div class="image_wrapper">
                                    <a href="#">
                                        <div class="mask"></div>
                                        <img class="scale-with-grid" src="~/assets/content/interiorv2/images/home_architect3_pic8.jpg">
                                    </a>
                                    <div class="image_links">
                                        <a href="#" class="link"><i class="icon-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@



                        @*<div class="wrap mcb-wrap one-second  column-margin-20px valign-top clearfix" style="padding:0 1%">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix align_right">
                                <h5 class="themecolor" style="color:white">
                                    Realizations
                                    <div style="display: inline-block; width: 80px; height: 1px; background: #d9d9d9; position: relative; margin-left: 20px; top: -5px"></div>
                                </h5>
                                <h2 style="color:white">Our Projects</h2>
                            </div>
                        </div>
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item scale-with-grid aligncenter no_border hover-disable">
                                <div class="image_wrapper">
                                    <a href="#">
                                        <div class="mask"></div>
                                        <img class="scale-with-grid" src="~/assets/content/interiorv2/images/home_architect3_pic9.jpg">
                                    </a>
                                    <div class="image_links">
                                        <a href="#" class="link"><i class="icon-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix">
                                <p>
                                    <i class="icon-right-circled themecolor" style="color:#d5d5d5"></i> Curabitur sed iaculis dolor non congue ligula
                                </p>
                            </div>
                        </div>
                    </div>
                </div>*@
                        @*<div class="wrap mcb-wrap three-fifth valign-top clearfix" style="padding:0 1%">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item scale-with-grid aligncenter no_border hover-disable">
                                <div class="image_wrapper">
                                    <a href="#">
                                        <div class="mask"></div>
                                        <img class="scale-with-grid" src="~/assets/content/interiorv2/images/home_architect3_pic10.jpg">
                                    </a>
                                    <div class="image_links">
                                        <a href="#" class="link"><i class="icon-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                        @*<div class="wrap mcb-wrap two-fifth valign-top clearfix" style="padding:0 1%">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item scale-with-grid aligncenter no_border hover-disable">
                                <div class="image_wrapper">
                                    <a href="#">
                                        <div class="mask"></div>
                                        <img class="scale-with-grid" src="~/assets/content/interiorv2/images/home_architect3_pic11.jpg">
                                    </a>
                                    <div class="image_links">
                                        <a href="#" class="link"><i class="icon-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_divider">
                                    <hr class="no_line" style="margin:0 auto 80px">
                                </div>
                                <div class="column mcb-column one-second column_column">
                                    <div class="column_attr clearfix  animate" data-anim-type="fadeInLeft">
                                        <h3 style="color:white">Our designs are professional and passionate to meet the ambition of our customer</h3>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_column animate" data-anim-type="fadeInRight">
                                    <div class="column_attr clearfix" color:lightgrey">
                                        In your home or office , we aim to create aesthetic and sophisticated designs. Whereever you are, we design your life.
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_button">
                                    <a class="button button_full_width button_size_2 button_js" href="/interior/project" style="background:#ddd;color:#515150"><span class="button_label">View our work</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wrap mcb-wrap one-second box-shadow valign-middle clearfix" style="padding:0; background-color:#f7f9fa;width:100%;">
                    <div class="mcb-wrap-inner ">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14314.83719313858!2d50.5347584!3d26.2386336!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x264bc01fa2bf4ca0!2sPlanera%20Group!5e0!3m2!1sen!2ssa!4v1649192418211!5m2!1sen!2ssa" width="100%" height="550px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        

                    </div>
                </div>
                @*<div class="section mcb-section" style="padding-top:90px; padding-bottom:70px; background-color:#000; background-image:url(content/interiorv2/images/home_architect3_sectionbg4.jpg); background-repeat:no-repeat; background-position:center top">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one  column-margin-20px valign-top clearfix">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one-third column_column">
                            <div class="column_attr clearfix" style="background-image:url('content/interiorv2/images/home_architect3_pic12.png'); background-repeat:no-repeat; background-position:center top; padding:0 0 0 70px; background-position: left center">
                                <h6 style="color: #eee; margin-bottom: 5px">PHONE NUMBER</h6>
                                <h4 style="color: #fff; margin: 0">+973 8376 6284</h4>
                            </div>
                        </div>
                        <div class="column mcb-column one-third column_column">
                            <div class="column_attr clearfix" style="background-image:url('content/interiorv2/images/home_architect3_pic13.png'); background-repeat:no-repeat; background-position:center top; padding:0 0 0 70px; background-position: left center">
                                <h6 style="color: #eee; margin-bottom: 5px">EMAIL ADDRESS</h6>
                                <h4 style="color: #fff; margin: 0">interior@planerabh.com</h4>
                            </div>
                        </div>
                        <div class="column mcb-column one-third column_column">
                            <div class="column_attr clearfix align_center">
                                <p style="font-size: 28px; line-height: 40px">
                                    <a href="#"><i class="icon-facebook-circled"></i></a><a href="#"><i class="icon-gplus-circled"></i></a><a href="#"><i class="icon-twitter-circled"></i></a><a href="#"><i class="icon-pinterest-circled"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

            </div>
        </div>
    </div>
</div>
